<div tabindex="-1" class="modal fade" id="printIndex-table" style="display: none;" aria-hidden="true">
	<div class="modal-dialog w900">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<div class="table-header ">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
						<span class="white">×</span>
					</button>
					<span class="modalFormTitle">印刷记录</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 ">
						<div class="table-responsive ">
							<form id="couponTemplatePrint-form">
								<input type="hidden" name="couponTemplateId" id="print_coupon_template_id" value="">
							</form>
							<table id="couponTemplatePrint-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>印刷时间</th>
										<th>数量（张）</th>
										<th class="total-amount">合计金额（元）</th>
										<th>备注</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>