#parse("/fin/withdrawLogBorrower/head.vm") 
<div class="col-xs-12">
  <p>
    ##<button id = "new_withdrawLog" type="button" class="btn btn-info btn-sm btn-primary" >新增</button>
    ##<button id = "edit_withdrawLog" type="button" class="btn  btn-pink btn-sm btn-primary" >修改</button>
    ##<button id = "delete_withdrawLog" type="button" class="btn btn-danger btn-sm btn-primary" >删除</button>
  </p>
</div>
<div class="col-xs-12">
    <div class="table-header">
    	表头信息
	</div>
<div class="table-responsive">
<form>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<td>
					id
				</td>
				<td>
					<input type="text" name="search_id"  class="input-medium search_init" />
				</td>
				<td>
					提现流水号
				</td>
				<td>
					<input type="text" name="search_withdrawNo"  class="input-medium search_init" />
				</td>
				<td>
					提现金额
				</td>
				<td>
				<input type="text" name="search_withdrawAmountMin" class="input-small search_init"/>至<input type="text" name="search_withdrawAmountMax" class="input-small search_init"/>
				</td>
				<td>
					到账金额
				</td>
				<td>
					<input type="text" name="search_arrivedAmountMin" class="input-small search_init"/>至<input type="text" name="search_arrivedAmountMax" class="input-small search_init"/>
				</td>
			</tr>
			<tr>	
				<td>
					提现时间
				</td>
				<td>
				<input type="text" name="search_withdrawTimeStart" class="input-medium search_init"  onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
                	至
                <input type="text" name="search_withdrawTimeEnd" class="input-medium search_init"  onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
				</td>
				<td>更新时间</td>
				<td >
					<input type="text" name="search_updateTimeStart" class="input-medium search_init" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
					至
	            	<input type="text" name="search_updateTimeEnd" class="input-medium search_init" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})">
				</td>
				<td>会员ID</td>
				<td><input type="text" name="search_memberId"  class="input-medium search_init" /></td>
				<td>会员姓名</td>
				<td><input type="text" name="search_trueName"  class="input-medium search_init" /></td>
			</tr>
			<tr>
				<td>手机号：</td>
                <td><input type="text" name="search_mobile" class="input-medium search_init"/></td>
				<td>备注</td>
				<td><input type="text" name="search_notice"  class="input-medium search_init" /></td>
				<td>状态</td>
				<td>#dictSelect ("search_status",${sysServiceUtil.getDictList('withdraw_state')} ,"请选择")</td>
				<td colspan=10><button id = "query_withdrawLog" type="button" class="btn btn-info btn-sm btn-primary">查询</button>
					<button id = "reset_loan" type="button" class="btn btn-info btn-sm btn-primary resetButton">重置</button>
				</td>
			</tr>
		</thead>
	</table>
</form>   
 
<table id="withdrawLog-table-2" class="table table-striped table-bordered" cellspacing="0" width="100%">
<thead>
<tr>
<th ><label><input class="ace" type="checkbox"> <span class="lbl"></span></label></th>
<th >id</th>
<th >提现流水号</th>
<th >提现金额</th>
<th >提现时间</th>
<th >到账金额</th>
<th >处理时间</th>
<th >更新时间</th>
##<th >用户绑定银行卡id</th>
<th >会员姓名</th>
<th >手机号</th>
##<th >手续费</th>
<th >备注</th>
<th >状态 </th>
</tr>
</thead>
</table>
</div>
</div>
 ##parse("/withdrawLogBorrower/form.vm")
