 #parse("/common/common.vm")
  #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'ajax':'$root_url/feedback/ajax',
   'queryFeedback':'$root_url/feedback/queryFeedback',
   'replyFeedback':'$root_url/feedback/replyFeedback'
   
   
   },'permission':{
	   	'replyFeedback': $shiro.hasPermission('feedback:replyFeedback')
   	},
   'feedbackType':#buildDictJson('feedback_type')
 "
 ]) 
 #set($css_url=["$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
 #set($js_url=["$root_url/static/js/lib/My97DatePicker/WdatePicker.js","$root_url/static/js/feedback.js"]) 

 #########################################DOM##################################### 