## 20亿活动
#parse("/common/common.vm")
#set($title="20亿活动_$!{title_suffix}")
#set($css_url=["$root_css_url/activity/break2Billion.css"])

##页面入口标识
#set($entry=["activity","break2Billion",["/static/lib/js/jq/jquery.rotate.min.js"]])

#if($currentUser)
    #set($logined=1)
#else
    #set($logined=0)
#end
#CSRFToken('xToken')


<div class="g-main z-pink" id="j-main" data-logined="$logined">
## banner
    <div class="g-top" id="j-top"></div>

    <div class="g-num z-fadeOut" id="j-num">
        <div class="u-total" id="j-total">当前投资总额：¥<span class="u-totalNum" id="j-totalNum">$!{paltformCapitalUtils.getPrefixPaltformTotalInvest()}$!{paltformCapitalUtils.getSuffixPaltformTotalInvest()}</span>
        </div>

        <span class="u-checkNum" id="j-checkNum">登录查看我的投资额</span>
    </div>
    <div class="g-tab-wrap">
        <ul class="g-tab-menu" id="j-tab-menu">
            <li class="u-tab u-tab1" data-skin="pink">
                <span class="u-tab-img ">
                    <i class="u-tab1-img"></i>
                </span>
                <span class="u-tab-text">欢乐20亿<br>领券抽大奖</span>
            </li>

            <li class="u-tab u-tab2" data-skin="yellow">
                <span class="u-tab-img">
                    <i class="u-tab2-img"></i>
                </span>
                <span class="u-tab-text">点亮20亿<br>瓜分狂欢红包</span>
            </li>

            <li class="u-tab u-tab3" data-skin="blue">
                <span class="u-tab-img ">
                    <i class="u-tab3-img"></i>
                </span>
                <span class="u-tab-text">冲榜20亿<br>iPhone SE 任性送</span>
            </li>

            <li class="u-indicator"></li>
        </ul>
    </div>

    <div class="g-section g-section1 g-wrap">

        <div class="g-section1-part1">
            <p class="u-section-text">一、活动期间，单笔投资金额≥2,000元，即可获得对应现金券一张，多投多得哦；奖励共发放100万，发完即止。</p>
        ## 进度条
            <div class="m-progress-wrap" id="j-progress-wrap">
                <div class="u-progress-tip" id="j-progress-tip">
                    <span class="u-progress-tip-text">
                        共¥<i id="j-progress-total">1,000,000</i><br>还剩¥<i id="j-progress-remain">1,000,000</i>
                    </span>
                    <span class="u-progress-arrow"></span>
                </div>

                <div class="u-progress">
                    <div class="u-progress-inner" id="j-progress-inner"></div>
                </div>
            </div>

            <table class="u-section1-table">
                <tr>
                    <th width="310px">单笔投资（元）</th>
                    <th width="236px">面额（元）</th>
                    <th>使用条件</th>
                </tr>
                <tr>
                    <td>2,000</td>
                    <td>50</td>
                    <td>起投金额≥2,000元，起投期限≥40天</td>
                </tr>
                <tr>
                    <td>3,000≤X＜5,000</td>
                    <td>100</td>
                    <td>起投金额≥5,000元，起投期限≥40天</td>
                </tr>
                <tr>
                    <td>5,000≤X＜10,000</td>
                    <td>200</td>
                    <td>起投金额≥10,000元，起投期限≥60天</td>
                </tr>
                <tr>
                    <td>10,000≤X</td>
                    <td>500</td>
                    <td>起投金额≥20,000元，起投期限≥90天</td>
                </tr>
            </table>
        </div>
        <div class="g-section1-part2">
            <p class="u-section-text">二、活动期间，当日累计投资额满1万元，即可参与幸运抽奖；（每日只能抽奖一次且当日获得的抽奖机会不可累计到次日）<br>
                <small style="margin-left: 28px;">例：小融第一日累计投资满1万元，可抽奖一次；次日投资满1万元，可抽奖一次</small>
            </p>

        ## 抽奖
            <div class="m-yl-lottery f-pos-r" style="margin-top: 40px;margin-bottom: 80px;">
                <div class="m-lottery-box" >
                    <div id="j-lottery-rotate" class="u-lottery-rotate" style="background: url(/static/img/activity/break2Billion/pan.png) no-repeat center top; ">
                    </div>
                    <div class="u-lottery-arrow" id="j-lottery-arrow" data-logined="$logined" data-status="0" data-count="0">
                        <span class="u-arrow-text j-arrow-text">开始</span>
                    </div>

                    <div class="u-luckly-wrap">
                        <p class="u-luckly-text">获奖列表</p>
                        <div class="u-luckly-list-wrap">
                            <ul class="u-luckly-list" id="j-luckly-list">
                                <script id="j-luckly-list-tpl" type="text/html">
                                    {{each lotteryList as item}}
                                    <li>
                                    <span class="u-user-img">
                                        <img src="{{if item.avatar}}$aliyun_url/{{item.avatar}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                    </span>
                                        <span class="u-user-name">{{item.memberName}}</span>
                                        <span class="u-user-result">{{item.rewardInfo}}</span>
                                        <span class="u-user-time">{{item.createTimeStr}}</span>
                                    </li>
                                    {{/each}}
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="g-section g-section2 g-wrap">
        <p class="u-section-text">一、活动期间，累计投资达一定额度，可领取相应奖励，每人限领1次，仅限破20亿后72小时内领取，别错过喽~</p>

        <div style="text-align: center; min-height: 374px">
            <img src="/static/img/activity/break2Billion/redbag.png" alt="">
        </div>

        <div style="text-align: center;margin-top: 30px;">
            <div class="u-section2-btn z-disabled" id="j-section2-btn">立即领取</div>
        </div>

        <table class="u-section2-table">
            <tr>
                <th width="310px">累计投资（元）</th>
                <th width="236px">奖励</th>
                <th>现金券使用条件</th>
            </tr>
            <tr>
                <td>20,000≤X＜50,000</td>
                <td>100现金券+0.5%收益券</td>
                <td>起投金额≥5,000元，起投期限≥40天</td>
            </tr>
            <tr>
                <td>50,000≤X＜100,000</td>
                <td>200现金券+1%收益券</td>
                <td>起投金额≥10,000元，起投期限≥60天</td>
            </tr>
            <tr>
                <td>100,000≤X＜150,000</td>
                <td>200现金券+1.5%收益券</td>
                <td>起投金额≥10,000元，起投期限≥60天</td>
            </tr>
            <tr>
                <td>X≥150,000</td>
                <td>500现金券+2%收益券</td>
                <td>起投金额≥20,000元，起投期限≥90天</td>
            </tr>
        </table>

        <div class="u-section2-rule2 u-section-text">
            二、20亿破亿大礼包：平台投资额破20亿的用户，将获得“投资破20亿奖励礼包”：<br>
            <span class="f-fc-danger">1张88元的现金券+2张1%的收益券+破亿时投资额2‰的人气值。</span><br>
            奖励在活动结束后三日内发放，客服会与您电话联系确认相关获奖信息。<br>
            <small>（直投项目未履约时，项目资金不计入平台累计成功投资额；另20亿后，每逢10亿才有破亿礼包哦~）</small>
        </div>
    </div>


    <div class="g-section g-section3 g-wrap">

        <p class="u-section-text">一、活动期间，截止平台投资总额突破20亿，累计投资额排名前三的用户可获得以下实物大奖<br>
            （若投资额相等，先达到该投资额的用户排名靠前）。</p>

        <div class="g-card-list" id="j-card-list">
            <div class="m-card m-card1">
                <div class="u-card-title">达人No.1</div>

                <div class="u-card-img u-card-img1">
                    <img src="/static/img/activity/break2Billion/card1.png" alt="">
                </div>
                <div class="u-card-user-wrap">
                    <div class="u-card-user">
                        <span class="u-user-header"><img src="/static/img/member/avatar_35x35.png" alt=""></span>
                        <span class="u-user-name">虚位以待</span>
                    </div>
                </div>
            </div>
            <div class="m-card m-card2">
                <div class="u-card-title">达人No.2</div>

                <div class="u-card-img u-card-img1">
                    <img src="/static/img/activity/break2Billion/card2.png" alt="">
                </div>
                <div class="u-card-user-wrap">
                    <div class="u-card-user">
                        <span class="u-user-header"><img src="/static/img/member/avatar_35x35.png" alt=""></span>
                        <span class="u-user-name">虚位以待</span>
                    </div>
                </div>
            </div>

            <div class="m-card m-card3">
                <div class="u-card-title">达人No.3</div>

                <div class="u-card-img u-card-img1">
                    <img src="/static/img/activity/break2Billion/card3.png" alt="">
                </div>
                <div class="u-card-user-wrap">
                    <div class="u-card-user">
                        <span class="u-user-header"><img src="/static/img/member/avatar_35x35.png" alt=""></span>
                        <span class="u-user-name">虚位以待</span>
                    </div>
                </div>
            </div>
        </div>

        <p class="u-notify">提示：奖品也可兑换成人气值，人气值=奖品标注价格</p>

        <div class="u-userList">
            <div class="u-ranking-wrap">
                <p class="u-ranking-text">20亿冲榜达人</p>
                <div class="u-ranking-list-wrap">

                    <div class="f-dn u-list-beforeActive" id="j-list-beforeActive">
                        <p>— 敬请期待 —</p>
                    </div>

                    <div  class="f-dn u-ranking-list" id="j-ranking-list"></div>

                    <script type="text/html" id="j-ranking-list-tpl">
                        {{if rankList&&rankList.length>0}}
                        <div class="u-table-divider"></div>

                        <table class="u-list-table u-list-table-left">
                            <thead>
                            <tr>
                                <th width="30">排名</th>
                                <th width="75"></th>
                                <th width="178">用户名</th>
                                <th width="122">投资额</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{each rankList as item i}}
                            {{if i>-1&&i<5}}
                            <tr>
                                <td style="text-align:center">{{i+1}}</td>
                                <td></td>
                                <td>
                                    <div class="u-user-wrap">
                                        <span class="u-user-head">
                                            {{if item.lastTotalInvest}}
                                                {{if item.avatar}}
                                                <img src="https://oss-cn-hangzhou.aliyuncs.com/{{item.avatar}}" alt="用户头像">
                                                {{else}}
                                                <img src="/static/img/member/avatar_35x35.png" alt="用户头像">
                                                {{/if}}
                                            {{else}}
                                            <img src="/static/img/member/avatar_35x35.png" alt="用户头像">
                                            {{/if}}
                                        </span>
                                        <span class="u-lastUsername">{{item.lastUsername}}</span>
                                    </div>
                                </td>
                                <td class="f-fc-red">{{if item.lastTotalInvest}}¥{{item.lastTotalInvest}}{{else}} {{/if}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}

                            </tbody>
                        </table>

                        <table class="u-list-table u-list-table-right">
                            <thead>
                            <tr>
                                <th width="30">排名</th>
                                <th width="75"></th>
                                <th width="178">用户名</th>
                                <th width="122">投资额</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{each rankList as item i}}
                            {{if i>4&&i<11}}
                            <tr>
                                <td style="text-align:center">{{i+1}}</td>
                                <td></td>
                                <td>
                                    <div class="u-user-wrap">
                                       <span class="u-user-head">
                                            {{if item.lastTotalInvest}}
                                                {{if item.avatar}}
                                                <img src="https://oss-cn-hangzhou.aliyuncs.com/{{item.avatar}}" alt="用户头像">
                                                {{else}}
                                                <img src="/static/img/member/avatar_35x35.png" alt="用户头像">
                                                {{/if}}
                                            {{else}}
                                            <img src="/static/img/member/avatar_35x35.png" alt="用户头像">
                                            {{/if}}
                                        </span>
                                        <span class="u-lastUsername">{{item.lastUsername}}</span>
                                    </div>
                                </td>
                                <td class="f-fc-red">{{if item.lastTotalInvest}}¥{{item.lastTotalInvest}}{{else}}{{/if}}</td>
                            </tr>
                            {{/if}}
                            {{/each}}

                            </tbody>
                        </table>
                        {{/if}}
                    </script>
                </div>
            </div>
        </div>

    </div>

## 规则
    <div class="g-rule">
        <div class="g-wrap g-rule-content">
            <strong class="f-fs16" >活动规则：</strong><br>
            <p style="margin-top: 10px;"><i>1、</i>活动对象：有融网所有用户；</p>
            <p> <i>2、</i>活动时间：2016年6月15日10:00至投资额达到20亿截止；<br></p>
            <p style="margin-bottom: 0;"><i>3、</i>现金券领取后3天内有效，收益券领取后10天内有效；</p>
            <p style="padding-left: 20px;">现金券使用规则:<br>
                50元现金券：起投金额≥2,000元，起投期限≥40天<br>
                100元现金券：起投金额≥5,000元，起投期限≥40天<br>
                200元现金券：起投金额≥10,000元，起投期限≥60天<br>
                500元现金券：起投金额≥20,000元，起投期限≥90天<br>
            </p>
            <i>4、</i>冲榜20亿活动奖励发放说明：<br>
            <p style="padding-left: 20px;">实物奖励将于活动结束后3个工作日内与您联系，请保持手机畅通，如错过通知则视为放弃获奖资格；</p>
##            <p><i>5、</i>垫资融项目不参与本活动，直投项目履约后计入累计投资额；<br></p>
            <p><i>5、</i>平台投资破二十亿后，逢十亿发放破亿礼包；<br></p>
            <p><i>6、</i>如有其他疑问，请拨打客服热线：400-025-6688；<br></p>
            <p><i>7、</i>本活动与苹果公司无关；<br></p>
            <p style="margin-bottom: 0;"><i>8、</i>本活动最终解释权归有融网所有</p>
        </div>
    </div>

</div>

