##50亿活动
#parse("/common/common.vm")
#set($title="福临50亿_$!{title_suffix}")
#set($css_url=["$root_css_url/activity/fiveBillion.css","$root_css_url/activity/activityCommon/activityNav.css"])
#set($js_url=[
    "/static/lib/js/vue/vue.js",
    "/static/lib/js/vue/vue.extend.js",
    "/static/lib/js/jq/jquery.rotate.min.js",
    "$root_js_url/activity/activityCommon/activityNav.js",
    "$root_js_url/activity/fiveBillion.js"
])
#set($aliyun='https://yrstatic.oss-cn-hangzhou.aliyuncs.com')
#if($currentUser)
    #set($logined=true)
#else
    #set($logined=false)
#end
#CSRFToken('xToken')

<div id="j-fiveBillion" class="" data-logined="$logined" v-cloak>
    <div class="m-head">
        <div class="u-time">活动时间：2017.02.20~{{init.endTime | formatTime 'yyyy.MM.dd' }}</div>
    </div>

##    非模态弹框
    <div class="u-forbid-get animated zoomIn" v-show="tipsShow"  v-text="tipsTextList[tipsType]"></div>

##    实物奖品提示
    <div class="u-dialog-wrapper u-entity f-tac animated zoomIn" v-if="sign=='entity' && showDialog">
        <div class="u-dialog-close-btn" @click="closeDialog()"></div>
        <h3 class="f-fs14">好手气！获得</h3>
        <img :src="'$aliyun/static/img/fiveBillion/entity'+myLotteryObj.rewardIndex+'.png'" width="140px">
        <p class="f-fs18 u-reward-name">{{myLotteryObj.rewardText}}</p>
        <p class="f-fs14 u-activity-tips">活动结束后我们将在3个工作日内与您联系~</p>
    </div>

##    优惠券奖品提示
    <div class="u-dialog-wrapper u-coupon f-tac animated zoomIn" v-show="sign=='coupon' && showDialog">
        <div class="u-dialog-close-btn" @click="closeDialog()"></div>
        <h3 class="f-fs14">恭喜您获得</h3>
        <img src="/static/img/activity/fiveBillion/coupon.png">
        <p class="u-coupon-value">{{myLotteryObj.rewardValue}}</p>
        <p class="f-fs18 u-reward-name">{{myLotteryObj.rewardText}}</p>
        <a class="f-fs14 u-activity-link-btn" href="$root_url/products/list-all-all-investing-1-createTimeDesc-1.html">快去使用吧</a>
    </div>

##    人气值奖品提示
    <div class="u-dialog-wrapper u-popularity animated zoomIn f-tac" v-show="sign=='popularity' && showDialog">
        <div class="u-dialog-close-btn" @click="closeDialog()"></div>
        <h3 class="f-fs14">客官，奉上</h3>
        <p class="u-reward-name">{{myLotteryObj.rewardText}}</p>
        <p class="f-fs14">以表诚意~</p>
    </div>

##    文案提示
    <div class="u-dialog-wrapper u-lucky-bag f-tac animated zoomIn" v-show="sign == 'ensure' && showDialog">
        <div class="u-dialog-close-btn" @click="closeDialog()"></div>
        <p class="f-fs14 u-lucky-bag-tips">{{modalObj.text}}</p>
        <a class="f-fs14 u-activity-link-btn" :href="modalObj.href" v-if="!modalObj.clickMethod">{{modalObj.btnText}}</a>
        <a class="f-fs14 u-activity-link-btn" @click="confirmGetLuckyBag" v-if="modalObj.clickMethod == 'confirmGetLuckyBag'">{{modalObj.btnText}}</a>
    </div>

    <div class="u-dialog-wrapper u-lucky-bag f-tac animated zoomIn" v-show="sign == 'selectUseCount' && showDialog">
        <div class="u-dialog-close-btn" @click="closeDialog()"></div>
        <p class="f-fs14 u-lucky-bag-tips">确认消耗<i v-show="lotteryType===1">1</i><i v-show="lotteryType===2">{{init.number}}</i>张抽奖券抽奖吗？</p>
        <a class="f-fs14 u-activity-link-btn" @click="goLottery">确认并抽奖</a>
    </div>

##    中奖纪录弹框
    <div class="u-award-record animated fadeIn" v-show="sign == 'lotteryRecord' && showDialog">
        <div class="u-disappear-button" @click="closeDialog()"></div>
        <h1 class="f-fs18 f-tac">我的中奖纪录</h1>
        <div class="u-winning-record-container">
            <ul v-if="myLotteryList.length>0">
                <li v-for="item in myLotteryList">
                    {{item.rewardInfo}}
                    <span class="f-fr f-fs14">{{item.happenTime | formatTime 'yyyy.MM.dd hh:mm'}}</span>
                </li>
            </ul>
            <div class="u-noData" v-else>
                <img src="$aliyun/static/img/fiveBillion/noDataBg.png" class="u-block-img">
                暂无中奖记录
            </div>
        </div>

##      分页的代码
        <div class="m-pagenavi" v-if="pages.totalPageCount>1">
            <div class="u-page-turn f-bg-m">
                <div class="u-turn-left" v-if="pages.pageNo===1"><i></i></div>

                <div class="u-turn-left" v-else>
                    <i :class="{'z-selected':pages.pageNo>1}" @click="goPage(pages.pageNo-1||1)"></i>
                </div>

                <ul>
                    <li v-for="(item,i) in pages.max" @click="goPage(pages.min+i)"
                        :class="{'z-current':pages.pageNo===pages.min+i}">{{pages.min+i}}
                    </li>
                </ul>

                <div class="u-turn-right" v-if="pages.pageNo===pages.totalPageCount">
                    <i></i>
                </div>

                <div class="u-turn-right" v-else>
                    <i :class="{'z-selected':pages.pageNo<pages.totalPageCount&&pages.totalPageCount>1}" @click="goPage(pages.pageNo+1)"></i>
                </div>
            </div>
        </div>

    ##    中奖纪录弹框
    </div>

    <div class="m-body">
        <div class="m-first-game f-pos-r">
            <div class="u-get-area">
                <a href="javascript:" @click="getLuckyBag(1)" @mouseenter="switchRewardType(1)" @mouseleave="switchRewardType(0)">
                    <div class="u-luck-bag f-pos-r" :class="{'f-can-get': rewardType === 1}">
                        <p v-show="rewardType !== 1">28元现金券<br>
                            ＋1.5%收益券<br>
                            各一张</p>
                        <p v-show="rewardType === 1">现金券使用条件：<br>
                            起投金额≥2000元，<br>
                            起投期限≥50天，<br>
                            收益券无限制</p>
                    </div>
                    <div class="u-get-button z-disabled" v-if="init.reward === 1">已领取</div>
                    <div class="u-get-button" v-else>立即领取</div>
                </a>
                <a href="javascript:" @click="getLuckyBag(2)" @mouseenter="switchRewardType(2)" @mouseleave="switchRewardType(0)">
                    <div class="u-luck-bag f-pos-r" :class="{'f-can-get': rewardType === 2}">
                        <p v-show="rewardType !== 2">288元现金券<br>
                            ＋1.5%收益券<br>
                            各一张</p>
                        <p v-show="rewardType === 2">现金券使用条件：<br>
                            起投金额≥6000元，<br>
                            起投期限≥180天，<br>
                            收益券无限制</p>
                    </div>
                    <div class="u-get-button z-disabled" v-if="init.reward === 2">已领取</div>
                    <div class="u-get-button" v-else>立即领取</div>
                </a>
                <a href="javascript:" @click="getLuckyBag(3)" @mouseenter="switchRewardType(3)" @mouseleave="switchRewardType(0)">
                    <div class="u-luck-bag f-pos-r" :class="{'f-can-get': rewardType === 3}">
                        <p v-show="rewardType !== 3">1288元现金券<br>
                            ＋1.5%收益券<br>
                            各一张</p>
                        <p v-show="rewardType === 3">现金券使用条件：<br>
                            起投金额≥50000元，<br>
                            起投期限≥80天，<br>
                            收益券无限制</p>
                    </div>
                    <div class="u-get-button z-disabled" v-if="init.reward === 3">已领取</div>
                    <div class="u-get-button" v-else>立即领取</div>
                </a>
            </div>
        </div>
        <div class="m-game f-pos-r">
            <div class="u-title">
                <h1>我的抽奖券<br><strong>{{init.countLuckBoth}}</strong> &nbsp;张
                    <a href="javascript:">如何获得？
                        <span class="u-chance-tips">
                           <i>活动期间注册的用户，单笔投资2个月及以上的项目，每满1000元可获一张抽奖券，<br>
                           其余用户单笔投资2个月及以上的项目，每满2000元可获一张抽奖券，多投多得哦~</i>
                        </span>
                    </a>
                </h1>
            </div>
            <div class="u-selective-title">
                <h3 :class="{'f-selected': lotteryType === 1}" @click="changeLotteryType(1)"><strong>福禄双全</strong><br>每次抽奖消耗<em>1张</em>抽奖券</h3>
                <h3 :class="{'f-selected': lotteryType === 2}" @click="changeLotteryType(2)"><strong>福与天齐</strong><br>每次抽奖消耗<em>{{init.number}}张</em>抽奖券
                </h3>
            </div>

        ##      福禄双全与福禄天齐
            <div class="m-second-game">
                <h4>
                    <img src="$aliyun/static/img/fiveBillion/title2.png" v-show="lotteryType === 1">
                    <img src="$aliyun/static/img/fiveBillion/title3.png" v-show="lotteryType === 2">
                </h4>
                <h5>抽奖机会：<strong v-show="lotteryType===1">{{init.countLuckBoth}}</strong>
                    <strong v-show="lotteryType===2">{{init.countLuckMonkey}}</strong>
                    <em>次</em>
                </h5>
                <a herf="javascript:" class="f-award-history" @click="awardRecord('lotteryRecord')">我的中奖纪录 >></a>
                <div class="u-stick-left"><img src="$aliyun/static/img/fiveBillion/left-stick.png"></div>
                <div class="u-stick-right"><img src="$aliyun/static/img/fiveBillion/right-stick.png"></div>
                <div class="u-lottery f-pos-r">
                    <img class="u-rotate-disc j-lottery-rotate" src="$aliyun/static/img/fiveBillion/turnplate.png"
                         v-show="lotteryType === 1">
                    <img class="u-rotate-disc j-lottery-rotate" src="$aliyun/static/img/fiveBillion/zhuanpan.png"
                         v-show="lotteryType === 2">
                    <div class="u-rotate-needle" @click="isSureLottery()"></div>
                </div>
                <h6>
                    <img src="$aliyun/static/img/fiveBillion/listTitle.png" v-show="lotteryType === 1">
                    <img src="$aliyun/static/img/fiveBillion/title_tianqi.png" v-show="lotteryType === 2">
                </h6>

                <div class="u-userlist">
                    <ul class="j-usersRankList" v-show="lotteryType === 1">
                        <li v-for="item in init.luckBothRecord" class="f-pos-r">
                      <span class="u-user-head">
                         <img :src="item.avatars | avatarUrl" alt="用户头像">
                      </span>
                            <template v-if="item.happenTime != ''">
                                恭喜{{item.usernames}}获得<em>{{item.rewardInfo}}</em>
                                <i class="u-award-time">{{item.happenTime | formatTime 'yyyy.MM.dd hh:mm'}}</i>
                            </template>
                            <template v-else>
                                {{item.usernames}}
                            </template>
                        </li>
                    </ul>
                    <ul class="j-usersRankList" v-show="lotteryType === 2">
                        <li v-for="item in init.luckMonkeyRecord" class="f-pos-r">
                      <span class="u-user-head">
                         <img :src="item.avatars | avatarUrl" alt="用户头像">
                      </span>
                            <template v-if="item.happenTime != ''">
                                恭喜{{item.usernames}}获得<em>{{item.rewardInfo}}</em>
                                <i class="u-award-time">{{item.happenTime | formatTime 'yyyy.MM.dd hh:mm'}}</i>
                            </template>
                            <template v-else>
                                {{item.usernames}}
                            </template>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="javascript:" class="f-regular-button" @click="switchRuleModal('show')">查看活动规则</a>

##          活动规则
            <div class="u-regular-content animated fadeIn" v-show="ruleShow">
                <div class="u-disappear-button" @click="switchRuleModal('hide')"></div>
                <div class="u-scroll-forsmall">
                <h1 class="f-tac u-activity-rule-title">活动规则</h1>
                <div class="m-activity-rule-content">
                    1. 活动对象：有融网所有用户；<br />
                    2. 活动时间：{{init.startTime | formatTime 'yyyy年MM月dd日 hh:mm' }}~{{init.endTime | formatTime 'MM月dd日 hh:mm' }}<br />
                    3. 现金券领取后5天内有效，使用规则如下：<br />
                    <table>
                        <thead>
                        <tr>
                            <th>现金券</th>
                            <th>起投金额（元）</th>
                            <th>起投期限（天）</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>20</td>
                            <td>2000</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>28</td>
                            <td>2000</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>4000</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>158</td>
                            <td>6000</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>288</td>
                            <td>6000</td>
                            <td>180</td>
                        </tr>
                        <tr>
                            <td>588</td>
                            <td>28000</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>1288</td>
                            <td>50000</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>1328</td>
                            <td>50000</td>
                            <td>80</td>
                        </tr>
                    </table>
                    4. 转让专区项目不参与本活动；<br />
                    5. 发放说明：实物奖励将于活动结束后3个工作日内与您联系，请保持手机畅通，如错过通知则视为放弃获奖资格（实物奖励可兑换成人气值，人气值=奖品标注价格。其中：kindle入门版价值￥558，200元京东购物卡价值￥200，DW手表价值￥1188，iPhone7
                    128G价值￥5588）；<br />
                    6. 如有其他疑问，请拨打客服热线：400-025-6688；<br/>
                    7. 本活动与苹果公司无关，最终解释权归有融网所有。<br/>
                </div>
            </div>
            </div>
            <div class="u-cover" v-show="coverShow"></div>
            <div class="u-white-cover" v-show="whiteCoverShow"></div>

        </div>
    </div>
</div>


##    活动公共导航
<div class="u-floating-window " id="j-floating-window">
    <span class="u-icon-robot"></span>
    <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&amp;uin=4000266688" target="_blank" class="u-icon-kefu f-pos-r"
       id="j-icon-kefu">
    </a>
    <a class="u-icon-weibo f-pos-r" href="http://weibo.com/5248978316/" target="_blank" id="j-icon-weibo">
        <span class="f-dn">
            <i class="f-fs20"></i>
            <img src="/static/img/common/new-weibo-qrcode.png">
        </span>
    </a>
    <a class="u-icon-weixin f-pos-r" id="j-icon-app">
        <span class="f-dn">
            <i class="f-fs20"></i>
            <img src="/static/img/common/new-weixin-qrcode.png">
        </span>
    </a>
    <a class="u-icon-app f-pos-r" id="j-icon-weixin">
        <span class="f-dn">
            <i class="f-fs20"></i>
            <img src="/static/img/common/new-app-qrcode.png">
        </span>
    </a>
    <a class="u-icon-top f-pos-r" id="j-icon-gotop"></a>
</div>


<script>
    var logined = $logined,
            isDev =$isDev
</script>
