#parse('/common/common.vm')
#set($title="抢标五重礼 乐享人气值 一羊领头 一鸣惊人 一锤定音 幸运女神 一掷千金_$!{title_suffix}")
#set($css_url=["$root_css_url/activity/quadrupleGift.css"])
#set($js_url=[
    "$aliyun_url/yrstatic/static/js/lib/jquery.circliful.min.js",
    "/static/lib/js/template.js",
    "$root_js_url/activity/quadrupleGift.js"
])
<!--[if (gte IE 7)&(lte IE 9)]>
<style>
/*首页项目进度环*/
.u-ring-bg{
	position: absolute;
	top: -20px;
	left: -20px;
	z-index: 1;
	background: url(/static/img/homepage/round/round0.png) no-repeat center;
	height: 160px;
	width: 160px;
}
</style>
<![endif]-->
<div class="f-mh500 f-cf ">
    <!--head-->
    <div class="u-quadrupleGift-hd">
        <div class="g-wrap f-pos-r"></div>
    </div>
    <!--/head-->
    <!--内容-->
    <div id="j-yylt" class="m-quadrupleGift-wrap f-bce">
        <div class="g-wrap">
            <h2><i class="f-fs18">1</i><strong class="f-fs24">一羊领头</strong>每个理财项目，第一位成功投资的用户，将获得<em>8点人气值</em>的奖励。</h2>
            <div class="f-cf u-quadrupleGift-box">
                <div class="u-quadrupleGift-products j-list-switch" id="j-project-01">
                </div>
                <script id="j-project-tpl01" type="text/html">
                    <ul>
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>
                            <h4 class="f-fs14">
                                <a href="/products/detail-{{item.id}}.html" target="_blank">
                                    {{item.prefixProjectName}}
                                    <span class="f-fs12 f-text-overflow">{{item.suffixProjectName}}</span>
                                </a>
                            </h4>
                            <div class="u-pl-photo">
                                <s></s>
                                <a class="u-pl-wrap" href="/products/detail-{{item.id}}.html" target="_blank">
                                    <img src="{{if item.thumbnail}}$aliyun_url/{{item.thumbnail}}{{else}}/static/img/common/default-product.jpg{{/if}}" alt="{{item.suffixProjectName}}">
                                    <span class="u-ring-bg" style="background-image:url(/static/img/homepage/round/round{{if item.progress==100}}_finish{{else}}{{item.progress | parseInt}}{{/if}}.png)"></span>
                                    <i></i>
                                    <span class="j-pl-stat2 u-pl-stat circliful" data-dimension="160" data-fontsize="14" data-percent="{{item.progress}}" data-fgcolor="{{if item.progress==100}}#f8ada8{{else}}#e33f4a{{/if}}" data-bordersize="5" data-bgcolor="#ccc" style="width: 160px;">

                                    </span>
                                </a>
                                {{if item.notice}}
                                <div class="u-pl-process f-tac f-fs12">上线时间：{{item.onlineTime | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</div>
                                {{else}}
                                <div class="u-pl-process f-tac f-fs12">当前进度{{item.progress}}%</div>
                                {{/if}}
                                <s></s>
                            </div>
                            <div class="u-pl-tips">
                                {{if exist}}
                                    {{if item.notice || item.progress=='0'}}
                                        快来一羊领头！
                                    {{/if}}
                                {{else}}
                                    <i>{{item.username}}</i>用时<span>{{item.firstInvestInterval}}</span>获得一羊领头
                                {{/if}}

                            </div>
                            <div class="u-pl-btn">
                                {{if item.notice}}
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round z-disabled  j-index-notice"
                                   id="j-project-notice">距上线&nbsp;&nbsp;
                                    <span class="j-project-noticeTime" data-time="{{item.onlineTime}}"></span>
                                </a>
                                {{else if item.progress=='0'}}
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round">
                                    {{item.status | statusText:'我要一羊领头'}}
                                </a>
                                {{else if item.status==30}}
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round">
                                    立即投资
                                </a>
                                {{else}}
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round {{if item.status!=30}}z-closed{{/if}}">
                                    {{item.status | statusText}}
                                </a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <ol style="width:{{activityLeadingSheepProjects.length*28}}px;">
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>●</li>
                        {{/each}}
                    </ol>
                </script>
                <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip01.png">
                <div class="u-quadrupleGift-list">
                    <h3 class="f-fs18">一羊领头榜</h3>
                    <div class="u-list-wrap">
                        <ul id="j-gainList-01" class="j-gainList">
                        </ul>
                    </div>
                    <script id="j-gainList-tpl01" type="text/html">
                        {{each list as item}}
                        <li>
                            <div class="u-rL2nd-user">
                                    <span class="u-user-head">
                                        <img src="{{if item.avatars}}$aliyun_url/{{item.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                <span class="u-user-name">{{item.username}}</span>
                            </div>
                            <span class="u-giftText">用时<b>{{item.firstInvestInterval}}</b>获得{{item.title}}</span>
                            <a target="_blanck" href="/products/detail-{{item.projectId}}.html" target="_blank">{{item.projectName}}</a>
                        </li>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
##    一鸣惊人
    <div id="j-ymjr" class="m-quadrupleGift-wrap f-bcf">
        <div class="g-wrap">
            <h2><i class="f-fs18">2</i><strong class="f-fs24">一鸣惊人</strong>每个理财项目，单笔投资金额最高的用户，
                根据投资期限可获得
                <em class="z-redBottom j-hoverBlock">
                    18-58点人气值
                </em>
                的奖励（若有多个最高投资者，则先投资的用户获得奖励）。</h2>
        ##            人气值弹框
            <div class="u-popularityValueLevel f-dn j-toolTip">
                <table>
                    <tr class="u-firstTr">
                        <td>投资期限
                            T(天)
                        </td>
                        <td>10≤T<60</td>
                        <td>60≤T<120</td>
                        <td>120≤T<180</td>
                        <td>180≤T</td>
                    </tr>
                    <tr>
                        <td>人气值(点)</td>
                        <td> <em>18</em></td>
                        <td> <em>28</em></td>
                        <td> <em>38</em></td>
                        <td> <em>58</em></td>
                    </tr>
                </table>
            </div>
            <div class="f-cf u-quadrupleGift-box">
                <div class="u-quadrupleGift-products j-list-switch" id="j-project-02">
                </div>
                <script id="j-project-tpl02" type="text/html">
                    <ul>
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>
                            <h4 class="f-fs14">
                                <a href="/products/detail-{{item.id}}.html" target="_blank">
                                    {{item.prefixProjectName}}
                                    <span class="f-fs12 f-text-overflow">{{item.suffixProjectName}}</span>
                                </a>
                            </h4>
                            <div class="u-pl-photo">
                                <s></s>
                                <a class="u-pl-wrap" href="/products/detail-{{item.id}}.html" target="_blank">
                                    <img src="{{if item.thumbnail}}$aliyun_url/{{item.thumbnail}}{{else}}/static/img/common/default-product.jpg{{/if}}" alt="{{item.suffixProjectName}}">
                                    <span class="u-ring-bg" style="background-image:url(/static/img/homepage/round/round{{if item.progress==100}}_finish{{else}}{{item.progress | parseInt}}{{/if}}.png)"></span>
                                    <i></i>
                                    <span class="j-pl-stat2 u-pl-stat circliful" data-dimension="160" data-fontsize="14" data-percent="{{item.progress}}" data-fgcolor="{{if item.progress==100}}#f8ada8{{else}}#e33f4a{{/if}}" data-bordersize="5" data-bgcolor="#ccc" style="width: 160px;">

                                    </span>
                                </a>
                                <div class="u-pl-process f-tac f-fs12">当前进度{{item.progress}}%</div>
                                <s></s>
                            </div>
                            <div class="u-pl-tips">
                                {{if exist}}
                                    {{if item.notice || item.progress=="0"}}
                                        <strong>虚位以待！</strong>
                                    {{else}}
                                        <strong>当前最高 {{item.username}}</strong> <em>￥{{item.investAmount}}</em>
                                    {{/if}}
                                {{else}}
                                    <i>{{item.username}}</i><span>￥{{item.investAmount}}</span>获得一鸣惊人
                                {{/if}}

                            </div>
                            <div class="u-pl-btn">
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round {{if item.status!=30}}z-closed{{/if}}">
                                    {{item.status | statusText:'我要一鸣惊人'}}
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <ol style="width:{{activityLeadingSheepProjects.length*28}}px;">
                    {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>●</li>
                    {{/each}}
                    </ol>
                </script>
                <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip01.png">
                <div class="u-quadrupleGift-list">
                    <h3 class="f-fs18">一鸣惊人榜</h3>
                    <div class="u-list-wrap">
                        <ul id="j-gainList-02" class="j-gainList">
                        </ul>
                    </div>
                    <script id="j-gainList-tpl02" type="text/html">
                        {{each list as item}}
                        <li>
                            <div class="u-rL2nd-user">
                                    <span class="u-user-head">
                                        <img src="{{if item.avatars}}$aliyun_url/{{item.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                <span class="u-user-name">{{item.username}}</span>
                            </div>
                            <span class="u-giftText">投资<b>￥{{item.investAmount}}</b>获得{{item.title}}</span>
                            <a target="_blank" href="/products/detail-{{item.projectId}}.html">{{item.projectName}}</a>
                        </li>
                        {{/each}}
                    </script>
                </div>
            </div>

        </div>
    </div>
##    一锤定音
    <div id="j-ycdy" class="m-quadrupleGift-wrap f-bce">
        <div class="g-wrap">
            <h2><i class="f-fs18">3</i><strong class="f-fs24">一锤定音</strong>每个理财项目，最后一位成功投资的用户，
                根据投资期限可获得<em class="z-redBottom j-hoverBlock">
                    10-28点人气值
                </em>的奖励。</h2>
        ##            人气值弹框
            <div class="u-popularityValueLevel f-dn j-toolTip">
                <table>
                    <tr class="u-firstTr">
                        <td>投资期限
                            T(天)
                        </td>
                        <td>10≤T<60</td>
                        <td>60≤T<120</td>
                        <td>120≤T<180</td>
                        <td>180≤T</td>
                    </tr>
                    <tr>
                        <td>人气值(点)</td>
                        <td> <em>10</em></td>
                        <td> <em>15</em></td>
                        <td> <em>20</em></td>
                        <td> <em>28</em></td>
                    </tr>
                </table>
            </div>
            <div class="f-cf u-quadrupleGift-box">
                <div class="u-quadrupleGift-products j-list-switch" id="j-project-03">
                </div>
                <script id="j-project-tpl03" type="text/html">
                    <ul>
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>
                            <h4 class="f-fs14">
                                <a href="/products/detail-{{item.id}}.html" target="_blank">
                                    {{item.prefixProjectName}}
                                    <span class="f-fs12 f-text-overflow">{{item.suffixProjectName}}</span>
                                </a>
                            </h4>
                            <div class="u-pl-photo">
                                <s></s>
                                <a class="u-pl-wrap" href="/products/detail-{{item.id}}.html" target="_blank">
                                    <img src="{{if item.thumbnail}}$aliyun_url/{{item.thumbnail}}{{else}}/static/img/common/default-product.jpg{{/if}}" alt="{{item.suffixProjectName}}">
                                    <span class="u-ring-bg" style="background-image:url(/static/img/homepage/round/round{{if item.progress==100}}_finish{{else}}{{item.progress | parseInt}}{{/if}}.png)"></span>
                                    <i></i>
                                    <span class="j-pl-stat2 u-pl-stat circliful" data-dimension="160" data-fontsize="14" data-percent="{{item.progress}}" data-fgcolor="{{if item.progress==100}}#f8ada8{{else}}#e33f4a{{/if}}" data-bordersize="5" data-bgcolor="#ccc" style="width: 160px;">

                                    </span>
                                </a>
                                <div class="u-pl-process f-tac f-fs12">当前进度{{item.progress}}%</div>
                                <s></s>
                            </div>
                            <div class="u-pl-tips">
                                {{if exist}}
                                    <strong>剩余投资金额</strong> <em>￥{{item.investAmount}}</em>
                                {{else}}
                                    <i>{{item.username}}</i><span>￥{{item.investAmount}}</span>获得一锤定音
                                {{/if}}
                            </div>
                            <div class="u-pl-btn">

                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round {{if item.status!=30}}z-closed{{/if}}">
                                    {{item.status | statusText:'我要一锤定音'}}
                                </a>

                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <ol style="width:{{activityLeadingSheepProjects.length*28}}px;">
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>●</li>
                        {{/each}}
                    </ol>
                </script>
                <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip01.png">
                <div class="u-quadrupleGift-list">
                    <h3 class="f-fs18">一锤定音榜</h3>
                    <div class="u-list-wrap">
                        <ul id="j-gainList-03" class="j-gainList">
                        </ul>
                        </div>
                    <script id="j-gainList-tpl03" type="text/html">
                        {{each list as item}}
                        <li>
                            <div class="u-rL2nd-user">
                                    <span class="u-user-head">
                                        <img src="{{if item.avatars}}$aliyun_url/{{item.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                <span class="u-user-name">{{item.username}}</span>
                            </div>
                            <span class="u-giftText">投资<b>￥{{item.investAmount}}</b>获得{{item.title}}</span>
                            <a target="_blank" href="/products/detail-{{item.projectId}}.html">{{item.projectName}}</a>
                        </li>
                        {{/each}}
                    </script>
                </div>
            </div>

        </div>
    </div>
     <!--一掷千金榜，最后一名，投资额最高-->
   <div id="j-yzqj" class="m-quadrupleGift-wrap f-bcf">
        <div class="g-wrap">
            <h2><i class="f-fs18">4</i><strong class="f-fs24">一掷千金</strong>每个理财项目，如用户同时获得一鸣惊人和一锤定音，
                根据投资期限可额外获得<em class="z-redBottom j-hoverBlock">
                    15-48点人气值
                </em>的奖励。</h2>
        ##            人气值弹框
            <div class="u-popularityValueLevel f-dn j-toolTip" style="left: 312px;">
                <table>
                    <tr class="u-firstTr">
                        <td>投资期限
                            T(天)
                        </td>
                        <td>10≤T<60</td>
                        <td>60≤T<120</td>
                        <td>120≤T<180</td>
                        <td>180≤T</td>
                    </tr>
                    <tr>
                        <td>人气值(点)</td>
                        <td> <em>15</em></td>
                        <td> <em>20</em></td>
                        <td> <em>30</em></td>
                        <td> <em>48</em></td>
                    </tr>
                </table>
            </div>
            <div class="f-cf u-quadrupleGift-box">
                <div class="u-quadrupleGift-products j-list-switch" id="j-project-04">
                </div>
                <script id="j-project-tpl04" type="text/html">
                    <ul>
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>
                            <h4 class="f-fs14">
                                <a href="/products/detail-{{item.id}}.html" target="_blank">
                                    {{item.prefixProjectName}}
                                    <span class="f-fs12 f-text-overflow">{{item.suffixProjectName}}</span>
                                </a>
                            </h4>
                            <div class="u-pl-photo">
                                <s></s>
                                <a class="u-pl-wrap" href="/products/detail-{{item.id}}.html" target="_blank">
                                    <img src="{{if item.thumbnail}}$aliyun_url/{{item.thumbnail}}{{else}}/static/img/common/default-product.jpg{{/if}}" alt="{{item.suffixProjectName}}">
                                    <span class="u-ring-bg" style="background-image:url(/static/img/homepage/round/round{{if item.progress==100}}_finish{{else}}{{item.progress | parseInt}}{{/if}}.png)"></span>
                                    <i></i>
                                    <span class="j-pl-stat2 u-pl-stat circliful" data-dimension="160" data-fontsize="14" data-percent="{{item.progress}}" data-fgcolor="{{if item.progress==100}}#f8ada8{{else}}#e33f4a{{/if}}" data-bordersize="5" data-bgcolor="#ccc" style="width: 160px;">

                                    </span>
                                </a>
                                <div class="u-pl-process f-tac f-fs12">当前进度{{item.progress}}%</div>
                                <s></s>
                            </div>
                            <div class="u-pl-tips">
                                {{if exist}}
                                    <strong>剩余投资金额</strong> <em>￥{{item.investAmount}}</em>
                                {{else}}
                                    <i>{{item.username}}</i><span>￥{{item.investAmount}}</span>获得一掷千金
                                {{/if}}
                            </div>
                            <div class="u-pl-btn">

                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round {{if item.status!=30}}z-closed{{/if}}">
                                    {{item.status | statusText:'我要一掷千金'}}
                                </a>

                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <ol style="width:{{activityLeadingSheepProjects.length*28}}px;">
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>●</li>
                        {{/each}}
                    </ol>
                </script>
                <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip01.png">
                <div class="u-quadrupleGift-list">
                    <h3 class="f-fs18">一掷千金榜</h3>
                    <div class="u-list-wrap">
                        <ul id="j-gainList-04" class="j-gainList">
                        </ul>
                        </div>
                    <script id="j-gainList-tpl04" type="text/html">
                        {{each list as item}}
                        <li>
                            <div class="u-rL2nd-user">
                                    <span class="u-user-head">
                                        <img src="{{if item.avatars}}$aliyun_url/{{item.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                <span class="u-user-name">{{item.username}}</span>
                            </div>
                            <span class="u-giftText">投资<b>￥{{item.investAmount}}</b>获得{{item.title}}</span>
                            <a target="_blank" href="/products/detail-{{item.projectId}}.html">{{item.projectName}}</a>
                        </li>
                        {{/each}}
                    </script>
                </div>
            </div>

        </div>
    </div>
    
    
    
    <div id="j-xyns" class="m-quadrupleGift-wrap f-bce">
        <div class="g-wrap">
            <h2><i class="f-fs18">5</i><strong class="f-fs24">幸运女神</strong>每个理财项目，项目满额后，系统将随机抽取一位该项目投资人，抽中者将获得<em>8点人气值</em>的奖励。</h2>
            <div class="f-cf u-quadrupleGift-box">
                <div class="u-quadrupleGift-products j-list-switch" id="j-project-05">
                </div>
                <script id="j-project-tpl05" type="text/html">
                    <ul>
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>
                            <h4 class="f-fs14">
                                <a href="/products/detail-{{item.id}}.html" target="_blank">
                                    {{item.prefixProjectName}}
                                    <span class="f-fs12 f-text-overflow">{{item.suffixProjectName}}</span>
                                </a>
                            </h4>
                            <div class="u-pl-photo">
                                <s></s>
                                <a class="u-pl-wrap" href="/products/detail-{{item.id}}.html" target="_blank">
                                    <img src="{{if item.thumbnail}}$aliyun_url/{{item.thumbnail}}{{else}}/static/img/common/default-product.jpg{{/if}}" alt="{{item.suffixProjectName}}">
                                    <span class="u-ring-bg" style="background-image:url(/static/img/homepage/round/round{{if item.progress==100}}_finish{{else}}{{item.progress | parseInt}}{{/if}}.png)"></span>
                                    <i></i>
                                    <span class="j-pl-stat2 u-pl-stat circliful" data-dimension="160" data-fontsize="14" data-percent="{{item.progress}}" data-fgcolor="{{if item.progress==100}}#f8ada8{{else}}#e33f4a{{/if}}" data-bordersize="5" data-bgcolor="#ccc" style="width: 160px;">

                                    </span>
                                </a>
                                <div class="u-pl-process f-tac f-fs12">当前进度{{item.progress}}%</div>
                                <s></s>
                            </div>
                            <div class="u-pl-tips">
                                {{if exist}}
                                <strong>虚位以待！</strong>
                                {{else}}
                                    <i>{{item.username}}</i>获得幸运女神
                                {{/if}}

                            </div>
                            <div class="u-pl-btn">
                                <a href="/products/detail-{{item.id}}.html" target="_blank" class="f-round {{if item.status!=30}}z-closed{{/if}}">
                                    {{item.status | statusText:'我要当幸运儿'}}
                                </a>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    <ol style="width:{{activityLeadingSheepProjects.length*28}}px;">
                        {{each activityLeadingSheepProjects as item i}}
                        <li {{if i==0}}class="z-current"{{/if}}>●</li>
                        {{/each}}
                    </ol>
                </script>
                <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip01.png">
                <div class="u-quadrupleGift-list">
                    <h3 class="f-fs18">幸运女神榜</h3>
                    <div class="u-list-wrap">
                        <ul id="j-gainList-05" class="j-gainList">
                        </ul>
                    </div>
                    <script id="j-gainList-tpl05" type="text/html">
                        {{each list as item}}
                        <li>
                            <div class="u-rL2nd-user">
                                    <span class="u-user-head">
                                        <img src="{{if item.avatars}}$aliyun_url/{{item.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                <span class="u-user-name">{{item.username}}</span>
                            </div>
                            <span class="u-giftText">{{item.title}}在<b>{{item.investCount}}人</b>中青睐了你</span>
                            <a target="_blank" href="/products/detail-{{item.projectId}}.html">{{item.projectName}}</a>
                        </li>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!--抢标风云榜-->
    <div class="m-quadrupleGift-list f-bcf">
        <div class="g-wrap">
            <h5>抢标风云榜</h5>
            <div class="u-quadrupleGift-piece f-cf" id="j-rankList"></div>
            <i class="u-direction-l j-direction-btn" data-direction="right"></i>
            <i class="u-direction-r j-direction-btn" data-direction="left"></i>
            <script id="j-rankList-template" type="text/html">
                <ul>
                {{each list as item i}}
                    <li class="j-wrap-li">
                    {{if i!=0}}
                        <img src="/static/img/activity/quadrupleGift/quadrupleGift_strip02.png">{{/if}}
                        <div class="u-quadrupleGift-slist">
                        <h6 class="f-fs24">{{item.title}}</h6>
                        <b>共有{{item.totalMembers}}位获得{{item.title}}</b>
                        <s></s>
                        <ul>
                            {{each item.ranks as user}}
                                <li>
                                    <div class="u-user-wrap">
                                    <span class="u-user-head">
                                        <img src="{{if user.avatars}}$aliyun_url/{{user.avatars}}{{else}}/static/img/member/avatar_35x35.png{{/if}}" alt="用户头像">
                                        <i>&nbsp;</i>
                                    </span>
                                        {{user.username}}
                                    </div>
                                    <p class="u-quadrupleGift-prize">
                                        共获得{{user.gainTimes}}次{{item.title}}<br>
                                        奖励<em>{{user.income}}点</em>人气值
                                    </p>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    </li>
                {{/each}}
                </ul>
            </script>
        </div>
    </div>
    <div class="m-quadrupleGift-rule f-bce">
        <div class="g-wrap">
            <div class="u-quadrupleGift-rule">
                <h6 class="f-fs20">活动规则</h6>
                <p>1、活动时间：长期有效；
                    <br>2、活动对象：有融网所有投资用户(各客户端均可参与)；
                    <br>3、转让专区项目不参与本活动；
                    <br>4、直投项目履约后才能获取人气值奖励；
                    <br>5、活动期间获得的人气值奖励，系统即时发放到您的账户，人气值可兑换优惠券，优惠券仅限投资时使用，<a href="/coupon/reputation" target="_blank">查看我的人气值</a>；
                    <br>6、募集金额≤2万的项目，不享受五重礼人气值奖励
                    <br>7、若有其他疑问请拨打客服热线：<em>400-025-6688</em>；
                    <br>本次活动最终解释权归有融网所有
                </p>
            </div>
        </div>
    </div>
    <!--/内容-->
</div>
#CSRFToken()