#parse("/common/common.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>有融管理后台系统</title>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
    <link href="$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" id="mylink"/>
    <script src="$ligerui_url/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="$ligerui_url/lib/ligerUI/js/ligerui.all.js" type="text/javascript"></script>
    <script src="$ligerui_url/lib/ligerUI/js/plugins/ligerTab.js"></script>
    <script src="$ligerui_url/lib/jquery.cookie.js"></script>
    <script src="$ligerui_url/lib/json2.js"></script>
    <script type="text/javascript">
        var indexdatademo =
                [
                    {
                        text: '基础', isexpand: false, children: [
                        {url: "$ligerui_url/demos/base/resizable.htm", text: "改变大小"},
                        {url: "$ligerui_url/demos/base/drag.htm", text: "拖动"},
                        {url: "$ligerui_url/demos/base/drag2.htm", text: "拖动2"},
                        {url: "$ligerui_url/demos/base/dragresizable.htm", text: "拖动并改变大小"},
                        {url: "$ligerui_url/demos/base/tip.htm", text: "气泡"},
                        {url: "$ligerui_url/demos/base/tip2.htm", text: "气泡2"}
                    ]
                    },
                    {
                        text: '过滤器', isexpand: false, children: [
                        {url: "$ligerui_url/demos/filter/filter.htm", text: "自定义查询"},
                        {url: "$ligerui_url/demos/filter/filterwin.htm", text: "在窗口显示"},
                        {url: "$ligerui_url/demos/filter/grid.htm", text: "配合表格"}
                    ]
                    },
                    {
                        text: '弹窗', isexpand: false, children: [
                        {url: "$ligerui_url/demos/dialog/dialogAll.htm", text: "弹出框", isnew: true},
                        {url: "$ligerui_url/demos/dialog/dialogParent.htm", text: "子窗口传参", isnew: true},
                        {url: "$ligerui_url/demos/dialog/dialogTarget.htm", text: "载入目标DIV"},
                        {url: "$ligerui_url/demos/dialog/dialogUrl.htm", text: "窗口"},
                        {url: "$ligerui_url/demos/dialog/tip.htm", text: "右下角的提示"},
                        {url: "$ligerui_url/demos/dialog/window.htm", text: "可最小化"}
                    ]
                    },
                    {
                        text: '菜单', isexpand: false, children: [
                        {url: "$ligerui_url/demos/menu/evenmenu.htm", text: "事件支持"},
                        {url: "$ligerui_url/demos/menu/menubar.htm", text: "菜单条/工具条"},
                        {url: "$ligerui_url/demos/menu/mulmenu.htm", text: "多个菜单同时存在"}
                    ]
                    },
                    {
                        text: '下拉框', isexpand: false, children: [
                        {url: "$ligerui_url/demos/comboBox/triggerEvent.htm", text: "初始化触发事件"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxV126.htm", text: "按键支持"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxSelect.htm", text: "select表单"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxUnSelect.htm", text: "可取消选择"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxAuto.htm", text: "自动完成"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxSingle.htm", text: "单选"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxSingleCheckBox.htm", text: "单选(复选框)"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxMul.htm", text: "多选"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxTable.htm", text: "表格"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxTableMul.htm", text: "表格(多选)"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxInterface.htm", text: "接口方法"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxEven.htm", text: "事件支持"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxCase001.htm", text: "联动效果"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxTree.htm", text: "下拉框 - 树"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxGrid.htm", text: "下拉框 - 分页表格"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxGridWitchCondition.htm", text: "下拉框 - 分页表格(带搜索)"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxPop.htm", text: "下拉框 - 新页面选取数据"},
                        {url: "$ligerui_url/demos/comboBox/comboBoxV123.htm", text: "实时新增数据项"}
                    ]
                    },
                    {
                        text: '树', isexpand: false, children: [
                        {url: "$ligerui_url/demos/tree/bigDataTest.htm", text: "大数据量支持"},
                        {url: "$ligerui_url/demos/tree/treeIsExpand.htm", text: "展开初始化"},
                        {url: "$ligerui_url/demos/tree/treeDelay.htm", text: "延迟加载"},
                        {url: "$ligerui_url/demos/tree/treeDelayUrl.htm", text: "延迟加载(异步加载)"},
                        {url: "$ligerui_url/demos/tree/icon.htm", text: "节点图标"},
                        {url: "$ligerui_url/demos/tree/draggable.htm", text: "可拖拽"},
                        {url: "$ligerui_url/demos/tree/case/twotree.htm", text: "两个树 可拖拽"},
                        {url: "$ligerui_url/demos/tree/expandable.htm", text: "可扩展支持"},
                        {url: "$ligerui_url/demos/tree/treehtml.htm", text: "树(html初使化)"},
                        {url: "$ligerui_url/demos/tree/treedata.htm", text: "树(data初使化)"},
                        {url: "$ligerui_url/demos/tree/treeurl.htm", text: "树(url初使化)"},
                        {url: "$ligerui_url/demos/tree/treeedit.htm", text: "可编辑"},
                        {url: "$ligerui_url/demos/tree/treeselect.htm", text: "树 选择节点"},
                        {url: "$ligerui_url/demos/tree/treemanager.htm", text: "接口方法"},
                        {url: "$ligerui_url/demos/tree/treeeven.htm", text: "丰富的事件支持"},
                        {url: "$ligerui_url/demos/tree/treecase.htm", text: "模拟异步动态加载节点"},
                        {url: "$ligerui_url/demos/tree/treemenu.htm", text: "右键菜单"},
                        {url: "$ligerui_url/demos/tree/treecheckboxinit.htm", text: "选择初始化"},
                        {url: "$ligerui_url/demos/tree/treedbdata.htm", text: "ID PID数据格式"},
                        {url: "$ligerui_url/demos/tree/v132.htm", text: "取消半选择状态"}
                    ]
                    },

                    {
                        text: "ListBox", isexpand: "false", children: [
                        {url: "$ligerui_url/demos/listbox/listboxCheckbox.htm", text: "显示复选框"},
                        {url: "$ligerui_url/demos/listbox/listboxMove.htm", text: "列表框可移动"},
                        {url: "$ligerui_url/demos/listbox/listboxMul.htm", text: "多选列表框"},
                        {url: "$ligerui_url/demos/listbox/listboxSingle.htm", text: "单选列表框"},
                        {url: "$ligerui_url/demos/listbox/listboxTable.htm", text: "表格列表框"}
                    ]
                    },

                    {
                        text: '表单', isexpand: false, children: [
                        {url: "$ligerui_url/demos/form/formNew.htm", text: "html自动表单"},
                        {url: "$ligerui_url/demos/form/formNewValid.htm", text: "html自动表单(验证)"},

                        {
                            text: 'V1.2.5', isexpand: false, children: [
                            {url: "$ligerui_url/demos/form/v125/afterContent.htm", text: "input后置内容"},
                            {url: "$ligerui_url/demos/form/v125/afterContent.htm", text: "dictionary"},
                            {url: "$ligerui_url/demos/form/v125/enabled.htm", text: "可控制状态、可隐藏"},
                            {url: "$ligerui_url/demos/form/v125/fieldError.htm", text: "显示/隐藏字段错误"},
                            {url: "$ligerui_url/demos/form/v125/setFieldValidate.htm", text: "动态设置字段的验证信息"}
                        ]
                        },
                        {url: "$ligerui_url/demos/form/tab/default.htm", text: "页签支持1(新)"},
                        {url: "$ligerui_url/demos/form/tab/indexInit.htm", text: "页签支持(页签初始化)(新)"},
                        {url: "$ligerui_url/demos/form/tab/dataInit.htm", text: "页签支持(数据初始化)(新)"},
                        {url: "$ligerui_url/demos/v121/form/data.htm", text: "加载/设置数据"},
                        {url: "$ligerui_url/demos/form/v118/autoform.htm", text: "自动创建表单(新)"},
                        {url: "$ligerui_url/demos/form/v118/autoform2.htm", text: "自动创建表单2"},
                        {url: "$ligerui_url/demos/v120/form/selectLink.htm", text: "联动效果"},
                        {url: "$ligerui_url/demos/v120/form/buttons.htm", text: "按钮"},
                        {url: "$ligerui_url/demos/v120/form/buttons2.htm", text: "按钮2"},
                        {url: "$ligerui_url/demos/v121/form/getEditor.htm", text: "获取表单元素"},
                        {url: "$ligerui_url/demos/form/button.htm", text: "按钮"},
                        {url: "$ligerui_url/demos/form/checkbox.htm", text: "复选框"},
                        {url: "$ligerui_url/demos/form/checkbox2.htm", text: "复选框2"},
                        {url: "$ligerui_url/demos/form/radio.htm", text: "单选框"},
                        {url: "$ligerui_url/demos/form/radio2.htm", text: "单选框2"},
                        {url: "$ligerui_url/demos/form/spinner.htm", text: "调整器"},
                        {url: "$ligerui_url/demos/form/spinner2.htm", text: "调整器2"},
                        {url: "$ligerui_url/demos/form/dateEditor.htm", text: "日期"},
                        {url: "$ligerui_url/demos/form/textbox.htm", text: "文本框"},
                        {url: "$ligerui_url/demos/form/textbox2.htm", text: "文本框2"},

                        {text: "RadioList", url: "$ligerui_url/demos/form/radioList.htm"},
                        {text: "CheckBoxList", url: "$ligerui_url/demos/form/checkboxlist.htm"},
                        {text: "弹出框1", url: "$ligerui_url/demos/form/popupEdit1.htm"},
                        {text: "弹出框2", url: "$ligerui_url/demos/form/popupEdit2.htm"},

                        {url: "$ligerui_url/demos/form/form1.htm", text: "综合"},
                        {url: "$ligerui_url/demos/v121/form/validate.htm", text: "表单验证(内置)"},
                        {url: "$ligerui_url/demos/form/validator/errorLabelContainer.htm", text: "表单验证1"},
                        {url: "$ligerui_url/demos/form/validator/form2.htm", text: "表单验证2"},
                        {url: "$ligerui_url/demos/form/validator/form3.htm", text: "表单验证3"},
                        {url: "$ligerui_url/demos/form/validator/form4.htm", text: "表单验证4"},
                        {url: "$ligerui_url/demos/form/validator/invalidHandler.htm", text: "表单验证5"}
                    ]
                    },
                    {
                        isexpand: "false", text: "表格", children: [
                        {
                            isexpand: "false", text: "搜索支持", children: [
                            {url: "$ligerui_url/demos/filter/grid.htm", text: "高级自定义查询"},
                            {url: "$ligerui_url/demos/grid/search/autoFilter.htm", text: "自动过滤"},
                            {url: "$ligerui_url/demos/grid/search/search.htm", text: "查询 表格"}
                        ]
                        },
                        {
                            isexpand: "false", text: "V126", children: [
                            {url: "$ligerui_url/demos/grid/v126/key.htm", text: "键盘支持"}
                        ]
                        },
                        {
                            isexpand: "false", text: "V131", children: [
                            {url: "dotnet$ligerui_url/demos/grid/pager/server_scroll.aspx", text: "滚动分页(追加分页)"},
                            {url: "dotnet$ligerui_url/demos/grid/pager/server_scroll2.aspx", text: "滚动分页(自定义分页栏)"}
                        ]
                        },
                        {
                            isexpand: "false", text: "固定列", children: [
                            {url: "$ligerui_url/demos/grid/frozen/frozengrid.htm", text: "固定列"},
                            {url: "$ligerui_url/demos/grid/frozen/treefrozengrid.htm", text: "兼容树"},
                            {url: "$ligerui_url/demos/grid/frozen/mulheaders.htm", text: "兼容多表头"}
                        ]
                        },
                        {
                            isexpand: "false", text: "可扩展支持", children: [
                            {url: "$ligerui_url/demos/grid/expandable/method.htm", text: "方法"},
                            {url: "$ligerui_url/demos/grid/expandable/editor_numberbox.htm", text: "编辑器"},
                            {url: "$ligerui_url/demos/grid/expandable/formatter.htm", text: "格式化器"},
                            {url: "$ligerui_url/demos/grid/expandable/sorter.htm", text: "自定义排序"}
                        ]
                        },
                        {
                            isexpand: "false", text: "编辑(行)", children: [
                            {url: "$ligerui_url/demos/grid/editrow/editrow.htm", text: "编辑"},
                            {url: "$ligerui_url/demos/grid/editrow/editrow2.htm", text: "编辑2"}
                        ]
                        },
                        {
                            isexpand: "false", text: "编辑(明细)", children: [
                            {url: "$ligerui_url/demos/grid/editdetail/detail.htm", text: "编辑"},
                            {url: "$ligerui_url/demos/grid/editdetail/detail2.htm", text: "编辑2"}
                        ]
                        },
                        {
                            isexpand: "false", text: "编辑表格", children: [
                            {url: "$ligerui_url/demos/grid/editgrid/addrow.htm", text: "编辑支持"},
                            {url: "$ligerui_url/demos/grid/editgrid/popup.htm", text: "在弹出框选择"},
                            {url: "$ligerui_url/demos/v120/editgrid/popup.htm", text: "弹出框1"},
                            {url: "$ligerui_url/demos/v120/editgrid/popup2.htm", text: "弹出框2"},
                            {url: "$ligerui_url/demos/v120/editgrid/selectLink.htm", text: "联动效果"},
                            {url: "$ligerui_url/demos/grid/editgrid/addrowwithdata.htm", text: "增加行"},
                            {url: "$ligerui_url/demos/grid/editgrid/addrowwithdata2.htm", text: "引入行"},
                            {url: "$ligerui_url/demos/grid/editgrid/addrowwithdata3.htm", text: "引入行2(推荐)"},
                            {url: "$ligerui_url/demos/grid/editgrid/editgrideven.htm", text: "编辑器事件"},
                            {url: "$ligerui_url/demos/grid/editgrid/editgridupdatecell.htm", text: "更新单元格"},
                            {url: "$ligerui_url/demos/grid/editgrid/updaterow.htm", text: "更新行"},
                            {url: "$ligerui_url/demos/grid/editgrid/getdata.htm", text: "获取更新数据"}
                        ]
                        },
                        {
                            isexpand: "false", text: "复选框支持", children: [
                            {url: "$ligerui_url/demos/grid/checkbox/default.htm", text: "带复选框"},
                            {url: "$ligerui_url/demos/grid/checkbox/init.htm", text: "复选框初始化"},
                            {url: "$ligerui_url/demos/grid/checkbox/memory.htm", text: "复选框分页记忆"}
                        ]
                        },
                        {
                            isexpand: "false", text: "表头/列", children: [
                            {url: "$ligerui_url/demos/grid/header/changeheadertext.htm", text: "改变表头文本"},
                            {url: "$ligerui_url/demos/grid/header/columnpercentage.htm", text: "列 宽度百分比"},
                            {url: "$ligerui_url/demos/grid/header/hidecolumn.htm", text: "显示/隐藏 列"},
                            {url: "$ligerui_url/demos/grid/header/setcolumnwidth.htm", text: "列 调整宽度"},
                            {url: "$ligerui_url/demos/grid/mulheader/grid1.htm", text: "多表头1"},
                            {url: "$ligerui_url/demos/grid/mulheader/grid2.htm", text: "多表头2"},
                            {url: "$ligerui_url/demos/grid/mulheader/grid3.htm", text: "多表头3"},
                            {url: "$ligerui_url/demos/grid/header/setcolumns.htm", text: "动态设置表头"}
                        ]
                        },
                        {
                            isexpand: "false", text: "汇总", children: [
                            {url: "$ligerui_url/demos/grid/total/totalgrid.htm", text: "汇总表格"},
                            {url: "$ligerui_url/demos/grid/total/totalgrid2.htm", text: "汇总表格2"},
                            {url: "$ligerui_url/demos/grid/total/totalgridall.htm", text: "汇总表格3(全部数据)"},
                            {url: "$ligerui_url/demos/grid/total/group.htm", text: "带分组"}
                        ]
                        },
                        {
                            isexpand: "false", text: "行事件", children: [
                            {url: "$ligerui_url/demos/grid/rowgrid/allowUnSelectRow.htm", text: "选择行(支持Ctrl)"},
                            {url: "$ligerui_url/demos/grid/rowgrid/checkrowgrid.htm", text: "选择行支持(复选框)"},
                            {url: "$ligerui_url/demos/grid/rowgrid/selectRowButtonOnly.htm", text: "点击复选框才能选择行"},
                            {url: "$ligerui_url/demos/grid/rowgrid/selectrowgrid.htm", text: "选择行支持"}, {url: "$ligerui_url/demos/grid/rowgrid/dbclickrowgrid.htm", text: "双击行支持"},
                            {url: "$ligerui_url/demos/grid/rowgrid/contextmenurowgrid.htm", text: "右击支持"}
                        ]
                        },
                        {
                            isexpand: "false", text: "分组", children: [
                            {url: "$ligerui_url/demos/grid/groupable/default.htm", text: "默认"},
                            {url: "$ligerui_url/demos/grid/groupable/render.htm", text: "自定义格式"},
                            {url: "$ligerui_url/demos/grid/groupable/checkbox.htm", text: "带复选框"},
                            {url: "$ligerui_url/demos/grid/groupable/detail.htm", text: "明细"},
                            {url: "$ligerui_url/demos/grid/groupable/total.htm", text: "汇总"}
                        ]
                        },
                        {
                            isexpand: "false", text: "树", children: [
                            {url: "$ligerui_url/demos/grid/treegrid/treegrid.htm", text: "树 表格"},
                            {url: "$ligerui_url/demos/grid/treegrid/listdata.htm", text: "线性结构"},
                            {url: "$ligerui_url/demos/grid/treegrid/editable.htm", text: "树 可编辑"},
                            {url: "$ligerui_url/demos/grid/treegrid/draggable.htm", text: "树 可拖拽"}
                        ]
                        },
                        {
                            isexpand: "false", text: "基本功能", children: [
                            {url: "$ligerui_url/demos/grid/base/toolbar.htm", text: "带工具条"},
                            {url: "$ligerui_url/demos/grid/base/rownumbers.htm", text: "行序号"},
                            {url: "$ligerui_url/demos/grid/base/fullgrid.htm", text: "百分比高度表格"},
                            {url: "$ligerui_url/demos/grid/base/templategrid.htm", text: "自定义单元格"},
                            {url: "$ligerui_url/demos/grid/base/normalgrid.htm", text: "高度宽度设置"},
                            {url: "$ligerui_url/demos/grid/base/delaydata.htm", text: "延时加载"},
                            {url: "$ligerui_url/demos/grid/base/draggable.htm", text: "多行移位"},
                            {url: "$ligerui_url/demos/grid/base/draggable2.htm", text: "行移位、表头拖拽"},
                            {url: "$ligerui_url/demos/grid/base/twogriddraggable.htm", text: "两个表格拖拽"},
                            {url: "dotnet$ligerui_url/demos/grid/bigdata.aspx", text: "大数据量"}
                        ]
                        },
                        {
                            isexpand: "false", text: "明细", children: [
                            {url: "$ligerui_url/demos/grid/detailgrid/default.htm", text: "明细 表格"},
                            {url: "$ligerui_url/demos/grid/detailgrid/height.htm", text: "设置高度"}
                        ]
                        }
                    ]
                    },
                    {
                        isexpand: "false", text: "Tab", children: [
                        {url: "$ligerui_url/demos/tab/tabHtml.htm", text: "Tab"},
                        {url: "$ligerui_url/demos/tab/tabEven.htm", text: "事件"},
                        {url: "$ligerui_url/demos/tab/tabManager.htm", text: "接口"},
                        {url: "$ligerui_url/demos/v120/tab/setHeader.htm", text: "设置头部文本"}
                    ]
                    },
                    {
                        isexpand: "false", text: "面板", children: [
                        {url: "$ligerui_url/demos/accordion/accordion.htm", text: "面板"}
                    ]
                    },
                    {
                        isexpand: "false", text: "布局", children: [
                        {url: "$ligerui_url/demos/layout/layoutCenterBottom.htm", text: "中间下方区域(新)"},
                        {url: "$ligerui_url/demos/layout/layoutMinWidth.htm", text: "最小宽度"},
                        {url: "$ligerui_url/demos/layout/layoutAutoHeight.htm", text: "自动高度"},
                        {url: "$ligerui_url/demos/layout/layoutAutoHeightAndDiff.htm", text: "高度补差"},
                        {url: "$ligerui_url/demos/layout/layoutCenterOnly.htm", text: "只显示中间部分"},
                        {url: "$ligerui_url/demos/layout/layoutFixedHeight.htm", text: "固定高度"},
                        {url: "$ligerui_url/demos/layout/layoutFullHeight.htm", text: "全屏高度"},
                        {url: "$ligerui_url/demos/layout/layoutHalfHeight.htm", text: "百分比高度"},
                        {url: "$ligerui_url/demos/layout/layoutLeftMiddleOnly.htm", text: "只显示左侧和中间"},
                        {url: "$ligerui_url/demos/layout/layoutLeftWidth.htm", text: "限制左边宽度"},
                        {url: "$ligerui_url/demos/layout/layoutLeftHide.htm", text: "左边刚开始隐藏"},
                        {url: "$ligerui_url/demos/layout/layoutHideToggle.htm", text: "左边右边不允许隐藏"},
                        {url: "$ligerui_url/demos/layout/layoutResizeDisable.htm", text: "左边底部不允许调整大小"}
                    ]
                    },
                    {
                        isexpand: "false", text: "Portal", children: [
                        {url: "$ligerui_url/demos/portal/portal.htm", text: "默认"},
                        {url: "$ligerui_url/demos/portal/panel.htm", text: "panel"},
                        {url: "$ligerui_url/demos/portal/portal-columns.htm", text: "columns"},
                        {url: "$ligerui_url/demos/portal/portal-cookie.htm", text: "记忆"},
                        {url: "$ligerui_url/demos/portal/portal-drag.htm", text: "可拖动"},
                        {url: "$ligerui_url/demos/portal/portal-get.htm", text: "方法"},
                        {url: "$ligerui_url/demos/portal/portal-url.htm", text: "载入页面"},
                        {url: "$ligerui_url/demos/portal/portal-rows-url.htm", text: "通过url载入模型"},
                        {url: "$ligerui_url/demos/portal/portal-inject.htm", text: "html启动模式"},
                        {url: "$ligerui_url/demos/portal/portal-method.htm", text: "方法2"}
                    ]
                    }
                ];
        var indexdata =
                [
                    #if($shiro.isAuthenticated())
                        #set($menus = $sysServiceUtil.getTreeMenu())
                        #foreach($temp in  $menus)
                            #if($shiro.hasPermission($temp.permission))
                                {
                                    isexpand: "false", text: "${temp.name}", children: [
                                    #foreach($temp1 in $temp.childList)
                                        #if($shiro.hasPermission($!temp1.permission))
                                            {url: "${root_url}${temp1.href}", text: " ${temp1.name}", tabid: "${temp1.id}"},
                                        #end
                                    #end
                                ]
                                },
                            #end
                        #end
                    #end
                ];
    </script>
    <script type="text/javascript">
        var tab = null;
        var accordion = null;
        var tree = null;
        var tabItems = [];
        $(function () {

            //布局
            $("#layout1").ligerLayout({leftWidth: 190, height: '100%', heightDiff: -34, space: 4, onHeightChanged: f_heightChanged});

            var height = $(".l-layout-center").height();

            //Tab
            $("#framecenter").ligerTab({
                height: height,
                showSwitchInTab: true,
                showSwitch: true,
                onAfterAddTabItem: function (tabdata) {
                    //  console.log(tabdata);
                    tabItems.push(tabdata);
                    console.log(tabItems);
                    // saveTabStatus();
                },
                onAfterRemoveTabItem: function (tabid) {
                    for (var i = 0; i < tabItems.length; i++) {
                        var o = tabItems[i];
                        if (o.tabid == tabid) {
                            console.log(tabid);
                            tabItems.splice(i, 1);
                            //saveTabStatus();
                            break;
                        }
                    }
                },
                onReload: function (tabdata) {
                    var tabid = tabdata.tabid;
                    addFrameSkinLink(tabid);
                }
            });

            //面板
            $("#accordion1").ligerAccordion({
                height: height - 24, speed: null
            });

            $(".l-link").hover(function () {
                $(this).addClass("l-link-over");
            }, function () {
                $(this).removeClass("l-link-over");
            });
            //树
            $("#tree1").ligerTree({
                data: indexdata,
                checkbox: false,
                slide: false,
                nodeWidth: 120,
                attribute: ['nodename', 'url'],
                render: function (a) {
                    if (!a.isnew) return a.text;
                    return '<a href="' + a.url + '" target="_blank"    tabid ="' + a.tabid + '">' + a.text + '</a>';
                },
                onSelect: function (node) {
                    if (!node.data.url) return;
                    if (node.data.isnew) {
                        return;
                    }
                    var tabid = node.data.tabid;
                    if (!tabid) {
                        tabid = new Date().getTime();
                        $(node.target).attr("tabid", tabid)
                    }
                    f_addTab(tabid, node.data.text, node.data.url);
                }
            });

            //树2
            $("#tree2").ligerTree({
                data: indexdatademo,
                checkbox: false,
                slide: false,
                nodeWidth: 120,
                attribute: ['nodename', 'url'],
                render: function (a) {
                    if (!a.isnew) return a.text;
                    return '<a href="' + a.url + '" target="_blank">' + a.text + '</a>';
                },
                onSelect: function (node) {
                    if (!node.data.url) return;
                    if (node.data.isnew) {
                        return;
                    }
                    var tabid = $(node.target).attr("tabid");
                    if (!tabid) {
                        tabid = new Date().getTime();
                        $(node.target).attr("tabid", tabid)
                    }
                    f_addTab(tabid, node.data.text, node.data.url);
                }
            });

            function openNew(url) {
                var jform = $('#opennew_form');
                if (jform.length == 0) {
                    jform = $('<form method="post" />').attr('id', 'opennew_form').hide().appendTo('body');
                } else {
                    jform.empty();
                }
                jform.attr('action', url);
                jform.attr('target', '_blank');
                jform.trigger('submit');
            };

            tab = liger.get("framecenter");
            accordion = liger.get("accordion1");
            tree = liger.get("tree1");
            $("#pageloading").hide();

//            css_init();
//            pages_init();
        });
        function f_heightChanged(options) {
            if (tab)
                tab.addHeight(options.diff);
            if (accordion && options.middleHeight - 24 > 0)
                accordion.setHeight(options.middleHeight - 24);
        }
        function f_addTab(tabid, text, url) {
            tab.addTabItem({
                tabid: tabid,
                text: text,
                url: url,
                callback: function () {
                    //addShowCodeBtn(tabid);
                    addFrameSkinLink(tabid);
                }
            });
        }
        function addShowCodeBtn(tabid) {
            var viewSourceBtn = $('<a class="viewsourcelink" href="javascript:void(0)">查看源码</a>');
            var jiframe = $("#" + tabid);
            viewSourceBtn.insertBefore(jiframe);
            viewSourceBtn.click(function () {
                showCodeView(jiframe.attr("src"));
            }).hover(function () {
                viewSourceBtn.addClass("viewsourcelink-over");
            }, function () {
                viewSourceBtn.removeClass("viewsourcelink-over");
            });
        }
        function showCodeView(src) {
            $.ligerDialog.open({
                title: '源码预览',
                url: 'dotnetdemos/codeView.aspx?src=' + src,
                width: $(window).width() * 0.9,
                height: $(window).height() * 0.9
            });

        }
        function addFrameSkinLink(tabid) {
            var prevHref = getLinkPrevHref(tabid) || "";
            var skin = getQueryString("skin");
            if (!skin) return;
            skin = skin.toLowerCase();
            attachLinkToFrame(tabid, prevHref + skin_links[skin]);
        }
        var skin_links = {
            "aqua": "$ligerui_url/lib/ligerUI/skins/Aqua/css/ligerui-all.css",
            "gray": "$ligerui_url/lib/ligerUI/skins/Gray/css/all.css",
            "silvery": "$ligerui_url/lib/ligerUI/skins/Silvery/css/style.css",
            "gray2014": "$ligerui_url/lib/ligerUI/skins/gray2014/css/all.css"
        };
        function pages_init() {
            var tabJson = $.cookie('liger-home-tab');
            if (tabJson) {
                var tabitems = JSON2.parse(tabJson);
                for (var i = 0; tabitems && tabitems[i]; i++) {
                    f_addTab(tabitems[i].tabid, tabitems[i].text, tabitems[i].url);
                }
            }
        }
        function saveTabStatus() {
            $.cookie('liger-home-tab', JSON2.stringify(tabItems));
        }
        function css_init() {
            var css = $("#mylink").get(0), skin = getQueryString("skin");
            $("#skinSelect").val(skin);
            $("#skinSelect").change(function () {
                if (this.value) {
                    location.href = "index.htm?skin=" + this.value;
                } else {
                    location.href = "index.htm";
                }
            });


            if (!css || !skin) return;
            skin = skin.toLowerCase();
            $('body').addClass("body-" + skin);
            $(css).attr("href", skin_links[skin]);
        }
        function getQueryString(name) {
            var now_url = document.location.search.slice(1), q_array = now_url.split('&');
            for (var i = 0; i < q_array.length; i++) {
                var v_array = q_array[i].split('=');
                if (v_array[0] == name) {
                    return v_array[1];
                }
            }
            return false;
        }
        function attachLinkToFrame(iframeId, filename) {
            if (!window.frames[iframeId]) return;
            var head = window.frames[iframeId].document.getElementsByTagName('head').item(0);
            var fileref = window.frames[iframeId].document.createElement("link");
            if (!fileref) return;
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", filename);
            head.appendChild(fileref);
        }
        function getLinkPrevHref(iframeId) {
            if (!window.frames[iframeId]) return;
            var head = window.frames[iframeId].document.getElementsByTagName('head').item(0);
            var links = $("link:first", head);
            for (var i = 0; links[i]; i++) {
                var href = $(links[i]).attr("href");
                if (href && href.toLowerCase().indexOf("ligerui") > 0) {
                    return href.substring(0, href.toLowerCase().indexOf("lib"));
                }
            }
        }
        //iframe容器处理 兼容老代码
        function setIframeBox(targetId, url, title) {
            f_addTab(targetId, title, url);
        }


        var indexdata2 =
                [
                    {
                        isexpand: "true", text: "表格", children: [
                        {
                            isexpand: "true", text: "可排序", children: [
                            {url: "dotnet$ligerui_url/demos/grid/sortable/client.aspx", text: "客户端"},
                            {url: "dotnet$ligerui_url/demos/grid/sortable/server.aspx", text: "服务器"}
                        ]
                        },
                        {
                            isexpand: "true", text: "可分页", children: [
                            {url: "dotnet$ligerui_url/demos/grid/pager/client.aspx", text: "客户端"},
                            {url: "dotnet$ligerui_url/demos/grid/pager/server.aspx", text: "服务器"},
                            {url: "dotnet$ligerui_url/demos/grid/pager/server_scroll.aspx", text: "滚动分页"}
                        ]
                        },
                        {
                            isexpand: "true", text: "树表格", children: [
                            {url: "dotnet$ligerui_url/demos/grid/treegrid/tree.aspx", text: "树表格"},
                            {url: "dotnet$ligerui_url/demos/grid/treegrid/tree2.aspx", text: "树表格2"}
                        ]
                        }
                    ]
                    }
                ];


    </script>
    <style type="text/css">
        body, html {
            height: 100%;
        }

        body {
            padding: 0px;
            margin: 0;
            overflow: hidden;
        }

        .l-link {
            display: block;
            height: 26px;
            line-height: 26px;
            padding-left: 10px;
            text-decoration: underline;
            color: #333;
        }

        .l-link2 {
            text-decoration: underline;
            color: white;
            margin-left: 2px;
            margin-right: 2px;
        }

        .l-layout-top {
            background: #102A49;
            color: White;
        }

        .l-layout-bottom {
            background: #E5EDEF;
            text-align: center;
        }

        #pageloading {
            position: absolute;
            left: 0px;
            top: 0px;
            background: white url('$ligerui_url/lib/images/loading.gif') no-repeat center;
            width: 100%;
            height: 100%;
            z-index: 99999;
        }

        .l-link {
            display: block;
            line-height: 22px;
            height: 22px;
            padding-left: 16px;
            border: 1px solid white;
            margin: 4px;
        }

        .l-link-over {
            background: #FFEEAC;
            border: 1px solid #DB9F00;
        }

        .l-winbar {
            background: #2B5A76;
            height: 30px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            z-index: 99999;
        }

        .space {
            color: #E7E7E7;
        }

        /* 顶部 */
        .l-topmenu {
            margin: 0;
            padding: 0;
            height: 31px;
            line-height: 31px;
            background: url('$ligerui_url/lib/images/top.jpg') repeat-x bottom;
            position: relative;
            border-top: 1px solid #1D438B;
        }

        .l-topmenu-logo {
            color: #E7E7E7;
            padding-left: 35px;
            line-height: 26px;
            background: url('$ligerui_url/lib/images/topicon.gif') no-repeat 10px 5px;
        }

        .l-topmenu-welcome {
            position: absolute;
            height: 24px;
            line-height: 24px;
            right: 30px;
            top: 2px;
            color: #070A0C;
        }

        .l-topmenu-welcome a {
            color: #E7E7E7;
            text-decoration: underline
        }

        .body-gray2014 #framecenter {
            margin-top: 3px;
        }

        .viewsourcelink {
            background: #B3D9F7;
            display: block;
            position: absolute;
            right: 10px;
            top: 3px;
            padding: 6px 4px;
            color: #333;
            text-decoration: underline;
        }

        .viewsourcelink-over {
            background: #81C0F2;
        }

        .l-topmenu-welcome label {
            color: white;
        }

        #skinSelect {
            margin-right: 6px;
        }
    </style>
</head>
<body style="padding:0px;background:#EAEEF5;">
<div id="pageloading"></div>
<div id="topmenu" class="l-topmenu">
    <div class="l-topmenu-logo">有融后台管理系统</div>
    <div class="l-topmenu-welcome">
    ##        <label> 皮肤切换：</label>
##        <select id="skinSelect">
##            <option value="aqua">默认</option>
##            <option value="silvery">Silvery</option>
##            <option value="gray">Gray</option>
##            <option value="gray2014">Gray2014</option>
##        </select>
    ##        <a href="index.aspx" class="l-link2">服务器版本</a>
    ##        <span class="space">|</span>
    ##        <a href="http://www.ligerui.com/pay.html" class="l-link2" target="_blank">捐赠</a>
    ##        <span class="space">|</span>
    ##        <a href="http://www.ligerui.com/server.html" class="l-link2" target="_blank">服务支持</a>
    </div>
</div>
<div id="layout1" style="width:99.2%; margin:0 auto; margin-top:4px; ">
    <div position="left" title="主要菜单" id="accordion1">
        <div title="功能列表" class="l-scroll">
            <ul id="tree1" style="margin-top:3px;">
        </div>
    ##        <div title="应用场景">
    ##            <div style=" height:7px;"></div>
    ##            <a class="l-link" href="http://www.ligerui.com/go.aspx?id=case" target="_blank">演示系统</a>
    ##            <a class="l-link" href="javascript:f_addTab('listpage','列表页面','demos/case/listpage.htm')">列表页面</a>
    ##            <a class="l-link" href="demos/dialog/win7.htm" target="_blank">模拟Window桌面</a>
    ##            <a class="l-link" href="javascript:f_addTab('week','工作日志','demos/case/week.htm')">工作日志</a>
    ##        </div>
        <div title="实验室">
            <div style=" height:7px;"></div>
            <a class="l-link" href="lab/generate/index.htm" target="_blank">表格表单设计器</a>
            <a class="l-link" href="lab/formdesign/index.htm" target="_blank">可视化表单设计</a>
        </div>

        <ul id="tree2" style="margin-top:3px;">
    </div>
    <div position="center" id="framecenter">
        <div tabid="home" title="我的主页" style="height:300px">
            <iframe frameborder="0" name="home" id="home" src="${root_url}/personal"></iframe>
        </div>
    </div>
</div>
<div style="height:32px; line-height:32px; text-align:center;">
    Copyright © 2011-2014 www.yrw.com
</div>
<div style="display:none"></div>
</body>
</html>
