#parse('/mobile/common.vm')

#set($title="还款计划")
#if(!$sysServiceUtil.isDev())
    #set($siteurl='')
#else
    #set($siteurl='/yourong-api')
#end
#set($aliyun_url="https://oss-cn-hangzhou.aliyuncs.com")
#CSRFToken('xToken')
<style>
    html {
        font-size: 62.5%;
    }
    body{
        background: #eeeeee;
    }
    [v-cloak]{
        display: none;
    }
    .u-repaymentPlan{
        background: #ffffff;
        width: 100%;
        height: auto;
        padding: 8px 0;
    }
    .u-repaymentPlan ul{
      padding: 0;
    }
    .u-repaymentPlan ul li{
        width: 90%;
        margin:6px 2%;
        padding: 0 3%;
        background: #FDFDFD;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        list-style: none;
        height: 60px;
        line-height: 60px;
        font-size: 14px;
        color: #999999;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        text-align: center;
    }
    .u-repaymentPlan ul li span:first-child{
        width:3%;
    }
    .u-repaymentPlan ul li span:last-child{
        font-size: 12px;
        width: 22%;
    }
    .u-investAmount{
        color: #333333;
    }
    .f-fs12{
        font-size: 12px!important;
    }
    .u-repaymentPlan ul li span{
        display: inline-block;
        width: 38%;
    }
    em{
        font-style: normal;
    }
</style>
<input type="hidden" id="j-pid" value="${pid}">
<div class="u-repaymentPlan" id="repaymentPlan" v-cloak>
    <ul>
        <li data-index="index" v-for="item in initData">
            <span>{{$index+1}}</span>
            <span v-text="item.endDate  | dateFormat 'yyyy-MM-dd'" style="width: 26%"></span>
            <span>
                <em class="u-investAmount">{{getTotal(item.payableInterest,item.payablePrincipal) | amountFormat 'split'}}</em>
                <em class="f-fs12">元</em></span>
            <span>
                <em v-if="item.payablePrincipal==0">利息</em>
                <em v-else>本金＋利息</em>
                <em v-if="item.payableInterest==0">本金</em>
            </span>
    </ul>
</div>
<script src="../res/lib/js/sea.js"></script>
##<script src="../res/lib/js/zepto.min.js"></script>
<!-- environment -->
<script type="text/javascript">
    if(!window.$){
        document.write('<script src="$res_url/lib/js/jquery.min.js"><\/script>')
    }
    seajs.config({
        paths: {
            'lib':'$res_url/lib',
            'xjs':'$res_url/source/js',
            'xcss':'$res_url/source/css',
            'cdnlib':'//cdn.bootcss.com'
        },
        alias: {
            'zepto':'cdnlib/zepto/1.1.6/zepto.min.js',
            'jquery':'cdnlib/jquery/2.2.1/jquery.min.js',
            'unslider':'cdnlib/unslider/2.0.3/js/unslider-min.js',
            'vue':'cdnlib/vue/1.0.17/vue.min.js',
            'frozen': 'cdnlib/FrozenUI/1.3.0/js/frozen.js',
            'lodash':'cdnlib/lodash.js/4.6.1/lodash.min.js',
            'base': 'xjs/base',
            'wxShare':'xjs/common/wxShare',
            'validform':'lib/js/validform',
            'template':'lib/js/template'
        }
    })
    var environment = {
        globalPath : '$siteurl',
        globalDomain : '$sysServiceUtil.getRootURL()',
        mGlobalDomain : '$sysServiceUtil.getMRootURL()',
        serverDate :  '${dateUtil.getCurrentDate().getTime()}',
        debug:$sysServiceUtil.isDev()
    }
        #if($debug)
        window.log = console.log.bind(console)
        #else
        window.log = function(){}
        #end

</script>
<!-- /environment -->
<script>
    seajs.use('$res_url/source/js/project/transferDetail');

</script>