#parse("/common/common.vm")
###set($title="_$!{title_suffix}")
#set($css_url=["$root_css_url/error.css"])

<div class="m-error-page f-pos-r">
##<img src="$root_url/static/img/common/error_bg.jpg" alt="无法找到此页面" />
    <div class="u-tips-wrap">
        <h2>
            温馨提示: <br>
            <em class="f-fs45">500</em><br>
            服务器内部错误
        </h2>
        <a href="/" class="u-tips-homepage">回到首页<i>▶</i></a>
        <a onclick="window.history.go(-1)" class="u-tips-pre" id="j-goback">返回上一页<i>▶</i></a>
        <div class="u-tips-recode">
            <dl>
                <dt>APP投资</dt>
                <dd><img src="/static/img/common/QR_code.png" alt="APP投资"></dd>
            </dl>
            <dl>
                <dt>微信投资</dt>
                <dd><img src="/static/img/common/weixin_qrcode.jpg" alt="微信投资"></dd>
            </dl>
        </div>
    </div>
</div>
#if($sysServiceUtil.isDev())
<script>
    console.warn('java_error:'+
				#foreach ($_dict in $!exception.getStackTrace())
                ' $_dict.toString() ' +
				#end
            '\n------上线后移除 console 错误输出------');
</script>
#end
