#parse('/common/common.vm')
#set($title="找回密码_$!{title_suffix}")
#set($css_url=["$root_css_url/modules/login.css"])
#set($js_url=["$root_js_url/modules/login.js"])
<div class="u-login-title f-login-bg">
	<h3 class="f-fs24">手机找回密码</h3>
</div>
<div class="g-wrap m-login-box m-login-box2">
	<form action="$root_url/security/lostpwdsubmit" method="POST" id="j-reg-form" class="m-login-form j-validform m-lostpwd-form" data-page="lostPwd">

		 #CSRFToken()
		<div class="u-tips-pwd f-fs14 f-fc-red f-vv">
			如需人工帮助，请拨打客服热线：400-025-6688
		</div>
		<input type="text" name="mobile" id="j-cpn" oncopy="return false;" autocomplete="off" onpaste="return false;" nullmsg="请输入手机号码" errormsg="请输入正确的手机号码" class="f-round f-ipt-w430 u-ipt-text u-ipt-str" placeholder="请输入注册手机号" /><span class="m-val-tips"> &nbsp; </span>
		## <div class="m-input-vercode f-cf"> 
		## 	<input type="text" name="smsCode" nullmsg="请输入手机验证码" errormsg="请输入正确的短信／语音验证码" id="j-phonecode" class="f-clear f-round u-ipt-text f-ipt-w260 u-ipt-phonecode z-hide" placeholder="请查收4位数字的手机验证码" />
		## 	<input type="text" id="j-vercode" nullmsg="请输入图形验证码" class="f-round u-ipt-text f-ipt-w260 j-vercode" placeholder="验证码" />
		## 	<img src="$root_url/security/validateCode" alt="验证码" title="点击重新获取验证码" id="j-img-vercode" class="u-img-vercode" />
		## 	<span class="f-round u-tips-vercode f-tips-gray">
		## 	获得手机验证码
		## 	</span><span class="m-val-tips"> &nbsp; </span>
		## </div>
		<div class="m-input-vercode f-cf">
			<span class="u-xtips-wrap">
				<!--[if (gte IE 7)&(lte IE 9)]>
				<em>输入图形码</em>
				<![endif]-->
				<input type="text" id="j-vercode" autocomplete="off" nullmsg="请输入图形验证码" class="f-round u-ipt-text f-ipt-w260 j-vercode" placeholder="输入图形码" />
			</span>
			<img src="$root_url/security/validateCode" alt="验证码" title="点击重新获取验证码" id="j-img-vercode" class="u-img-vercode" />
			<span id="j-phonecode-wrap" class="u-xtips-wrap u-phonecode-wrap z-hide">
				<!--[if (gte IE 7)&(lte IE 9)]>
				<em>输入手机验证码</em>
				<![endif]-->
				<input type="text" name="smsCode" autocomplete="off" id="j-phonecode" placeholder="输入手机验证码" class="f-clear f-round u-ipt-text f-ipt-w248 u-ipt-phonecode" /></span><span class="f-round u-tips-vercode f-tips-gray">
			获得手机验证码
			</span>
			<span class="m-val-tips"> &nbsp; </span>
		</div>
		<input type="hidden" name="pngCode" id="j-pngcode"/>
		<input type="hidden" name="checkType" id="j-checkType" value="1"/>
		<input type="submit" value="提 交" class="f-round f-fs18 f-btn-l2 u-btn u-btn-primary j-lostpwd-btn" />
	</form>
</div>