body{
    background: #EEEEEE;
}
.f-color9{
    color: #999999;
}
.f-color3{
    color: #333333;
}
.f-color6{
    color: #666666;
}
.u-setPayPassword{
    width: 100%;
    background: #ffffff;
    margin-top: 20px;
    color: #666666;
}
.u-setPayPassword li{
    width: 94%;
    margin-left: 3%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #E5E5E5;;
}
.u-setPayPassword li:last-child{
    border: none;
}
.u-setTips{
    width: 94%;
    margin:10px auto;
    font-size: 12px;
    color: #868686;
}
.u-setBtn{
    width: 94%;
    margin: auto;
    background: #D74148;
    border-radius: 4px;
    color: #ffffff;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.u-tipsBlock{
    width: 84%;
    border-radius: 8px;
    background: #ffffff;
    text-align: center;
    padding: 4%;
    position: fixed;
    top:40%;
    left: 4%;
    z-index: 1000;
}
.u-tipsBlock p{
    line-height: 34px;
    width: 70%;
    margin: auto;
}
.u-tipsBlock .u-btnBlock{
    border-top: 1px solid #EEEEEE;
    margin-top: 8px;
}
.u-tipsBlock .u-btnBlock span{
    display: inline-block;
    color: #0076FF;
    width: 48%;
    border-right: 1px solid #EEEEEE;
    line-height: 26px;
    font-size: 17px;
    padding-top: 8px;
}
.u-tipsBlock .u-btnBlock span:last-child{
    border: none;
}