<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yourong.core.mc.dao.HelpCenterLabelMapper" >
  <resultMap id="BaseResultMap" type="HelpCenterLabel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="question_type" property="questionType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, label_name, sort, category, question_type, create_time
  </sql>
  
    <select id="findByPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from mc_help_label
    <if test=" map != null" >
      <where >
      	<if test=" map.category != null" >
          category = #{map.category}
        </if>
        <if test=" map.labelName != null" >
          and label_name = #{map.labelName}
        </if>
        <if test=" map.id != null" >
          and id = #{map.id}
        </if>
        <if test=" map.sort != null" >
          and sort = #{map.sort}
        </if>
        <if test=" map.questionType != null" >
          and question_type = #{map.questionType}
        </if>
        <if test=" map.createTime != null" >
         and create_time = #{map.createTime}
        </if>
      </where>
    </if>
  </select>
  
    <select id="selectForPagin" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from mc_help_label where
    	<if test=" map.category != null" >
          category = #{map.category}
        </if>
        <if test=" map.labelName != null" >
          and label_name = #{map.labelName}
        </if>
    	<if test=" map.id != null" >
         and id = #{map.id}
        </if>
        <if test=" map.sort != null" >
         and sort = #{map.sort}
        </if>
        
        <if test=" map.questionType != null" >
          and question_type = #{map.questionType}
        </if>
        <if test=" map.createTime != null" >
         and create_time = #{map.createTime}
        </if>
        order by sort desc
  </select>
  
   <!--  根据主键删除（逻辑） -->
  <delete id="deleteByHelpCenterLabelId">
  	<!-- update mc_help_question set del_flag = -1 where id = #{id,jdbcType=BIGINT} -->
  </delete> 
  
    <select id="selectForPaginTotalCount" resultType="java.lang.Integer" >
    select count(1) 
    from mc_help_label where
    <if test=" map != null" >
    	<if test=" map.category != null" >
          category = #{map.category}
        </if>    
    </if>
  </select>
  
   <!--  根据主键更新 -->
   <update id="updateByPrimaryKeySelective" parameterType="HelpCenterLabel" >
    update mc_help_label
    <set >
        <if test="labelName != null" >
       	 label_name = #{labelName,jdbcType=VARCHAR},
      	</if>
        <if test="sort != null" >
         sort = #{sort,jdbcType=INTEGER},
        </if>
        <if test="category != null" >
          category = #{category,jdbcType=VARCHAR},
        </if>
        <if test="questionType != null" >
          question_type = #{questionType,jdbcType=INTEGER}
        </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
    <update id="updateSortById">
        UPDATE mc_help_label SET sort=#{sort} WHERE id=#{id}
    </update>
  
  <!-- 插入 -->
  <insert id="insertSingle" parameterType="HelpCenterLabel" >
    insert into mc_help_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="questionType != null" >
        question_type,
      </if>
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="questionType != null" >
        #{questionType,jdbcType=INTEGER},
      </if>
      now()
    </trim>
  </insert>
  
      <resultMap id="LabelResultMap" type="HelpCenterLabel" >
    	<id column="id" property="id" jdbcType="BIGINT" />
    	<result column="label_name" property="labelName" jdbcType="VARCHAR" />
 	  </resultMap>
   
      <select id="selectByCategory" parameterType="string" resultMap="LabelResultMap">  
           select id,label_name from mc_help_label where category = #{category} order by sort desc
      </select>  
</mapper>