<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>有融网债权转让协议</title>
    <style>
    .u-info-table {
        font-size: 10px;
        width: 100%;
        margin: 20px 0 20px;
    }
    .u-info-table td {
	border-bottom-width: 1px;
		border-bottom-style: solid;
        border-bottom: #cdcdcd;
        padding: 10px 0 0;
    }
    .u-info-table .u-itable-t {
        text-align: right;
        border-bottom: none;
    }
    .u-con-content {
        line-height: 24px;
        font-size: 14px;
    }
    .u-con-content h3 {
        font-size: 14px;
        font-weight: bold;
    }
    .u-con-content p {
        padding: 0 0 36px;
    }
    .u-con-content p strong {
        color: #d74148;
        font-style: normal;
    }
    .u-data-table {
		border-top-width: 2px;
		border-top-style: solid;
        border-top: #cdcdcd;
        border-bottom: #cdcdcd;
		border-bottom-width: 2px;
		border-bottom-style: solid;
        width: 100%;
        margin: -20px 0 20px;
		border-spacing:inherit;
    }
    .u-data-table td,.u-data-table th {
        padding: 0 0 0 20px;
		border-left-width: 1px;
		border-left-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
        border-left-color: #cdcdcd;
        border-bottom-color: #cdcdcd;
    }
    .u-data-table td{height: 28px;line-height: 28px;}
    .u-data-table th{height: 40px;line-height: 40px;text-align: center;color: #464646;}
    .u-data-table td:first-child,.u-data-table th:first-child{
        border-left: 0;
    }
    .f-tac{
        text-align: center;
    }
    .f-tar {
        text-align: right;
    }
    .u-stable-even td {
        padding: 55px 0 0;
    }
    .u-sign-table{
    	height:170px;
        position: relative;
        padding: 75px 0 165px;
    }
	 .u-sign-table table tr{
		height:40px;
		line-height:40px;
	 }
	 
	  .u-detail-loan p{
            padding: 0 0 26px;
            line-height: 0;
            margin: 0;
        }
        .u-detail-sign p{
            padding: 0 0 26px;
            line-height: 0;
            margin: 0;
        }
        .u-detail-sign{
        height:170px;
        
        }
	 
    </style>
</head>

<body>
    <div class="m-contract-box">
        <div class="u-con-t"></div>
        <div class="u-con-c">
        #if($!{contract.transactionId})
           <div class="u-con-num">编号：$!{contract.transactionId}</div>
        #end
            <h1 class="u-con-title">债权转让协议</h1>
            <table class="u-info-table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td width="175" class="u-itable-t">甲方（出让方）：$!{contract.firstName}</td>
                    	<td width="305">身份证号：$!{contract.firstIdentity}</td>
						<td width="175"class="u-itable-t">电子邮箱：$!{contract.firstEmail}</td>
                        <td class="u-itable-t">地址：$!{contract.firstAddress}</td>
						<td class="u-itable-t"></td>
                    </tr>
                    <tr>
                    	<td class="u-itable-t">乙方（受让方）：$!{contract.secondName}</td>
                       	<td class="u-itable-t">身份证号：$!{contract.secondIdentity}</td>
                        <td class="u-itable-t">电话：$!{contract.secondMobile}</td>
                        <td class="u-itable-t">地址：$!{contract.secondAddress}</td>
                        <td class="u-itable-t">电子邮箱：$!{contract.secondEmail}</td>
                    </tr>
                    <tr>
                    	<td class="u-itable-t">浙江小融网络科技股份有限公司（有融网）</td>
                       	<td class="u-itable-t">法定代表人：吴建</td>
                        <td class="u-itable-t">网站：www.yrw.com</td>
                        <td class="u-itable-t">电话：400-025-6688</td>
                        <td class="u-itable-t">地址：浙江省杭州市西湖区古墩路87号浙商财富中心3号楼12F</td>
                    </tr>
                </tbody>
            </table>
            <div class="u-con-content">
                鉴于：
                <p>
                    1、有融网（域名：www.yrw.com）由丙方运营管理。甲乙双方均系有融网的注册会员。
                    <br/>2、甲方与借款人通过丙方的居间服务达成了借款合意，并在丙方法务和风控人员的全程监管和见证下，形成了本协议项下债权，且根据合同性质、当事人约定及法律规定，该债权为可转让债权。
                    <br/>3、乙方同意受让甲方对借款人享有的全部或部分债权，并通过有融网向甲方支付相应对价。
                    <br/>4、甲乙丙三方一致同意，甲方将其对借款人享有的全部或部分债权转让给乙方后，乙方取得甲方在借款协议里面的相应权利及义务，但该权利义务专属于甲方自身的除外。乙方充分理解并认可丙方在借款协议中的权利义务及法律地位。
                    <br/>根据《中华人民共和国合同法》、《中华人民共和国民法通则》等有关法律规定，甲乙丙三方本着诚实信用的基本原则，经平等友好协商，自愿就甲方通过有融网平台向乙方转让债权的相关事宜达成如下协议：
                </p>
                <h3>第一条 名词解释</h3>
                <p>
                	除非上下文另有解释，下列名词具有以下含义：
                    <br/>1、1、本协议：指本《债权转让协议》及其所有附件中的任何条款、明细和信息。
                    <br/>2、借款协议：指本协议甲方作为出借人，通过丙方的居间服务与借款人$!{contract.originalBorrower}达成借款合意后，与借款人、丙方就借款、担保、居间服务等事项约定各方权利义务而于$!{contract.originalTransactionTime}签订的合同编号为$!{contract.originalTransactionId}的《借款协议》。
                    <br/>3、债权：指本协议甲方作为出借人，通过丙方的居间服务与借款人达成借款合意，基于借款协议而对借款人享有的全部或部分债权 。
                    <br/>4、预期未分配利息收益：上一个还款日至该债权转让日期间甲方尚未收入的利息总额。
                </p>
                <h3>第二条 债权信息</h3>
                <p>1、甲方自愿将其对借款人所享有的下列全部或部分债权转让给乙方：</p>
                
                 <div class="u-detail-loan">
                <p>借款协议编号&nbsp;&nbsp;$!{contract.originalTransactionId}</p>
                <p>债权本金&nbsp;&nbsp;$!{contract.originalTransactionAmount}</p>
                <p>债权形成时间&nbsp;&nbsp;$!{contract.originalTransactionTime}</p>
                <p>年化利率&nbsp;&nbsp;$!{contract.originalAnnualizedRate}%</p>
                <p>债权应还款日&nbsp;&nbsp;$!{contract.originalEndDate}</p>
                <p>剩余借款期限&nbsp;&nbsp;$!{contract.residualDays}天</p>
                <p>本金及利息支付方式&nbsp;&nbsp;$!{contract.originalProfitType}</p>
                <p>债权担保物信息&nbsp;&nbsp;$!{contract.collateralDetails}</p>
            	</div>
                <p>
                    <br/>2、上述债权以$!{contract.originalProfitType}方式还款，一年按360天计息，即日利率=年化利率/360。
                    <br/>3、上述债权形成的原始凭证在债权获得全部实现之前，由丙方法务中心负责保管。
                </p>
               
                <h3>第三条 转让债权的价值、转让价格及转让手续费</h3>
                <p>
                    1、债权包括本金和利息两部分。甲方转让给乙方的债权本金为人民币$!{contract.transferPrincipal}元，该部分债权对应的利息为自转让日期起至原始借款协议到期日止的期间产生的利息。
                    <br/>2、甲方自愿将上述价值的债权以人民币$!{contract.investAmount}的价格转让给乙方，乙方接受甲方的该转让行为并明晰且接受转让后对应的权利义务。
                    <br/>3、甲方转让债权的，应当向丙方支付相应的转让手续费。手续费数额与甲方持有债权时间相关。具体费率平台债权转让规则：转让手续费=转让债权数额×转让手续费率。
                    <br/>4、甲方授权丙方在乙方成功向甲方支付债权转让款时从转让款中代为扣取转让手续费。
                </p>
                
                <h3>第四条 债权转让流程</h3>
                <p>1、接受本协议：在债权转让期限内，乙方筛选确定甲方的债权转让项目作为其投资对象后，通过网络确认点击或类似方式接受本协议，即可通过快捷支付、新浪存钱罐余额支付或两种方式结合进行投资。
                    <br/>2、转让款划转：乙方成功点击“确定支付”或跳转至新浪支付平台输入相关密码后，即不可撤销的授权新浪支付将金额等同于本协议第三条第2款中列明的转让价格的资金在扣除甲方应当向丙方支付的手续费后划转至甲方的新浪存钱罐账户，即甲方收到的支付款总额是扣除转让手续费的部分（手续费的具体数额见下文第八条规定）。
                    <br/>3、转让行为生效：乙方成功支付转让款时本协议生效，转让行为完成。
                    <br/>4、转让行为的终止包括系统自动终止和转让人主观选择终止：
                    <br/>（1）甲方设定转让的债权在发起转让行为的72小时内未能完全转让完毕的；
                    <br/>（2）转让行为发起后72小时内原始借款人有还本付息的；
                    <br/>（3）转让行为发起后72小时内原始借款人提前还款的。转让人主观选择终止：发起转让后甲方主观选择终止的。债权转让终止效力不溯及已生效的转让行为。
                    <br/>5、债权不得转让情形：
                    <br/>（1）甲方与借款人明确约定债权不能转让的；
                    <br/>（2）原始借款协议相应的还本付息日不得转让。
                    <br/>（3）借款人提前还款，甲方不再享有债权的。
                </p>
                
                <h3>第五条 债权的取得</h3>
                <p>1、乙方自本协议生效之日即取得本协议项下甲方转让的相应债权，有权按照本协议及原始借款协议约定受领借款人归还的相应借款本金及相应利息。
                </p>

                <h3>第六条 债权本金及利息收益的支付</h3>
                <p>1、借款人按照借款协议约定的本息偿还方式进行还款，还款当日由新浪支付将相应金额从借款人的新浪存钱罐账户划转至本协议乙方的新浪存钱罐账户。本协议生效时甲方尚有利息未收入的，在下一个付息日由借款人一并支付给甲方。
               		<br/>2、借款人提前归还借款本息的，转让的债权利息收益实际计息天数应计算到借款人提前还款日，按借款协议约定的年化利率计算。
               		<br/>3、借款人未按照借款协议履行期限按时支付本金或利息的，按照借款协议的相关约定进行处理，由此带来的风险由乙方自行承担，甲方、丙方对此均不承担任何还款和担保责任。
                </p>

                <h3>第七条 优惠券使用的说明</h3>
                <p>1、优惠券包括投资者根据丙方平台相关规则获得的现金券与收益券。
                	<br/>2、甲方投资时使用现金券的， 现金券券面金额视为甲方的相应数额的本金，甲方有权进行转让。
               		<br/>3、甲方投资时使用收益券的，收益券在转让行为生效时一并转让。
               		<br/>4、乙方在受让甲方出让的全部或部分债权时，不得使用优惠券。
				</p>
                
                <h3>第八条 其他权利义务</h3>
                <p>、1、甲方所持有债权的转让价格应当等于或者小于该债权的原始数额。
                	<br/>2、除有融网的债权转让规则发生变化或者其他相关因素变化外，乙方接受甲方的转让后不得将该债权再进行转让。
               		<br/>3、自原始借款协议开始计息$!{contract.transferAfterInterest}日起，甲方方可将其持有的债权进行转让。
               		<br/>4、甲、乙双方同意并保证按照有融网公示的债权转让规则进行债权转让事宜；
                	<br/>5、乙方受让的债权有可能并非甲方对借款人享有的全部债权，乙方对此充分理解和认可，且乙方已经充分了解债权的全部情况，并且同意从甲方处受让债权。
               		<br/>6、甲方保证本协议项下转让给乙方的债权真实有效，并为甲方合法拥有，甲方对其拥有完全、有效的处分权。
               		<br/>7、甲方保证转让的债权在转让交易完成前处于正常履行状态，正常履行状态系指转让的债权处于正常付款期及/或付款宽限期内；
               		<br/>8、甲方保证转让的债权上未设定他项权利，亦不存在限制转让的情形；甲方违反本条约定给乙方、丙方造成损失的，应向乙方、丙方承担相应的赔偿责任。
               		<br/>9、乙方声明与保证其所用于受让债权的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题发生争议，由乙方自行负责解决。
               		<br/>10、甲方同意并委托丙方将债权转让的情况以向借款人发出电子邮件、短信等方式通知借款人。
               		<br/>11、因战争、动乱、自然灾害等不可抗力或国家法律政策变动、电信网络服务终止、黑客攻击等客观因素出现，导致协议内容延迟履行或不能履行，甲、乙、丙三方互不追究责任。
               		<br/>12、甲、乙、丙三方确认，本协议的签订、生效和履行以不违反中国的法律法规为前提。如果本协议中的任何一条或多条违反现行的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。
				</p>
                
                <h3>第九条 丙方免责条款</h3>
                <p>丙方作为居间服务方不需要承担以下情形下甲方或者乙方可能遭受的任何损失：
                	<br/>1. 因黑客、病毒或甲方或者乙方的保管疏忽等原因导致其本人的账户遭他人非法使用可能导致的所有损失的；
               		<br/>2. 因政策风险、有关法律、法规及相关政策、规则发生变化，甲方或者乙方有可能因此遭受损失的；
               		<br/>3. 因其他交易方未按时足额履约，甲方或者乙方有可能遭受损失的；
               		<br/>4. 因甲方或者乙方的过错导致的任何损失，该过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、甲方或者乙方使用的计算机系统被第三方侵入、甲方或者乙方委托他人代理交易时他人恶意或不当操作以及银行系统及银行网络出现故障而造成的损失的；
               		<br/>5. 其他不可抗力因素导致的风险给甲方或者乙方可能带来的损失的。
				</p>
                
                <h3>第十条 协议的内容及变更</h3>
                <p>1、有融网上公示的债权转让规则和本协议附件均为为本协议不可分割的部分，与本协议具有同等的法律效力；
               		<br/>2、任何本协议无约定之事项均应适用《借款协议》之约定；
               		<br/>3、本协议的任何修改、补充均须以有融网平台电子文本形式作出，修改后或补充后的内容与本协议有冲突的，以修改后或补充后的效力为准。
				</p>
				
				<h3>第十一条 协议的保管</h3>
                <p>甲乙丙三方一致同意本协议生效后保存至专门的电子合同保管平台。任何一方均有权按照相关查阅规则进行查阅。
				</p>
				
				<h3>第十二条 协议的解释</h3>
                <p>本协议中所使用的定义，除在上下文中另有定义外，以有融网公布的《有融网网站定义与释义规则》中的定义及内容为准。
				</p>
				
				<h3>第十三条 本协议的成立与生效</h3>
                <p>1、乙方按照“有融网”的规则，通过甲方的债权转让需求界面，点击“立即认购”按钮，进入投资理财详细信息界面，填写完成乙方的投资理财信息，点击同意《债权转让协议范本》并形成相应订单时，本协议成立；自乙方的债权转让款成功划转至甲方新浪存钱罐账户中时，本协议生效。
                	<br/>2、本项目出现流标的，本协议自始不生效。
				</p>
				
				<h3>第十四条 争议解决</h3>
                <p>如果甲、乙、丙三方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交丙方所在地人民法院进行诉讼。
				</p>
               
                <div class="u-sign-table">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td>甲方：</td>
                    	 		<td>$!{contract.firstName}</td>
							</tr>
                            <tr>
                                <td>日期：</td>
                                <td>$!{contract.transactionTime}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="u-sign-table">
                    <table>
                        <thead></thead>
                        <tbody>
							<tr>	
                                <td class="f-tar">第三方服务机构：</td>
                                <td>浙江小融网络科技股份有限公司</td>
                            </tr>
                            <tr>    
								<td>日期：</td>
                                <td>$!{contract.transactionTime}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="u-sign-table">
                    <table>
                        <thead></thead>
                        <tbody>
                            <tr class="u-stable-even">
                                <td>乙方：</td>
                                <td colspan="3">$!{contract.secondName}</td>
                            </tr>
                            <tr>
                                <td>日期：</td>
                                <td>$!{contract.transactionTime}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="u-con-b"></div>
    </div>
</body>
</html>