#set($layout = "/layout/iframe.vm")
#parse("/co/job/jobhead.vm")
<div class="col-xs-12">
</div>
<div class="col-xs-12">
    <button type="button" class="btn btn-info btn-sm btn-primary" id="add_job">添加岗位</button>
    <div class="table-header">岗位列表</div>
    <div class="table-responsive">
        <form id="interest_form">
            <table id="debt-table-search" class="table table-striped table-bordered " cellspacing="0" width="100%">
                <thead>
                <tr colspan="10">
                    <td>
                        类别：
                    </td>
                    <td>
                        <select name="query_categoryId" id="query_categoryId">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="10" style="text-align:center">
                        <button id = "query_job" type="button" class="btn btn-info btn-sm btn-primary">查询</button>
                    </td>
                </tr>
                </thead>
            </table>
        </form>
    </div>
    </br>
    <button type="button" class="btn btn-info btn-sm btn-primary" id="job_sort">排序</button>
    <button type="button" class="btn btn-info btn-sm btn-primary" style="display: none" id="submit_job_sort">保存排序</button>
    <button type="button" class="btn btn-info btn-sm btn-primary" id="job_all_release">一键发布</button>
    <div class="table-responsive">
        <table id="job-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>序号</th>
                <th>排序</th>
                <th>岗位名称</th>
                <th>招聘人数</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">
    jQuery(function($){
        setCategory('query_categoryId','1');
    });
</script>
#parse("/co/job/addjob.vm")