#parse('/common/common.vm')
#set($title="常见问题")
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <style>
		html {
			background-color: #eee; 
			}
        body, button, input, select, textarea {
            font: 12px/1.5 tahoma, arial, "Hiragino Sans GB", "Microsoft Yahei",
            \5b8b\4f53;
        }
        .m-help-list ul{
            margin: 0 0 2rem 0;
            padding: 0 2%;
        }
        .m-help-list li{
            padding-top:1.5rem;
            overflow:hidden;
        }
        .m-help-list li strong{
            display: inline-block;
            font-size: 1rem;
            color: #666;
            margin: 0 0px 1rem 0;
            line-height: 1.5rem;
        }
        .m-help-list li p{
            font-size: 1rem;
            color: #999;
            line-height: 1.5em;
            width: 95%;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="m-help-list">
        <ul>

            <li>
                <strong>1.  我忘记了登录密码该怎么办？</strong>
                <p>
                    如果您忘记了登录密码，可以在网站用户登录页面，登录按钮的下方，点击“忘记密码”链接，填写自己的手机和验证码重置密码。具体步骤如下：<br/>
                    1）点击首页“登录”按钮进入用户登录页面，点击“忘记密码”；<br/>
                    2）填写您当时注册的手机号码，点击“获取短信验证码”按钮；<br/>
                    3）收到验证码后输入验证码，然后点击“下一步”按钮；<br/>
                    4）重新设置您的登录密码。
                </p>
            </li>
            <li>
                <strong>2．为什么开通快捷支付时银行卡信息验证失败了？</strong>
                <p>
                    在开通快捷支付的过程中，银行卡信息验证失败的原因可能如下：<br/>
                    1）您所绑定的银行卡未开通网银；<br/>
                    2）您开通快捷支付的银行卡和所选开户行不匹配；<br/>
                    3）您输入的手机号与银行预留手机号不一致；<br/>
                    4）您在有融网的实名认证信息与银行卡的实名认证信息不一致；<br/>
                    5）您的手机号码没有经过运营商的实名认证（如：未使用本人身份证办理）；<br/>
                    6）您银行卡开户省市不正确；<br/>
                    7）此卡不是储蓄卡；<br/>
                    如有其它问题，请致电银行客服或有融网客服热线400-025-6688。
                </p>
            </li>
            <li>
                <strong>3.为什么我在开通快捷支付的时候，收不到手机验证码？</strong>
                <p>
                    快捷支付、快捷绑卡的手机验证码均由新浪发送，不会经过有融网平台系统，原因可能如下：<br/>
                    1）您的手机号码可能被运营商拉入黑名单，可能因您平时退订信息导致；<br/>
                    2）您的手机号码可能没有实名认证（非您本人身份证去办理的手机号码）；<br/>
                    3）可能是新浪短信通道不稳定；<br/>
                    如有其它问题，请致电银行客服或有融网客服热线400-025-6688。
                </p>
            </li>
            <li>
                <strong>4.目前支持快捷支付的银行有哪些？</strong>
                <p>
                   中国银行、农业银行、建设银行、工商银行、招商银行、中信银行、民生银行、广发银行、兴业银行、光大银行、上海银行、邮储银行、华夏银行、<br>
					平安银行、浦发银行。
                </p>
            </li>
            <li >
                <strong>5.  如何给账户充值？</strong>
                <p>
                    您可以“登录账号→鼠标移至“用户名”→我的账户→充值”页面，按照提示进行充值操作即可。
                </p>
            </li>
            <li >
                <strong>6.  如何提取现金？</strong>
                <p>
                    您可以“登录账号→鼠标移至“用户名”→我的账户→提现”页面，按照提示进行提现操作即可。<br/>
                    注意：请确保您填写的银行账号的开户人姓名和您在有融网投资实名认证的真实姓名一致，并提供一个可以申请提现的银行账号，否则提现无法成功。
                </p>
            </li>
            <li >
                <strong>7.  新浪支付存钱罐目前支持哪些银行？</strong>
                <p>
                    目前支持的提现银行有：中、农、建、工、招商、中信、民生、广发、兴业、光大、交通、浦发、北京、邮储、华夏、上海、平安；<br/>
                    目前支持的充值银行有：中、农、建、工、招商、中信、民生、广发、兴业、光大、交通、浦发、北京、邮储、华夏、上海、平安、浙商；
                </p>
            </li>
            <li >
                <strong>8.  关于充值不成功的问题？</strong>
                <p>
                    首先确认是否扣款，如未扣款，建议咨询银行客服热线；如已扣款，但未到账，请将交易的流水号和有融网平台账号提供给有融网客服人员。
                </p>
            </li>
            <li >
                <strong>9.  如何查看投资借款合同？</strong>
                <p>
                    您在投资成功后，可随时“登录账号→鼠标移至“用户名”→我的交易→我的投资”页面查看每次投资对应的债权转让合同。
                </p>
            </li>
            <li >
                <strong>10.  投资金额有限制吗？</strong>
                <p>
                    有融网投资项目的投资起点金额通常为1000元，递增单位金额也为1000元，没有上限。
                </p>
            </li>
            <li >
                <strong>11.  投资利息从什么时候开始计算？</strong>
                <p>
                    根据起息方式的不同，投资利息开始计算的时间不同，计息方式是：T(成交日)+1：当天投资，次日开始计息，以此类推。
                </p>
            </li>
            <li>
                <strong>12.投资后是否可以取消？</strong>
                <p>
                    您在投资后无法取消投资，也不能提前要求债务人还款。
                </p>
            </li>
            <li>
                <strong>13.如何设置提现的银行账户？</strong>
                <p>
                    您可以“登录账号→鼠标移至“用户名”→我的账户→银行卡管理”页面，添加并绑定您的银行账户信息，在方便提现操作的同时保障您的账户安全。
                    绑定银行账户的操作非常简单，您只需提供您的银行卡号、开户银行及开户省市即可进行绑定。<br/>
                    注：请确保您填写的银行账号的开户人姓名和您在有融网投资实名认证的真实姓名一致，否则提现无法成功。

                </p>
            </li>
            <li>
                <strong>14.银行账号输错了怎么办？</strong>
                <p>
                    您可以“登录账号→鼠标移至“用户名”→我的账户→银行卡管理”页面，点击“删除”按钮，删除错误银行账号，然后重新绑定新的正确的银行账户信息。
                </p>
            </li>
            <li>
                <strong>15.投资后能随时提现吗？</strong>
                <p>
                    不能，本金要到项目还款时间到期之后才能提现。到账的利息可以随时提现。
                </p>
            </li>
            <li>
                <strong>16.提现需要多长时间？</strong>
                <p>
                    您提现申请提交后，平台受理申请，具体到账时间如下：<br>
                    （1）每日15:00之前发起提现申请，次日到账。<br>
                    （2）每日15:00之后发起提现申请，三天之内到账。<br>
                    （3）具体到账时间以银行为准，详见公告，请广大用户随时关注。如有其它疑问，欢迎致电客服咨询。
                </p>
            </li>
            <li>
                <strong>17.平台提现有是否有限额？</strong>
                <p>
                    在有融网平台提现，单笔提现金额不得超过5万元，如若超过5万元，可分次提现。
                </p>
            </li>
            <li>
                <strong>18.为什么提现申请会失败？</strong>
                <p>
                    造成您提现失败的原因可能有以下几种：<br/>
                    （1）银行开户行信息错误。<br/>
                    （2）银行账号/户名错误，或是账号和户名不符。<br/>
                    （3）银行账户冻结或正在办理挂失。<br/>
                    （4）提现金额超过规定金额的最高限度。平台提现单笔金额不得超过5万元，如若超过5万元，可分次提现。<br>
                    如因银行信息业务导致您的提现遇到困难，我们会在收到银行转账失败的通知后解除您的提取资金冻结。并及时通知您相关信息，请您不必担心资金安全。<br/>

                </p>
            </li>
##			<li>
##                <strong>19.股权出质借款合法吗？</strong>
##                <p>
##                    股权质押贷款在银行及小贷公司有广泛的运用，我国《担保法》规定：“以有限责任公司及非上市股份有限公司的股份出质的，质押合同自股份出质记载于股东名册之日起生效。”<br/>
##                    另在《公司法》、《境内外机构对外担保管理办法实施细则》、《外商投资企业投资者股权变更的若干规定》等法规中，对于股权质押贷款的合法性均予以承认。<br/>
##                    此外，对于合伙企业的财产份额质押，《中华人民共和国合伙企业法》第七十二条有明确规定：“有限合伙人可以将其在有限合伙企业中的财产份额出质；但是，合伙协议另有约定的除外。”<br/>
##                    对于“合伙协议另有约定的除外”的规定，有融网风控和法律团队在甄选借款人和进行审核时，将对合伙协议是否有限合伙财产份额出质有特殊规定，进行调查和核实，确保项目不存在任何法律风险。
##                    <br/>
##                </p>
##            </li>
        </ul>
    </div>
</body>
</html>

