<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
">

	<!-- 引入属性文件 -->
	<context:property-placeholder location="
	classpath:config.properties,
	classpath:velocity.properties,
	classpath:quartz.properties,
	classpath:sina_pay.properties" />

	<!-- bean的管理 -->
	<import resource="classpath*:spring-bean.xml" />

	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.yourong" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<!-- 加载mybatis配置文件 -->
	<import resource="classpath*:spring-persistent.xml" />
	<!-- 加载timetask配置文件 -->
    <import resource="classpath:timetask.xml" /> 
	<!--图片裁剪、水印配置文件-->
	<import resource="classpath:image-config.xml" />
	  <!-- 配置权限 -->
	<bean id="myShiro" class="com.yourong.backend.authority.MyShiro" ></bean>
	<bean id="passwordService" class="org.apache.shiro.authc.credential.DefaultPasswordService" ></bean>

	<!-- 配置权限管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">  
        <!-- ref对应我们写的realm  MyShiro -->
        <property name="realm" ref="myShiro"/>  
        <!-- 使用下面配置的缓存管理器 -->
        <property name="cacheManager" ref="cacheManager"/>  
    </bean>
    
    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean"> 
    	<!-- 调用我们配置的权限管理器 --> 
        <property name="securityManager" ref="securityManager"/> 
        <!-- 配置我们的登录请求地址 --> 
        <property name="loginUrl" value="/login"/>  
        <!-- 配置我们在登录页登录成功后的跳转地址，如果你访问的是非/login地址，则跳到您访问的地址 -->
        <property name="successUrl" value="/index"/>  
        <!-- 如果您请求的资源不再您的权限范围，则跳转到/403请求地址 -->
        <property name="unauthorizedUrl" value="/403"/>  
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">  
            <value>  
            	<!-- anon表示此地址不需要任何权限即可访问 -->
            	/static/**=anon  
            	/sysUser/**=anon
            	/areaSelect=anon
            	/login=anon
            	/logined=anon
            	/validateCode=anon
            	/commonUpload/**=anon
            	/loginApi=anon
            	<!--所有的请求(除去配置的静态资源请求或请求地址为anon的请求)都要通过登录验证,如果未登录则跳到/login-->  
                /** = authc
            </value>  
        </property>  
    </bean> 
    
   <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />  
    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
    <!-- 随容器启动发送消息bean--> 
    <bean id="sendMessageBean" class="com.yourong.backend.jobs.SendMessageBean" init-method="init" destroy-method="close"/>  
	<!-- 异步发送优惠劵-->
	<bean id="receiveCouponBean" class="com.yourong.backend.jobs.ReceiveCouponBean" init-method="init" destroy-method="close"/>

</beans>