##百万现金券活动
#parse('/mobile/common.vm')
#set($layout = "/mobile/layout.vm")
#set($css_url=["$res_url/source/css/activity/mayDay4Gifts/mayDay4Gifts.css"])

##  安卓
#if($loginSource==1)
    #set($os=1)
#end
##  IOS
#if($loginSource==2)
    #set($os=2)
#end

#if($loginSource==1 || $loginSource==2)
#else
##header，安卓ios，不需要头部
<h2 class="u-pageTitle f-pos-r">
    <a href="$siteurl/mIndex">有融网</a>
        <span class=" f-pos-a f-fs18 f-ff-ver">
            #if(!$currentUser)
                <a href="$siteurl/mstation/login" id="j-login">登录</a>
                <a href="$siteurl/mstation/register" id="j-register">注册</a>
            #else
                <a href="$mCenter_logout_url">退出</a>
            #end
        </span>
</h2>
#end

#if($currentUser)
    #set($logined=true)
#else
    #set($logined=false)
#end
#CSRFToken('xToken')

##阴影层
<div class="u-shade z-fadeOut" id="j-shade"></div>

## 红包打开的弹框 移动端不放在红包雨框里面了，空间不够
<div class="m-redbag-open z-fadeOut" id="j-redbag-open">
    <img src="$res_url/img/activity/mayDay4Gifts/redbag30.png" class="u-img-responsive" alt="">
    <span class="u-redbag-close" id="j-redbag-close"></span>
    <div class="u-redbag-open-btn" id="j-redbag-open-btn">点击查看</div>
</div>

## 普通提示框，模拟Dialog的
<div class="u-dialog-mini z-fadeOut" id="j-dialog">
    <div class="u-dialog-title z-hide" id="j-dialog-title"></div>

    #if(!($loginSource==1 || $loginSource==2))
        <span class="u-dialog-btn z-hide" id="j-dialog-btn"></span>
    #end
</div>

## top bg
<img class="u-img-responsive" src="$res_url/img/activity/mayDay4Gifts/bg_top.png">

<div class="g-container" id="j-container" data-os="$os">
    <div class="g-main z-fadeOut" id="j-main" data-logined="$logined" data-userDo="${servletUtil.getUserDO().id}">
        <div class="g-redbag-wrapper" id="j-redbag-wrapper">
        ## 活动未开始或者已经结束时的蒙层
            <div class="u-rain-area-mask z-hide" id="j-rain-area-mask">
                <h1 class="u-mask-title" id="j-mask-title"></h1>
            </div>

        ## 红包雨
            <div class="g-redbag-rain" id="j-redbag-rain" data-couponForDayFlag>
                <div class="m-rain-area" id="j-rain-area">
                    <h1 class="u-title-1"><span class="u-title-icon u-icon-clock"></span>准点红包雨</h1>
                    <span class="u-redbag-flakes flakes-1"></span>
                    <span class="u-redbag-flakes flakes-2"></span>
                    <span class="u-redbag-flakes flakes-3"></span>
                    <span class="u-redbag-flakes flakes-4"></span>
                    <span class="u-redbag-flakes flakes-5"></span>
                    <span class="u-redbag-flakes flakes-6"></span>
                    <span class="u-redbag-flakes flakes-7"></span>
                    <span class="u-redbag-flakes flakes-8"></span>
                    <span class="u-redbag-flakes flakes-9"></span>
                    <span class="u-redbag-flakes flakes-10"></span>
                    <span class="u-redbag-flakes flakes-11"></span>
                    <span class="u-redbag-flakes flakes-12"></span>
                    <span class="u-redbag-flakes flakes-13"></span>
                    <span class="u-redbag-flakes flakes-14"></span>
                    <span class="u-redbag-flakes flakes-15"></span>
                </div>
                <div class="m-rule-wrapper">
                    <img src="$res_url/img/activity/mayDay4Gifts/waves.png" class="u-img-responsive">
                    <div class="m-rule-30">
                        1.每日<span id="j-receiveStartTime"></span>—<span id="j-receiveEndTime"></span>期间，登录点击红包雨可领取现金券；每日一场，每场每位用户最多只获得一张现金券；<br>
                        2.活动期间，新用户可得60元哦（实名认证送30元+本活动领30元）；<br>
                        3.现金券起投金额≥1000元，起投期限≥30天，领取后5天内有效；
                    </div>
                </div>
            </div>
        </div>

    ## 三重礼
        <div class="g-three-gifts" id="j-three-gifts">
            <h1 class="u-title-2"><span class="u-title-icon u-icon-doller"></span>投满拿奖励</h1>

            #if(!($loginSource==1 || $loginSource==2))
                <div class="u-total-count-wrapper">
                    <p class="u-total-count z-hide">您当日累计额为：<span id="j-investAmout"></span>元</p>
                </div>
            #end

            <div class="g-gifts-wrapper" id="j-gifts-wrapper">
                <div class="m-gift m-gift-first">
                    <img class="u-img-responsive" src="$res_url/img/activity/mayDay4Gifts/redbag88.png" id="j-redbag-88">
                    <img class="u-img-responsive z-hide" src="$res_url/img/activity/mayDay4Gifts/redbag88_open.png" id="j-redbag88-open">
                    <p class="u-rule-three">
                        1.当天累计投资额满1万元可领取；<br>2.奖励使用条件：起投金额≥4000元，<br>&nbsp;&nbsp;&nbsp;起投期限≥60天；<br>3.奖励仅限当天领取，领取后5天内有效；
                    </p>
                    <span class="u-red-btn j-gift-btn" id="j-gift-btn-88">等待领取</span>
                    <a href="" id="j-gift-btn-test" class="z-hide"></a>
                </div>

                <div class="m-gift">
                    <img class="u-img-responsive"  src="$res_url/img/activity/mayDay4Gifts/redbag188.png" id="j-redbag-188">
                    <img class="u-img-responsive z-hide"  src="$res_url/img/activity/mayDay4Gifts/redbag188_open.png" id="j-redbag188-open">
                    <p class="u-rule-three">
                        1.当天累计投资额满3万元可领取；<br>2.奖励使用条件：起投金额≥8000元，<br>&nbsp;&nbsp;&nbsp;起投期限≥90天；<br>3.奖励仅限当天领取，领取后5天内有效 ；
                    </p>
                    <span class="u-red-btn j-gift-btn" id="j-gift-btn-188">等待领取</span>
                </div>

                <div class="m-gift">
                    <img class="u-img-responsive"  src="$res_url/img/activity/mayDay4Gifts/redbag500.png" id="j-redbag-500">
                    <img class="u-img-responsive z-hide"  src="$res_url/img/activity/mayDay4Gifts/redbag500_open.png" id="j-redbag500-open">
                    <p class="u-rule-three">
                        1.当天累计投资额满5万元可领取；<br>2.奖励使用条件：起投金额≥20000元，<br>&nbsp;&nbsp;&nbsp;起投期限≥120天；<br>3.奖励仅限当天领取，领取后5天内有效；
                    </p>
                    <span class="u-red-btn j-gift-btn" id="j-gift-btn-500">等待领取</span>
                </div>
            </div>
        </div>
    </div>
</div>

## 规则
<div class="g-rule">
    <strong class="f-fs16">活动规则：</strong><br>
    <p>1、活动时间：<strong>2016年5月1日—5月3日；</strong></p>
    <p>2、活动对象：有融网所有用户，新用户注册后可参与活动；<br></p>
    <span>3、准点红包雨：</span>
    <p class="u-indent-rule">
        <strong>每日14:00—15:00</strong>，登录点击红包雨可领取现金券；<br>
        每日一场，每场每位用户最多只获得一张现金券；
    </p>
    <span>4、投满拿奖励：<span><br>
    <p class="u-indent-rule">用户每日投资满一定额度，即可领取对应奖励，每档奖励每日最多领取一次，可领取多档奖励；<br>
        每日累计投资额只计算当天24小时内投资额，<br>
        前一天投资额不计入次日；</p>
    <p>5、如有其他疑问，请拨打客服热线：<strong>400-025-6688</strong>；<br>
        本活动最终解释权归有融网所有</p>
</div>

#set($pageScript="
<script>
    seajs.use('$m_js_url/activity/mayDay4Gifts.js')
</script>
")
