#parse('/mobile/common.vm')
#set($layout = "/mobile/layout.vm")
#set($css_url=["$m_css_url/modules/setPayPassword.css"])
#set($title='支付密码管理')
<style>
    [v-cloak]{
        display: none;
    }
</style>
<div id="setPayPassword" >
    <!--header-->
    <h2 class="u-header f-pos-r">
        <a href="$siteurl/mCenter/security" id="j-backUrl">返回</a>
        <span class="f-fs20" id="j-title">支付密码管理</span>
    </h2>
    <!--/header-->
    <ul v-if="!isSet" class="u-setPayPassword">
        <li class="f-fs16" @click="gotoSetPayPwd(1)">
            <span>支付密码未设置</span>
            <span class="f-fr f-color9"><i class="f-fs14">前往设置</i> ></span>
        </li>
    </ul>
    <ul v-else class="u-setPayPassword">
        <li class="f-fs16" @click="gotoSetPayPwd(2)">
            <span>修改支付密码</span>
            <span class="f-fr f-color9"> ></span>
        </li>
        <li class="f-fs16" @click="gotoSetPayPwd(3)">
            <span>找回支付密码</span>
            <span class="f-fr f-color9"> ></span>
        </li>
    </ul>
</div>
#set($pageScript="
<script src='$aliyunOss_url/res/lib/vue/v1/vue.min.js'></script>
<script>
    seajs.use('$siteurl/res/source/js/modules/setPayPassword.js')
</script>
")
#CSRFToken("xToken")