<div tabindex="-1" class="modal fade" id="modal-table" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <span class="white">×</span>
                    </button>
                    <span class="modalFormTitle">添加菜单</span>
                </div>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="sysMenu_form" method="post">
                    <input type="hidden" name="id"/>

                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 父级编号: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="parentId" class="col-xs-10 col-sm-5" placeholder="parentId" id="form-field-parentId">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 类型: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                #dictSelect ("type",${sysServiceUtil.getDictList('menu_type')} ,"请选择")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 菜单名称: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="name" class="col-xs-10 col-sm-5" placeholder="name" id="form-field-name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 链接: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="href" class="col-xs-10 col-sm-5" placeholder="href" id="form-field-href">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 目标: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="target" class="col-xs-10 col-sm-5" placeholder="target" id="form-field-target">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 图标: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="icon" class="col-xs-10 col-sm-5" placeholder="icon" id="form-field-icon">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 排序（升序）: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="sort" class="col-xs-10 col-sm-5" placeholder="sort" id="form-field-sort">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 状态: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="status" class="col-xs-10 col-sm-5" placeholder="status" id="form-field-status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 权限标识: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="permission" class="col-xs-10 col-sm-5" placeholder="permission" id="form-field-permission">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 备注信息: </label>

                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="remarks" class="col-xs-10 col-sm-5" placeholder="remarks" id="form-field-remarks">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="save_sysMenu" class="btn btn-primary">保存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
