 #parse("/common/common.vm")
 #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'ajax':'$root_url/transaction/ajax?', 
   'query':'$root_url/transaction/index?', 
   'save':'$root_url/transaction/save', 
   'show':'$root_url/transaction/show?id=', 
   'delet':'$root_url/transaction/delete',
   'create':'$root_url/transaction/create',
   'transPersonInfo':'$root_url/order/transPersonInfo',
   'showInterest':'$root_url/transaction/showInterest?transactionId=',
   'leaseBonusRecord':'$root_url/leaseBonusDetail/ajax?search_transactionId=',
   'getContractDownUrl':'$root_url/sysException/getContractDownUrl',
   },
   'permission':{
   		'transPersonInfo':$shiro.hasPermission('transaction:transPersonInfo'),
   		'downContract':$shiro.hasPermission('transaction:downContract'),
   		'showMobile':$shiro.hasPermission('transaction:showMobile'),
		'transactionExcel':$shiro.hasPermission('transaction:transactionExcel')
   },
   'status':#buildDictJson('transaction_status'),
   'interestStatus':#buildDictJson('transaction_interest_status')
   "]) 
 #set($css_url=["$root_url/static/assets/css/dropzone.css","$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
 #set($js_url=["$root_url/static/js/transaction.js","$root_url/static/js/orderPerson.js","$root_url/static/assets/js/dropzone.min.js","$root_url/static/js/dz-upload.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js"]) 
 #########################################DOM##################################### 
