##移动端注册页
#parse('/mobile/common.vm')
#set($layout = "/mobile/layout.vm")
#set($css_url=["$m_css_url/common.css","$m_css_url/landing/season1.css"])
#set($title="注册即送50元")
#set($loadJQ=true)
<input type="hidden" id="pageTag" value="landingA"/>
<script>
    #if($currentUser)
    window.location.href='$siteurl/mCenter/home';
    #end
</script>
<h2 class="u-pageTitle f-pos-r">
    <a href="$siteurl/mIndex">
        有融网
    </a>
</h2>
<div class="m-banner">
    <img src="$siteurl/res/img/landing/a/banner.jpg" />
    <div class="u-status-amount f-fs14 f-cf">
        <em class="f-ff-ver u-amount-money f-fl">
            累计成功投资:￥
        <span class="f-ff-din f-fs22">
            $!{paltformCapitalUtils.getPrefixPaltformTotalInvest()}
        </span>
        </em>
        <em class="f-ff-ver f-fr">
            注册人数:
        <span class="f-ff-din f-fs22">
            $!{paltformCapitalUtils.getPaltformMembers()}
        </span>
        </em>
    </div>
</div>
<section class="g-bd">
    <form data-action="$siteurl/mstation/register/saveMember" method="POST" class="m-reg-form j-form-xpost j-validform" data-page="register" id="j-reg-form">
        #CSRFToken('xToken')
        #onceToken()
        <input type="hidden" id="j-reg-mobile"/>
        <div class="u-ipt-group f-pos-r">
            <input type="tel" name="mobile" oncopy="return false;" onpaste="return false;" id="j-cpn" autocomplete="off" nullmsg="手机号码不能为空" errormsg="请输入正确的手机号码" class="f-round f-ipt-w430 u-ipt-text u-ipt-str" placeholder="请输入手机号码" />
            <span class='m-val-tips'></span>
            <div class="f-mob-sha f-dn" id="j-mobile"></div>
        </div>
        <div class="m-input-vercode f-cf f-pos-r">
			<span class="u-xtips-wrap">
				<input type="text" id="j-vercode" autocomplete="off" nullmsg="请输入图形验证码" class="u-ipt-text u-ipt-vercode j-vercode" placeholder="输入图形码" />
			</span>
            <img src="$siteurl/mstation/validateCode" alt="验证码" title="点击重新获取验证码" id="j-img-vercode" class="u-img-vercode" />
			<span id="j-phonecode-wrap" class="u-xtips-wrap u-phonecode-wrap z-hide">
				<input type="text" name="phonecode" autocomplete="off" id="j-phonecode" placeholder="输入手机验证码" class="f-clear f-round u-ipt-text f-ipt-w248 u-ipt-phonecode" />
			</span>
			<span class="f-round u-tips-vercode f-tips-gray f-dn">
			获得手机验证码
			</span>
            <span class="m-val-tips"></span>
        </div>
        <div class="u-ipt-group">
            <input type="password" name="password" oncopy="return false;" onpaste="return false;" class="f-round u-ipt-text f-ipt-w430 v-pwd" placeholder="输入密码，长度6-16位，至少包含数字和字母" />
        </div>
    #*  <div class="u-ipt-group">
            <input type="password" name="repassword" oncopy="return false;" onpaste="return false;" recheck="password" class="f-round f-ipt-w430 u-ipt-text v-pwd-reck" placeholder="再次输入密码" />
        </div>*#
    ##		<div class="u-ipt-group f-pos-r">
    ##			<input type="tel" id="j-refercode" autocomplete="off" value="$!{mobile}" $!{disabled} ignore="ignore" class="f-round f-ipt-w430 u-ipt-text" placeholder="推荐人手机号码，选填   $!{tureName}"/>
    ##			<span class="m-val-tips">
    ##			#if($!{tureName})
    ##				您的推荐人：$!{tureName}
    ##			#end
    ##			</span>
    ##		</div>
    ##推荐人ID
        <input type="hidden" name="referCode" id="j-refercode-val" value="$!{shortUrl}" >
        <input type="hidden" name="tid"   value="$!{request.getParameter('tid')}" >
        <input type="hidden" name="registerTraceSource" value='$!{session.getAttribute("register_TraceSource")}'/>
        <input type="hidden" name="registerTraceNo"  value='$!{session.getAttribute("register_TraceNo")}'/>
        <input type="hidden" name="referSource"  value="$!{referSource}"/>
        <input type="hidden" name="checkType" id="j-checkType" value="1"/>
        <input type="hidden" name="pngCode" id="j-pngcode"/>
        <input type="hidden" name="loginSource" value="0"/>
        <label class="f-clear f-mgl-8 f-fc-black">
            <input type="checkbox" checked="checked" name="agree" id="j-agree" />&nbsp;我已阅读并同意
            <a target="_blank" href="$res_url/page/register-agreement.html">《有融网服务协议》</a>
        </label>
        <button type="submit" class="u-reg-btn1 j-reg-btn" >注册送50元</button>
    </form>
##        <div id="j-bind-success" class="u-bind-success f-dn">
##            <i class="u-icon-success"></i>&nbsp;&nbsp;恭喜您绑定成功！
##        </div>

</section>
<div class="m-guide-A">
    <div class="m-tuoguan">
        <h2>专业托管</h2>
        <img src="$siteurl/res/img/landing/a/tuoguan.jpg" />
        <span>新浪支付实时监控，资金流向透明
</span>
    </div>
</div>
<div class="m-guide-A">
    <div class="m-tuoguan">
        <h2>安全交易</h2>
        <img src="$siteurl/res/img/landing/a/jiaoyi.jpg" />
    </div>
</div>

<div class="m-guide-A">
    <div class="m-tuoguan">
        <h2>灵活理财</h2>
        <img src="$siteurl/res/img/landing/a/licai.jpg" />
        <span>车有融、新车有融、房有融 门槛低，多样化期限、收益选择</span>
    </div>
</div>

<div class="m-guide-A">
    <div class="m-tuoguan">
        <h2>稳健收益</h2>
        <img src="$siteurl/res/img/landing/a/shouyi.png" />
        <span>年化收益<em>9.58%-15%</em>，超40倍活期利率来就送<em>50元红包</em>，余额还享货基收益</span>
    </div>
</div>
#set($pageScript="
<script>
    seajs.config({
        alias:{
            'landingRegister':'$m_js_url/landing/register.js?v=${sysServiceUtil.getStaticResourceVersion()}'
        },
        preload:['jquery','validform']
    });
    seajs.use('landingRegister');
</script>
")



