#parse("/msg/message/head.vm")
<div class="col-xs-12">
	<div class="col-xs-9 col-sm-9 widget-container-span ui-sortable">
		<form id="short-message-form" method="post">
			<div class="widget-main">
				<div class="form-group clearfix">
				<label class="col-sm-2 control-label no-padding-right" for="name">发送短信名称：</label>
					<div class="col-sm-3">
						<input type="text" name="msgName" class="col-xs-10 col-sm-8"   datatype="/^[a-zA-Z0-9\u4e00-\u9fa5\s]{1,20}$/" value="$!{customMessage.msgName}" placeholder=""  datatype="/^[a-zA-Z0-9\u4e00-\u9fa5]{1,20}$/"  errormsg="请输入1-20位字母、数字或者汉字组合">
						
					</div>
				</div>
				
				<div class="form-group clearfix" >
                    <label class="col-sm-1 control-label no-padding-right" for="name">渠道商选择：</label>
                    <div class="col-sm-3">
                    	#dictSelect ("smsType",${sysServiceUtil.getDictList('msg_sms_type')} ,"请选择","smsType","*","","$!{customMessage.smsType}")
                    </div>
                </div>
				
				<div class="form-group clearfix">
					<label class="col-sm-1 control-label no-padding-right" for="name">目标用户：</label>
					<div class="col-sm-3">
						#dictSelect ("userType",${sysServiceUtil.getDictList('msg_user_type')} ,"请选择","userType","*","","$!{customMessage.userType}")
						<input type="hidden" name="msgType" value="1"/>
						<input type="hidden" name="id" value="$!{customMessage.id}"/>
						<input type="hidden" name="customAttr" id="customAttr" value="$!{customMessage.customAttr}"/>
					</div>
					<label class="col-sm-1 control-label no-padding-right" for="name">发布时间：</label>
					<div class="col-sm-3">
						<input type="text" id="sendDate" name="sendDate" value="$!{customMessage.sendDateStr}" datatype="*" placeholder="发布时间" class="col-xs-9" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm'})"/>
					</div>
				</div>
				
				<div class="form-group clearfix" id="user_type_4" style="#if($!{customMessage.userType}!=4)display:none#end">
					<label class="col-sm-1 control-label no-padding-right"></label>
					<div class="col-sm-7">
						<textarea  placeholder="请输入用户编号，多个请以英文分号分隔" datatype="*" class="custom-attr" value="#if($!{customMessage.userType}==4)$!{customMessage.customAttr} #end" id="custom_user" style="width:750px;height:100px;">#if($!{customMessage.userType}==4)$!{customMessage.customAttr} #end</textarea>
					</div>
				</div>
				<div class="form-group clearfix" id="user_type_3" style="#if($!{customMessage.userType}!=3)display:none#end">
					<label class="col-sm-1 control-label no-padding-right"></label>
					<div class="col-sm-7">
						<input  id="custom_project" type="text" datatype="*" placeholder="请输入项目编号，只支持单个项目" value="#if($!{customMessage.userType}==3)$!{customMessage.customAttr} #end" class="col-xs-6 custom-attr"/>
					</div>
				</div>
				## 新注册用户
				<div class="form-group clearfix" id="user_type_7" style="#if($!{customMessage.userType}!=7)display:none#end">
					<label class="col-sm-1 control-label no-padding-right">结束时间：</label>
					<div class="col-sm-3">
						<input type="text" id="register_end_time" name="registerEndTime" datatype="*" value="$!{customMessage.registerEndTimeStr}" class="col-xs-9" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
					</div>
					<label class="col-sm-1 control-label no-padding-right">注册时间：</label>
					<div class="col-sm-3">
						<input type="text" id="register_days" name="registerDays" class="col-xs-8" value="$!{customMessage.registerDays}" placeholder="" datatype="n1-10"  errormsg="">天
					</div>
				</div>
				
				
				<div class="form-group clearfix">
					<label class="col-sm-1 control-label no-padding-right" for="content">发送内容：</label>
				</div>
				<div class="form-group clearfix">
					<div class="col-sm-9">
						<textarea name="content" placeholder="" rows="10" cols="121" id="form-field-shortContent" datatype="*">$!{customMessage.content}</textarea>
					</div>
				</div>
				<div class="col-xs-9 col-sm-9 widget-container-span">
            		<div class="modal-footer">
        				<button type="button" class="btn btn-default closePage" data-dismiss="modal">关闭</button>
			
					#if($action == 'edit' ||$action == 'add')
						<button type="button" id ="js-shortMsgSave" data-action=#if($!{customMessage.id} > 0) "edit" #else "save" #end class="btn btn-primary">保存</button>
					#end
    				</div>
        		</div>
			</div>
		</form>
	</div>
</div>

