<div tabindex="-1" class="modal fade" id="loan-detail-table" style="display: none;" aria-hidden="true">
	<div class="modal-dialog w900">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<div class="table-header ">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">
						<span class="white">×</span>
					</button>
					<span class="modalFormTitle">放款记录</span>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12 ">
						<div class="table-responsive ">
							<form id="loanDetail-form">
								<input type="hidden" name="projectId" id="loan-detail-projectId" value="">
							</form>
							<table id="loanDetail-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>放款时间</th>
										<th>放款金额</th>
										<th>用户支出</th>
										<th>平台支出</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>