 #parse("/common/common.vm")
 #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
	   'ajax':'$root_url/recommend/ajax?', 
	   'query':'$root_url/recommend/index?', 
	   'save':'$root_url/recommend/save', 
	   'show':'$root_url/recommend/show?id=', 
	   'delet':'$root_url/recommend/delete',
	   'update':'$root_url/recommend/update'
   },
   'permission':{
	   	'delet': $shiro.hasPermission('recommend:delete')
   	}
"
])

#set($css_url=["$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"]) 
#set($js_url=["$root_url/static/js/recommend.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js"])
 #########################################DOM##################################### 