##用户中心－页面模板
#parse("/common/common.vm")
#set($title="我的收益券_我的优惠_$!{title_suffix}")
#set($css_url=["$cssv2_url/member/member.css"])
#set($js_url=["$root_js_url/modules/member/core.js","$root_js_url/modules/coupon.js","$root_js_url/modules/member.js"])
#set($coupon="z-current")
## 用户中心头部
#parse("/member/head.vm")
## 用户中心内容
<div class="g-wrap">
    <div class="m-nav-title">
        <a href="$coupon_url[2]" class="u-title-secondary u-tit-l">
            我的人气值
        </a>
        <a href="$coupon_url[0]" class="u-title-secondary u-tit-l">
            我的现金券
		</a>
        <a href="$coupon_url[1]" class="z-current">
            我的收益券
		</a>
    </div>
	<div class="g-uc-bd f-round u-recordlist-pt f-mb100">
		<div class="g-uc-wrap">
			## 页面内容
			#if($servletUtil.getCouponCountByType(2)>0)
			<div class="m-coupon-list">
				<div id="profitCoupon">
					<div class="z-actived f-cf" id="activedProfitCoupon">
						
						<div id="activedProfitCouponResults" class="results">					

						</div>

						<div id="activedProfitCouponInput" class="resultsInput">
							<input type="hidden" name="status" value="1"/>
							<input type="hidden" name="couponStatusID" value="ActivedProfitCoupon"/>
							<input type="hidden" name="couponType" value="2"/>				
						</div>
					</div>

					<div class="z-used f-cf" id="usedProfitCoupon">

						<div id="usedProfitCouponResults" class="results">

						</div>
						<div id="usedProfitCouponInput" class="resultsInput">		
							<input type="hidden" name="status" value="2"/>
							<input type="hidden" name="couponStatusID" value="UsedProfitCoupon"/>
							<input type="hidden" name="couponType" value="2"/>				
						</div>
					</div>
					<div class="z-expired f-cf" id="expiredProfitCoupon">
						<div id="expiredCouponResults" class="results">						

						</div>
						<div id="expiredProfitCouponInput" class="resultsInput">
							<input type="hidden" name="status" value="4"/>
							<input type="hidden" name="couponStatusID" value="ExpiredProfitCoupon"/>
							<input type="hidden" name="couponType" value="2"/>
						</div>
					</div>
				</div>
			## /页面内容
		</div>
		#else
		<p class="u-coupon-empty">暂无收益券记录。<a href="$root_url/post/help/wiki.html#syq">什么是收益券？</a></p>
		#end
	</div>
	## /用户中心内容
</div>