#parse("/common/common.vm")
#########################################script#####################################
#set($js_config=[
    "'urlMap':{
    'uploadURL':'$root_url/commonUpload/uploadFile',
    'ajax':'$root_url/companymanager/ajax?',
    'save':'$root_url/companymanager/save',
    'savesort':'$root_url/companymanager/savesort',
    'edit':'$root_url/companymanager/edit',
    'delete':'$root_url/companymanager/delete',
    'savesort':'$root_url/companymanager/savesort',
    'updatestatus':'$root_url/companymanager/updatestatus',
    'releaseall':'$root_url/companymanager/releaseall',
    'ueditor':'$root_url/static/js/lib/ueditor/'
    },
    'permission':{
    },
    'status':#buildDictJson('order_standard_status'),
    'orderSource':#buildDictJson('source_sys')
    "])
#set($css_url=["$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css","$root_url/static/assets/css/dropzone.css","$root_url/static/js/lib/jcrop/jquery.Jcrop.min.css","$root_url/static/js/lib/colorbox/colorbox.css","$root_url/static/js/lib/colorbox/colorbox.css","$root_url/static/js/lib/ueditor/themes/default/css/ueditor.min.css"])
#set($js_url=["$root_url/static/js/companymanager.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js","$root_url/static/assets/js/dropzone.min.js","$root_url/static/js/dz-upload.js","$root_url/static/js/lib/jcrop/jquery.Jcrop.min.js","$root_url/static/js/lib/colorbox/jquery.colorbox-min.js"])
#########################################DOM#####################################
