 #parse("/common/common.vm")
  #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'update':'$root_url/msgTemplate/update', 
   'updateStatus':'$root_url/msgTemplate/updateStatus', 
   'ajax':'$root_url/msgTemplate/ajax', 
   'find':'$root_url/msgTemplate/find',
   'del':'$root_url/msgTemplate/del',
   'ueditor':'$root_url/static/js/lib/ueditor/',
   'uploadPic':'$root_url/static/',
   'eidtEmailTemplate':'$root_url/msgTemplate/eidtEmailTemplate',
   'saveMailTemplate':'$root_url/msgTemplate/saveMailTemplate'
   }"
 ]) 
 #set($css_url=["$root_url/static/js/lib/ueditor/themes/default/css/ueditor.min.css","$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
 #set($js_url=["$root_url/static/js/lib/My97DatePicker/WdatePicker.js","$root_url/static/js/msgTemplate.js"]) 

 #########################################DOM##################################### 