##修改密码
#parse('/common/common.vm')
#set($title="修改密码_我的资料_$!{title_suffix}")
#set($css_url=["$root_css_url/modules/login.css"])
#set($js_url=["$root_js_url/modules/login.js"])
<div class="u-login-title f-login-bg">
	<h3 class="f-fs24">修改密码</h3>
</div>
<div class="g-wrap m-login-box m-login-box2">
	<form data-action="$root_url/member/updatePassword" method="POST" id="j-reg-form" data-page="changePwd" class="m-login-form j-validform">
	  #CSRFToken()
	    <div class="u-tips-pwd f-fs14 f-fc-red f-vv">
			输入密码，长度6-16位，至少包含数字和字母
		</div>
		<div class="u-ipt-group">
		<input type="password" name="oldPassword" class="f-round u-ipt-text f-ipt-w430 v-oldPwd" oncopy="return false;" onpaste="return false;" placeholder="输入当前密码" />
		</div>
		<div class="u-ipt-group"> 
				<input type="password" name="newPassword" class="f-round u-ipt-text f-ipt-w430 v-newPwd" oncopy="return false;" onpaste="return false;" placeholder="输入新密码，长度6-16位，至少包含数字和字母" />
		</div>			
		<div class="u-ipt-group">
			<input type="password" name="checkNewPassword" recheck="newPassword"  class="f-round f-ipt-w430 u-ipt-text v-pwd-reck" oncopy="return false;" onpaste="return false;" placeholder="再次确认新密码" />
		</div>
		<input type="submit" value="修改密码" class="f-round f-fs18 f-mgl-8 f-btn-m u-btn u-btn-primary j-changepwd-btn" />
	</form>
	<div class="u-repwd-tips f-ipt-w430 f-dn" id="j-repwd-tips">
		<h2 class="f-fs24">密码修改成功</h2>
		<p class="f-fs14"><span id="j-time-count">30</span>秒以后自动返回登录页面</p>
		<a href="$root_url/security/login/" class="f-round f-fs18 f-btn-m u-btn u-btn-primary">立即登录</a>
	</div>
</div>