##委托支付管理
#parse("/common/common.vm")
#set($title="委托支付_我的存钱罐_$!{title_suffix}")
#set($css_url=["$cssv2_url/member/member.css","$root_css_url/modules/delegatePay.css"])
#set($js_url=["$root_url/static/lib/js/vue/vue.js","$root_js_url/modules/member.js","$root_js_url/modules/delegatePay.js"])
#set($isSinaPayNavi="z-current")
#set($hasSetPayPassword=${servletUtil.synPayPasswordFlag()})
#set($hasGetRealnameAuth=${servletUtil.isVerifyTrueName()})
#set($hasWithholdAuthority=${servletUtil.synWithholdAuthorityFlag()})
## 用户中心头部
#parse("/member/head.vm")

<input id="j-memberId" type="hidden" memberId='$!currentUser.id'>
## 用户中心内容
<div class="g-wrap">
    <div class="m-nav-title">
        <a href="/memberBalance/savingPot">
            存钱罐概览
        </a>
        <a class="u-title-secondary u-tit-r  #if($hasSetPayPassword!=1)z-unSetPWD #end" href="/member/paymentPassword">
            支付密码
        </a>
        <a class="u-title-secondary u-tit-r z-current #if($hasWithholdAuthority!=1)z-unSet #end" href="/member/delegatePay">
            委托支付
        </a>
    </div>
    <div class="g-uc-bd f-round" id="j-delegatePay">
        <div class="g-uc-wrap m-delegatePay">
        ## 页面内容
            <div class="u-sinapay-flag">
                <img src="../static/img/common/sinapay_logo_s20151117.png" alt="新浪支付|全程提供账户托管和支付服务">
            </div>
            <div class="m-delegate-box f-pos-r">
                <div class="u-status f-pos-a">
                    #if($hasWithholdAuthority!=1)
                        <em class="f-fs16">委托支付未开通</em><br>
                        <span class="f-fs14">支付方式：—</span><br>
                    #else
                        <em class="f-fs16">委托支付已开通</em><br>
                        <span class="f-fs14">支付方式：存钱罐余额</span><br>
                    #end

                    #if($hasSetPayPassword==0)
                        <button class="f-cur-point" @click="openBlock('#j-paymentCipherBlock')">前往开通</button>
                    #elseif($hasWithholdAuthority==0)
                        <a href="$root_url/member/pageRelay?from=delegatePay" target="_blank"   @click="openDelegatePay($event,1)"><button class="f-cur-point ">前往开通</button></a>
                    #elseif($hasWithholdAuthority==1)
                        <a href="$root_url/member/pageRelay?from=delegatePay"  target="_blank"  @click="openDelegatePay($event,2)"><button class="u-closeDelegatePay f-cur-point ">关闭委托支付</button></a>
                    #end
                    <a id="j-changePassword"  target="_blank"></a>
                </div>
                <div class="u-tips f-pos-r f-fs14">
                    <p>
                        开通委托支付功能后，您投资时将自动从您的新浪支付存钱罐账户扣除相应资金，无需再跳转至新浪支付进行支付确认操作，投资一步到位。
                        <a href="$root_url/post/payUpgrade">了解更多</a>
                        #if($hasWithholdAuthority==1)
                            <span class="u-autoInvest-tips">委托支付关闭后，自动投标功能将同步关闭。</span>
                        #end
                    </p>
                </div>
            </div>
        ## /页面内容
        </div>
##        跳转到设置支付密码弹窗
        <div class="u-paymentCipherBlock f-dn" id="j-paymentCipherBlock">
            <div class="f-fs20 u-tipTitle">
                设置支付密码提示
            </div>
                <img @click="closeBlock('#j-paymentCipherBlock')" src="../static/img/member/closeBtn.png" alt="关闭">
                <p class="f-fs20">
                    新浪支付全新升级，设置支付密码后方可进行操作
                </p>
            <a href="/member/paymentPassword">
               <button class="f-fs14">
                   前往设置
               </button>
            </a>
        </div>
##        跳转至新浪的弹窗
        <div class="u-goToSinaBlock f-dn" id="j-goToSinaBlock">
            <div class="f-fs20 u-tipTitle">跳转到新浪支付</div>
            <p class="f-fs20" v-text="tipContentText"></p>
            <button @click="closeBlock('#j-goToSinaBlock')" class="f-fs14" v-text="tipBtnLeftText"></button>
            <button @click="closeBlock('#j-goToSinaBlock')"  class="f-fs14 u-lastButton" v-text="tipBtnRightText"></button>
            <div class="u-helpTips">
                <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=4000266688" target="_blank">
                    <span class="f-fs14" >
                        如果您在操作过程中遇到问题，可咨询 在线客服 >
                    </span>
                </a>
            </div>
        </div>
    </div>
## /用户中心内容
    <div class="u-shade j-cover f-dn"></div>
</div>
#CSRFToken('xToken')