##修改密码页面
#parse("/common/common.vm")
#set($title="修改密码_我的资料_$!{title_suffix}")
<form role="form" class="form-horizontal" id="member_form" method="post" action="$root_url/member/updatePasswordByMobile">
    #CSRFToken()
    <input type="text" name="memberID" class="col-xs-10 col-sm-5" placeholder="memberID" id="form-field-username">
    <input type="text" name="mobile" class="col-xs-10 col-sm-5" placeholder="mobile" id="form-field-mobile">
    <input type="text" name="newPassword" class="col-xs-10 col-sm-5" placeholder="newPassword" id="form-field-mobile">

    <input type="submit" value="Submit"/>

</form>