<div tabindex="-1" class="modal fade" id="modal-controlRemarks" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <span class="white">×</span>
                    </button>
                    <span class="modalFormTitle">添加备注</span>
                </div>
            </div>
            <div class="modal-body" style="text-align:center">
                <form id="controlRemarks_form">
            		<thead>
            				<tr>
            					<td>
									<input type="hidden" name="controlRemarksId"  id="controlRemarksId"/>
									<textarea id="newControlRemarks" name="newControlRemarks" rows="5" cols="60" maxlength=1000 placeholder="添加备注"></textarea>
									<br/>
									<font size=2><font id="fontMax" size=2 color=red>1000</font>字以内</font>
            					</td>
        					<tr>
            		</table>
            	</form>
            </div>
			<div class="modal-footer">
                <button type="button" id="btn_add_remarks" class="btn btn-primary">提交</button> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>