.u-header a{
    position: absolute;
    left: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.u-header a:link,
.u-header a :visited,
.u-header a :hover{
    color: #fff;
    text-decoration: none;
}
.u-header span{
    font-weight: bold;
}

.f-pos-r{
    position: relative;
}
body{
    font-size: 16px;
    background: #fff;
    margin:0;
}
/**公共**/
.u-header span em{
    font-size: 0.8rem;
    font-style: normal;
    color: #fff;
}
.u-detail-alReturn{
    height: 154px;
    padding: 0 5% 0;
    border: 1px solid #df676d;
    background-color: #d74148;
}
.u-project-name{
    height: 38px;
    display: block;
    line-height: 38px;
    color: #e9999d;
}
.u-project-alReturn{
    font-size: 4rem;
    display: block;
    color: #fff;
    text-align: center;
}
.u-detail-alReturn p{
    text-align: center;
    color: #fff;
    margin-top: -10px;
    font-size: 0.8rem;
}
.u-detail-proceeds{
    height: 180px;
    padding: 0 5%;
    border-bottom: 6px solid #ccc;
}
.u-border-r{
    border-right:1px solid #ccc;
}
.u-border-b{
    border-bottom:1px solid #ccc;
}
.u-detail-proceeds span{
    width: 44%;
    height: 62px;
    padding: 28px 0 0 15px;
    float: left;
    display: inline-block;
    color: #999;
}
.u-detail-proceeds em{
    font-style: normal;
    font-size: 1.2rem;
    color: #999;
}
.u-detail-proceeds p{
    margin-top: 0.4rem;
    font-size: 0.8rem;
}
.u-detail-people,.u-detail-way{
    height: 50px;
    line-height: 50px;
    color: #999;
    text-align: center;
    font-size: 0.8rem;
}
.u-detail-people{
    background-color: #fff;
}
.u-detail-way{
    background-color: #eee;
}
.u-detail-tab{
    height: 56px;
    background-color: #fff;
}
.u-detail-tab span{
    position: relative;
    float: left;
    width: 33.3%;
    height: 53px;
    line-height: 53px;
    text-align: center;
    color: #999;
}
.u-detail-tab .ui-badge-cornernum{
    top: 3px;
    right: 10px;
    min-width: 7px;
    background: #d74147;
    font-size: 14px;
}
.u-detail-tab .z-current{
    color: #d74148;
    border-bottom:3px solid #d74148;
}
.u-project-isNovice{
    height: 50px;
    padding: 0 5%;
    background:#eee;
    color: #999;
    line-height: 50px;
    text-align: center;
}
/**投资进度条**/
.u-detail-progress{
    display: block;
    height: 6px;
    background-color: #d74148;
    margin-top: -6px;
}
/**立即投资按钮**/
.u-investment-btn a{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #d74147;
    color: #fff;
}
.u-investment-btn .z-disable{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    position: fixed;
    bottom: 0;
    background: #999;
    color: #fff;
}
