 #parse("/common/common.vm")
 #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'queryAccountDetailsAjax':'$root_url/sinaQuery/queryAccountDetailsAjax?'
   }"
 ]) 
 #set($css_url=["$root_url/static/js/lib/validform/css/style.css"])
 #set($js_url=["$root_url/static/js/sinaQuery.js", "$root_url/static/js/lib/My97DatePicker/WdatePicker.js"])  
 #########################################DOM##################################### 
