#parse("/mobile/common.vm")
#set($title='过年狂欢，一路惊喜')
#CSRFToken("xToken")
#set($css_url=["$res_url/source/css/activity/springFestival/springFestivalShare.css"])
#if($currentUser)
    #set($logined=true)
#else
    #set($logined=false)
#end
<style>
    body {
        background-color: #d64148;
    }
    p {
        margin-top: 200px;
        color: #fff;
        font-size: 20px;
        padding: 2rem;
        text-align: center;
    }
    a {
        color: #fff;
        font-weight: bold;
        text-decoration: underline;
    }
</style>
#set($appid=$!{sysServiceUtil.getWeixinAppID()})
<p data-appid="$appid" id="j-appid">扫描出错，请重新扫描！</p>

<script src="$res_url/lib/js/sea.js"></script>
#if(!$loadJQ)
<script src='$res_url/lib/js/zepto.min.js'></script>
#else
<script src="$res_url/lib/js/jquery.min.js"></script>
#end
<script>
    seajs.config({
        paths: {
            'lib':'$res_url/lib',
            'xjs':'$res_url/source/js',
            'xcss':'$res_url/source/css'
        },
        alias: {
            'zepto': 'lib/js/zepto.min',
            'jquery':'lib/js/jquery.min',
            'base': 'xjs/base',
            // 这里加入微信模块
            'wxSDK':'http://res.wx.qq.com/open/js/jweixin-1.0.0.js',
            'wxShare':'../../common/wxShare'
        }
    });

    var environment = {
        globalPath : '$siteurl',
        globalDomain : '$sysServiceUtil.getRootURL()',
        mGlobalDomain : '$sysServiceUtil.getMRootURL()',
        serverDate :  '${dateUtil.getCurrentDate().getTime()}',
    };

    seajs.use('$res_url/source/js/activity/springFestival/springFestivalShare');
</script>
