.f-width100{
      width:100%;
}
.m-anniversary-bd{
    margin-top:-90px;
    height:714px;
    background: url(/static/img/landing/anniversary2016/anniversary2016.png) no-repeat center;
}
.m-anniversary-bd h1{
    width:210px;
    color:#fff;
    font-size:40px;
    text-align: center;
    margin:0 auto;
    position:relative;
    top:518px;
    font-weight: 100;
}
.m-register-bd{
    height:900px;
    background: url(/static/img/landing/anniversary2016/register.png) no-repeat center;
}
.m-register-bd .u-register{
    width:1035px;
    padding-bottom:10px;
    margin:0 auto;
    border:5px solid #4641a7;
    border-radius:5px;
    background-color:#312e7b ;
    z-index: 100;
}
.m-register-bd .u-register h1{
    width:553px;
    text-align: right;
    color:#fff;
    font-weight: 100;
    font-size:40px;
    display: inline-block;
    margin-top:55px;
}
.m-register-bd .u-register h1.f-right{
    width:450px;
    color:#fdbe0e;
    text-align: left;
}
.f-width-height{
    width:221px;
    height:271px;
    display: inline-block;
    margin:65px 60px;
    vertical-align: middle;
}
.u-name{
    background: url(/static/img/landing/anniversary2016/name.png) no-repeat center;
}
.u-weixin{
    background: url(/static/img/landing/anniversary2016/weixin.png) no-repeat center;
}
.u-enjoy-app{
    background: url(/static/img/landing/anniversary2016/enjoyApp.png) no-repeat center;
}
.u-finish-information{
    margin-top:0;
    background: url(/static/img/landing/anniversary2016/information.png) no-repeat center;
}
.u-attach-email{
    margin-top:0;
    background: url(/static/img/landing/anniversary2016/e-mail.png) no-repeat center;
}
.u-first-invest{
    margin-top:0;
    background: url(/static/img/landing/anniversary2016/first-invest.png) no-repeat center;
}
.f-width-height h3{
    width:100%;
    color:#fff;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    position: relative;
    top:120px;
}
.f-width-height h4{
    width:100%;
    color:#fff;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    position:relative;
    top:125px;
}
.f-width-height h4 strong{
    font-size: 60px;
    font-family: "dincond";
    font-weight: 100;
}
.m-vertical-bar{
    width:1045px;
    margin:0 auto;
    position:relative;
}
.u-vertical-bar{
    width:10px;
    height:30px;
    border-left:5px solid #4641a7;
    border-right:5px solid #4641a7;
    background-color:#312e7b ;
    position:relative;
    left:85px;
    display: inline-block;
}
.u-vertical-bar.f-right{
    left:930px;
}
.m-invest-enjoy{
    height:501px;
    background: url(/static/img/landing/anniversary2016/investEnjoy.png) no-repeat center;
}
.u-invest-enjoy{
    width:1035px;
   height:460px;
    border:5px solid #4641a7;
    border-radius:5px;
    background-color:#312e7b;
    margin:0 auto;
}
.u-invest-enjoy h1{
    width:530px;
    text-align: right;
    margin-top:45px;
    margin-bottom:25px;
    color:#fff;
    font-size:40px;
    display: inline-block;
    font-weight: 100;
}
.u-invest-enjoy h1.f-right{
    width:400px;
    color:#fdbe0e;
    text-align: left;
}
.m-same-color{
    margin-top:-1px;
    background-color:#222052;
    padding-bottom:40px;
    margin-bottom:-100px;
}
.u-picture{
      width:600px;
      height:253px;
       margin:0 auto;
       background: url(/static/img/landing/anniversary2016/redbag-money.png) no-repeat center;
}
.u-picture.f-first{
    background-position:  0 12px;
}
.u-picture.f-second{
    background-position:  0 -346px;
}
.u-invest-enjoy .u-text-bottom{
    margin-top:10px;
    width:100%;
    font-size:20px;
    color:#fff;
    text-align: center;
}
.u-invest-enjoy .u-text-bottom em{
    color:#fdbe0e;
    font-size:24px;
}

/**登录框样式**/
.m-regform-land {
    width: 360px;
    padding: 65px 0 0;
}

.m-regform-land .u-ipt-text {
    width: 342px;
}

.m-regform-land .u-img-vercode {
    left: 240px;
}

.m-regform-land .u-ipt-phonecode {
    width: 177px;
    margin: 0 0 0 4px;
}

.m-regform-land .m-voice-box .u-tips-vercode {
    width: 84px;
}

.m-regform-land input[type='submit'] {
    width: 360px;
    margin: 10px 0 0;
}

.u-ipt-blank {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #656565;
    vertical-align: middle;
}

.m-regform-land .m-val-tips i {
    margin-left: 0;
}

.m-regform-land .Validform_checktip {
    margin: 0;
}

.m-input-vercode {
    min-height: 69px;
}

.m-regform-land .u-icon-success {
    display: none;
}

/**登录框样式**/
/**项目**/
/**项目块**/
/***新手项目模块***/
.m-seasonFour-products{
    height: 505px;
    background-color: #222052;
    color: #666;
    padding: 55px 0 55px;
    position: relative;
}
.u-newCustomer-item {
    background: #fff url(/static/img/activity/newCustomer/newCustomer_angle.png) no-repeat left top;
    height: 234px;
    width: 740px;
    float: left;
    margin-bottom: 10px;
}
.u-pl-wrap {
    margin: 30px auto 5px;
    position: relative;
    display: block;
    outline: 0;
}
.u-newCustomer-pic {
    float: left;
    margin: 60px 0 30px 67px;
}
.u-pl-wrap, .u-pl-wrap i {
    display: block;
    height: 120px;
    width: 120px;
}
.u-pl-wrap img {
    height: 120px;
    width: 120px;
    overflow: hidden;
}
.u-pl-wrap i {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/static/img/common/sprites.png) repeat-x -73px -190px;
}
.u-pl-wrap .u-pl-stat {
    position: absolute;
    top: -20px;
    left: -20px;
}
.u-pl-wrap .u-pl-stat {
    display: block;
}
.u-newCustomer-particulars {
    width: 504px;
    height: 128px;
    padding: 50px 20px 50px 27px;
    display: inline-block;
}
.u-newCustomer-list {
    width: 240px;
    height: 230px;
    background-color: #fff;
    margin-left: 10px;
    float: right;
}

.u-newCustomer-pic {
    float: left;
    margin: 60px 0 30px 67px;
}

.u-newCustomer-particulars > span {
    padding-bottom: 8px;
    padding-right: 263px;
    width: 504px;
    height: 22px;
    border-bottom: 1px solid #ccc;
}

.u-newCustomer-particulars > span > strong {
    margin: 0 5px;
    color: #464646;
}

.u-newCustomer-particulars > span > em {
    color: #7d7d7d;
}

.u-newCustomer-process {
    height: 3px;
    line-height: 3px;
    width: 504px;
    zoom: 1;
    background-color: #ccc;
    margin: 8px 6px 0 0;
}

.u-newCustomer-process > span {
    display: inline-block;
    height: 3px;
    overflow: hidden;
    background-color: #e33f4a;
    min-width: 0;
}
.u-newCustomer-process .z-finished {
    background-color: #f8ada8;
}
.u-newCustomer-meta {
    padding: 14px 0 0;
    position: relative;
}

.u-newCustomer-meta > em {
    margin: 0 25px 0 0;
}

.u-newCustomer-meta > em, .u-newCustomer-meta > span {
    color: #9b9b9b;
}

.u-newCustomer-meta a {
    color: #fff;
    margin: 8px 3px 0 0;
}

.u-newCustomer-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 1px;
    top: 10px;
}
.u-newCustomer-btn.z-closed {
    color: #FFF;
    background-color: #F8ADA8;
    border-color: #F8ADA8;
}
.u-newCustomer-meta a:visited {
    text-decoration: none;
}

.u-newCustomer-meta a:hover {
    text-decoration: none;
}

.u-newCustomer-info {
    height: 30px;
    color: #666;
    margin-top: 19px;
}

.m-newCustomer-info > span {
    padding-top: 28px;
    display: inline-block;
    width: 168px;
}

.m-newCustomer-info > em {
    padding-top: 28px;
    display: inline-block;
    width: 190px;
}

.u-newCustomer-days {
    font-weight: 400;
}

.m-newCustomer-info > strong {
    padding-top: 28px;
    display: inline-block;
    width: 120px;
    font-weight: 400;
}

.u-newCustomer-data01 {
    display: inline-block;
    width: 157px;
    margin-right: 8px;
}

.u-newCustomer-data {
    display: inline-block;
    width: 193px;
    margin-right: 10px;
}

.u-newCustomer-list strong {
    width: 220px;
    color: #444;
    margin-top: 20px;
    padding: 0 0 10px 20px;
    display: block;
    border-bottom: 1px solid #cecece;
}

.u-newCustomer-list th span {
    display: inline-block;
    border-bottom: 2px solid #afafaf;
}

.u-newCustomer-sus {
    width: 70px;
    text-align: center;
    padding: 12px 0px 12px 8px;
}

.u-newCustomer-smn {
    width: 72px;
    padding: 12px 8px 12px 0;
}

.u-newCustomer-sin {
    width: 65px;
    padding: 12px 8px 12px 0;
}

.u-newCustomer-list th {
    height: 36px;
    text-align: center;
}

.u-newCustomer-list td {
    height: 25px;
    width: 78px;
}

.u-newCustomer-list tbody {
    margin-top: 3px;
}

.u-newCustomer-red {
    color: #e33f4a;
}

.u-newCustomer-right {
    text-align: right;
    padding-right: 13px;
}

.u-newCustomer-left {
    padding-left: 20px;
    text-align: left;
}

.u-newCustomer-itemNm {
    width: 504px;
    font-size: 16px;
    display: block;
    height: 30px;
    padding: 0 0 5px 0px;
    border-bottom: 1px solid #ccc;
}

.u-newCustomer-itemNm:link {
    text-decoration: none;
    color: #333;
}

.u-newCustomer-itemNm:visited {
    color: #333;
}

.u-newCustomer-itemNm:hover {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.u-newCustomer-btn.z-disabled {
    background-color: #aaa;
    border-color: #aaa;
}

.u-newCustomer-itemNm strong {
    color: #464646;
}

.u-newCustomer-itemNm em {
    color: #7d7d7d;
}
.u-pbox-footer {
    background: #eee url(/static/img/common/sprites.png) repeat-x 0 -171px;
    height: 8px;
    overflow: hidden;
}
/***新手项目模块***/
/***常规项目模块***/
.m-product-box {
    background-color: #fff;
    margin-bottom: 8px;
    position: relative;
    width: 740px;
}

.m-pbox-wrap {
    padding: 30px 20px 0;
}

.u-pbox-title {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    margin: 0 30px 13px 0;
    padding: 0 4px 0 16px;
    position: relative;
    color: #7d7d7d;
    font-size: 14px;
    width: auto;
    min-width: 100px;
    max-width: 655px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.u-pbox-title {
    padding-right: 15px;
}
.u-pbox-title a {
    display: block;
    height: 22px;
    color: #7d7d7d;
}

.u-pbox-title a:hover {
    text-decoration: none;
}

.u-pbox-title strong, .u-pbox-title a strong {
    color: #464646;
}

.u-pbox-title span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 15px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -15px;
}

.u-pbox-title .u-newCustomer-link {
    position: relative;
    padding-right: 66px;
}

.u-pbox-title .u-newCustomer-tag {
    float:left;
    display: inline-block;
    width: 60px;
    height: 22px;
    overflow: hidden;
    cursor: pointer;
    margin:0 0 0 5px;
    background: url(/static/img/products/newCustomer/tag.png) no-repeat 0 3px;
}

.m-pbox-main {
    margin: 0 0 24px;
    height: 150px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.u-pbox-thumbnail {
    padding: 14px 10px;
    position: relative;
}

.u-thumbnail-wrap {
    height: 120px;
    width: 120px;
    overflow: hidden;
    display: block;
    background: url(/static/img/common/sprites.png) no-repeat -260px 0;
    position: absolute;
    left: 10px;
    top: 14px;
}

.m-pbox-info>span {
    padding-top: 28px;
    display: inline-block;
    width: 168px;
    margin-left: 4px;
    border-right: 1px solid #ccc;
}

.m-pbox-info>em {
    padding-top: 28px;
    display: inline-block;
    width: 190px;
    margin-left: 24px;
    border-right: 1px solid #ccc;
}

.m-pbox-info>strong {
    padding-top: 28px;
    display: inline-block;
    width: 120px;
    font-weight: normal;
    margin-left: 24px;
}

.m-pbox-info>span>em, .m-pbox-info>em>em, .m-pbox-info>strong>em {
    line-height: 1em;
}

.m-pbox-info {
    line-height: 1em;
}

.u-pbox-process {
    height: 3px;
    *width: 534px;
    line-height: 3px;
    zoom: 1;
    background-color: #ccc;
    margin: 8px 6px 0 0;
}

.u-pbox-process span {
    display: block;
    height: 3px;
    overflow: hidden;
    min-width: 0;
}

.u-pbox-meta {
    padding: 14px 0 0;
    position: relative;
}

.u-pbox-meta>em {
    margin: 0 25px 0 0;
}

.u-pbox-meta>em, .u-pbox-meta>span {
    color: #9b9b9b;
}

.u-pbox-meta a {
    color: #fff;
    margin-right: 10px;
}

.u-pbox-meta a:hover {
    text-decoration: none;
    color: #fff;
}

.u-pbox-btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 1px;
    top: 10px;
    *top: 14px;
}
.u-pbox-btn.z-closed{
    color: #FFF;
    background-color: #F8ADA8;
    border-color: #F8ADA8;
}
.m-product-box .u-arrow-down {
    position: absolute;
    display: block;
    width: 12px;
    height: 7px;
    overflow: hidden;
    left: 60px;
    top: 52px;
    z-index: 10;
}

/***常规项目模块***/
/***二维码***/

.u-seasonFour-recode img{
    position: absolute;
    right: 0;
    top: -560px;
}
.f-yellow-color {
    background-color: #fdbe0e;
    border-color: #fdbe0e;
}
.u-decorate-one{
    width:120px;
    height:80px;
    position:relative;
    margin-top:-30px;
    left:944px;
    margin-bottom:-50px;
    background: url(/static/img/landing/anniversary2016/decoration.png) no-repeat center;
    background-position:0  0;
}
.u-decorate-one.f-two{
    width:115px;
    height:153px;
    background-position:0  -98px;
    margin-top:-90px;
    margin-bottom:-60px;
    left:-42px;
}
.f-text-color{
    color:#fff;
}
.f-text-color a:link,.f-text-color a:hover,
.f-text-color a:visited,.f-text-color a:active {
    color:#fff;
}
.f-yellow-color{
    color:#cd7904;
}