##活动列表页
#parse('/common/common.vm')
#set($title="活动专题_$!{title_suffix}")
#set($js_url=["/static/lib/js/template.js","$root_js_url/modules/activityList.js"])
#set($css_url=["$root_css_url/modules/post.css"])
<style>
    .g-bd {
        margin-bottom: 0;
    }

</style>
<div class="g-wrap">
    <div class="m-activityList-wrap">
		<script type="text/html" id="j-activity-tplcoupon">
            <ul>
			{{each data as item i}}
			<li>
                <div class="f-cf">
                    <div class="f-fl u-activityList-time">
                        <i>●</i>
                        <span class="f-fs14">{{item.activityStartTimeStr}}</span>
                        {{if item.activityEndDescript!=="进行中"}}
                        <span class="f-fs14">{{item.activityEndTimeStr}}</span>
                        <span class="f-fs14">{{item.activityEndDescript}}</span>
                        {{else}}
                        <span class="f-fs14 u-activityList-red">{{item.activityEndDescript}}</span>
                        {{/if}}

                    </div>
                    {{if item.href.length===0}}
                        <a class="f-fl">
                            <img src="$aliyun_url/{{item.image}}" width="100%" height="100%">
                        </a>
                    {{else}}
                        <a class="f-fl" href="{{item.href}}" target="_blank">
                            <img src="$aliyun_url/{{item.image}}" width="100%" height="100%">
                        </a>
                    {{/if}}
                </div>
            </li>
			{{/each}}
            </ul>
		</script>
		<div id="j-activity-coupon"></div>
    </div>
</div>
#CSRFToken()