<!--
#set($title="安全保障-有融网-全透明的互联网理财优选平台")
#set($keywords="安全保障,投资安全,技术保障,法律监管,有融网")
#set($description="有融网将致力于成为行业理念最先进,信息最透明、风控体系最严谨的综合性金融信息服务平台而努力. ")

##安全保障 
#parse('/common/common.vm') 
#set($css_url=["$root_css_url/modules/post.css"]) 
#set($isSafetyNavi="z-current")
-->
<div class="u-secpage-title">
    <h2 class="u-sectitle-01">
		<i></i>
		 <strong class="f-fs16">投资安全</strong>
	</h2>
</div>
<div class="u-secpage-list01">
    <ul class="g-wrap f-cf">
        <li class="u-circle-12">
            <h3>优质债权</h3>
            <p>
                第三方投资管理公司通过严格的甄选和评估将优质债权项目推荐到有融网平台；平台通过第三方金融、法律合作机构和严密的风控措施对出借人（原始债权人）及其债权信息进行严格审核与筛选;多重风险管控措施严格把控上线债权项目风险，为投资人提供高收益、低风险、安全可靠的债权项目。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>风险管理</h3>
            <p>
                多层信用审查：使用专业的风控体系，对债权项目进行严格的信用评级； 债权信息尽调：对债权项目包括其内容、还款来源、银行流水、房屋、车辆、征信报告等进行核实； 严格的银行级别复审：对抵押物和担保情况进行评估，确保借款人提供资料的真实性和完整性； 完善的贷后管理：专业的项目监控和催收管理，实时报送项目出借人及借款人财务数据并第一时间进行逾期代偿。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>逾期赎回</h3>
            <p>
                债权项目借款人逾期未能及时还本付息，均由该项目原始债权人（出借人）无条件先行回购项目债权，并向投资人垫付投资本息。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>足额担保</h3>
            <p>
                出借人根据担保物评估价值严格控制向借款人发放的借款。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>资金托管</h3>
            <p>
                第三方资金托管平台——新浪支付存钱罐全程为用户资金进行托管。自始至终与平台完全隔离，确保资金安全，同时账户资金不站岗，可获得每日增值收益。用户投资资金的流转不会经过平台，平台也没有任何权限去支配资金，资金的每一次流动都将受到第三方支付平台的全程监控，用户也可清晰的掌控资金流向。
            </p>
        </li>
    </ul>
</div>
<div class="u-secpage-title" id="sectionB">
    <h2 class="u-sectitle-02">
		<i></i>
		 <strong class="f-fs16">技术保障</strong>
	</h2>
</div>
<div class="u-secpage-list02">
    <ul class="g-wrap f-cf">
        <li class="u-circle-12">
            <h3>网络技术保障</h3>
            <p>支持安全套接层协议和256位加密技术，确保有融网数据传送的私密性；</p>
            <p>架设三层高端防火墙隔离系统，确保网站结构的安全稳定和平台数据对恶意攻击的自动阻断；</p>
            <p>服务器托管在最大最安全的第三方托管机构阿里云并进行双重备份，7*24小时全方位实时主动备份；</p>
            <p>先进而完善的安全监测预警系统，可以及时发现网站的非正常访问并作出安全预警。</p>
        </li>
        <li class="u-circle-12">
            <h3>权限管理保障</h3>
            <p>严谨而完善的内部信息安全管理制度，杜绝了在未经授权的情况下窃取客户信息行为的发生，从而保障用户信息不会通过平台员工而被泄露；</p>
            <p>有融网承诺，未经本人授权，公司不会向任何第三方机构及个人披露用户的隐私数据；</p>
            <p>用户隐私信息都经过MD5加密处理，防止任何恶意攻击窃取私密信息；</p>
            <p>除以下情形外，有融网不会将用户信息泄露给任何外部机构：
                <br/> 1、征得用户同意而披露；2、国家法律法规等要求而披露；3、政府机关、司法检查机关及部门相关的要求而披露；4、应相关监管机构的要求而披露。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>数据与信息保障</h3>
            <p>生产、容灾两个数据中心同步、互为备份。保障平台历史数据和信息的永久保存；</p>
            <p>独立网站服务器保障交易数据与用户信息不被泄露；</p>
            <p>专人维护，定期安检升级，配备先进的软硬件防火墙设备；</p>
            <p>三层防火墙隔离访问层、应用层和数据层。</p>
        </li>
    </ul>
</div>
<div class="u-secpage-title" id="sectionC">
    <h2 class="u-sectitle-03">
		<i></i>
		 <strong class="f-fs16">法律监管</strong>
	</h2>
</div>

<div class="u-secpage-list03">
    <ul class="g-wrap f-cf">
        <li class="u-circle-12">
            <h3>第三方证据托管</h3>
            <p>债权形成后，平台将债权形成的相关文件及证据资料全权委托由北京市律购信息技术有限责任公司运营的绿狗网进行托管， 包括完整的债权形成合同原件、借款人身份及资产证明资料、电子档案等。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>政策法规保障</h3>
            <div>
                <h4 class="f-fs14 f-fwb">关于投资人及借款人双方民间借贷关系的合法性：</h4>
                <p>根据《合同法》第196条规定“借款合同是借款人向贷款人借款，到期返还借款并支付利息的合同”，《合同法》允许自然人等普通民事主体之间发生借贷关系，并允许出借方到期可以收回本金和符合法律规定的利息。</p>
                <h4 class="f-fs14 f-fwb">关于有融网提供居间撮合借贷媒介服务的合法性：</h4>
                <p>
                    根据《中华人民共和国合同法》第23章“居间合同”第424条规定的“居间合同是居间人向委托人报告订立合同的机会或者提供订立合同的媒介服务，委托人支付报酬的合同”，有融网作为合法设立的信息撮合服务媒介，符合法律规定，且受到法律保护。
                </p>
                <h4 class="f-fs14 f-fwb">关于电子合同的合法性：</h4>
                <p>我国新合同法第十一条规定：书面形式合同是指合同书、信件和数据电文（包括电报、电传、传真、电子数据交换和电子邮件）等可以有形地表现所载内容的形式。因此电子合同属于书面形式合同的一种，是受到法律保护的。另外有融网平台上的合同文本都是严格由专业律师起草的，保证了通过有融网平台达成的交易是具备法律效力的。 另外根据《中华人民共和国电子签名法》的规定，民事活动中的合同或者其他文件、单证等文书，当事人可以约定使用电子签名、数据电文，不能因为合同采用电子签名、数据电文就否定其法律效力。同时，《电子签名法》中还规定，可靠的电子签名与手写签名或者盖章具有同等的法律效力，明确肯定了符合条件的电子签名与手写签名或盖章具有同等的效力。
                </p>
                <h4 class="f-fs14 f-fwb">关于投资人通过有融网获得的出借收益的合法性：</h4>
                <p>根据最高人民法院《关于人民法院审理借贷案件的若干意见》第6条：“民间借贷的利率可以适当高于银行的利率，各地人民法院可以根据本地区的实际情况具体掌握，但最高不得超过银行同类贷款利率的四倍（包含利率本数）。超出此限度的，超出部分的利息不予保护。”有融网的出借理财收益未超过银行同类贷款利率的四倍，为合法利息收益，受到法律保护。</p>
            </div>
        </li>
    </ul>
</div>
<div class="u-secpage-title" id="sectionD">
    <h2 class="u-sectitle-04">
		<i></i>
		 <strong class="f-fs16">信息透明</strong>
	</h2>
</div>
<div class="u-secpage-list04">
    <ul class="g-wrap f-cf">
        <li class="u-circle-12">
            <h3>借款人</h3>
            <p>第三方专业律师团队对借款人的个人身份、财产、工作、社会关系、央行个人征信等尽职调查，确保借款人的相关信息真实、公开、透明。</p>
        </li>
        <li class="u-circle-12">
            <h3>抵（质）押物</h3>
            <p>第三方律师团队对借款人的抵押物（土地、房产、车辆）相关真实性进行实地调查并留存照片；第三方权威评估公司对质押物（土地、房产、车辆）价格评估，确保抵押物信息的真实、公开、透明。
            </p>
        </li>
        <li class="u-circle-12">
            <h3>原始债权人</h3>
            <p>有融网风控团队对原始债权人个人基本信息的调查核实，确保其真实、公开、透明；征信系统对原始债权人的信用评级，第三方评估机构对原始债权人信贷从业经验及其还款能力评估。</p>
        </li>
        <li class="u-circle-12">
            <h3>合同及其他</h3>
            <p>专业的律师团队起草合同范本，保证借款合同及其他必要项权证信息的真实、公开、透明。</p>
        </li>
    </ul>
</div>