 #parse("/common/common.vm")
 #########################################script##################################### 
  #set($js_config=[ 
 "'urlMap':{ 
   'ajax':'$root_url/loanManager/ajax?', 
   'loan':'$root_url/loanManager/loan', 
   'getLoanInfo':'$root_url/loanManager/getLoanInfo?id='
   },
    'securityType':#buildDictJson('direct_type'),##担保方式
   'borrowPeriodType':#buildDictJson('borrow_period_type'),##借款周期类型
   'p2pLoanStatus':#buildDictJson('p2p_loan_status'),##放款状态   
   'interestStatus':#buildDictJson('debt_interest_status'),  ##债权本息状态
   'channelKey':#buildDictJson('channel_key'),  ##渠道类型
   'permission':{
   		'loan':$shiro.hasPermission('loanManager:loan'),
   		'loanExcel':$shiro.hasPermission('loanManager:loanExcel')
   },
   'aliyuncsUrl':'https://oss-cn-hangzhou.aliyuncs.com'
   "])
#set($css_url=["$root_url/static/assets/css/dropzone.css","$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
#set($js_url=["$root_url/static/js/loanInfo.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js"]) 
#########################################DOM##################################### 