#set($layout = "/layout/iframe.vm")
#parse("/p2p/loan/head.vm")
<div class="col-xs-12">
  <p>
    <!--<button id = "new_debt" type="button" class="btn btn-info btn-sm btn-primary" >新增</button>-->
  </p>
</div>
<div class="col-xs-12">
	<div class="table-responsive">
	<form id="loan_form">
		<table id="debt-table-search" class="table table-striped table-bordered " cellspacing="0" width="100%">
			<thead>
				<tr>
					<td>
						项目编号：
					</td>
					<td>
						<input type="text" name="search_id" class="input-medium search_init"/>
					</td>
					<td>
						项目名称：
					</td>
					<td>
						<input type="text" name="search_name" class="input-medium search_init"/>
					</td>
					<td>
						借款人姓名：
					</td>
					<td>
						<input type="text" name="search_borrowerName" class="input-medium search_init"/>
					</td>
					
				</tr>
				<tr>
					<td>
						借款人手机：
					</td>
					<td>
						<input type="text" name="search_mobile" class="input-medium search_init"/>
					</td>
					<td>
						借款人存钱罐账号：
					</td>
					<td>
						<input type="text" name="search_borrowerId" class="input-medium search_init"/>
					</td>	
					<td>担保方式：</td>
					<td>#dictSelect ("search_securityType",${sysServiceUtil.getDictList('direct_type')} ,"请选择")
					</td>	
				</tr>
				<tr>
					
					<td>
						放款状态：
					</td>
					<td>
						#dictSelect("search_status",${sysServiceUtil.getDictList('p2p_loan_status')},"请选择")
					</td>
					<td>
						上线时间：
					</td>
					<td>
						<input type="text" name="search_createdStartTime" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>至<input type="text" name="search_createdEndTime" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
					</td>
					<td>
						放款时间：
					</td>
					<td>
						<input type="text" name="search_loanDateStartTime" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>至<input type="text" name="search_loanDateEndTime" onclick="WdatePicker({isShowClear:true,readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})"/>
					</td>
				</tr>
				
				
				<tr>
					<td colspan="10" style="text-align:center">
						<button id = "query_loan" type="button" class="btn btn-info btn-sm btn-primary">查询</button>
						<button id = "reset_loan" type="button" class="btn btn-info btn-sm btn-primary resetButton">重置</button>
					</td>
				</tr>
			</thead>
		</table>
		</form>
	</div>
</div>
<div class="col-xs-12">
	<div class="table-header">放款管理列表</div>
	<div class="table-responsive">
		<table id="loan-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th>
						<label>
							<input class="ace" type="checkbox">
							<span class="lbl"></span>
						</label>
					</th>
					<th>项目编号</th>
					<th>项目名称</th>
					<th>担保方式</th>
					<th>上线时间</th>
					<th>募集周期</th>
					<th>投满时间</th>
					<th>借款人手机</th>
					<th>借款人姓名</th>
					<th>借款人存钱罐账号</th>
					<th>项目总额</th>
					<th>借款人实际到账</th>
					<th>项目费用</th>
					<th>用户实际投资额</th>
					<th>现金券</th>
					<th>操作人</th>
					<th>放款时间</th>
					<th>放款状态</th>
					##<th>备注</th>
					<th>操作</th>
					
				</tr>
			</thead>
		</table>
	</div>
</div>
#parse("/p2p/loan/loanForm.vm")
#parse("/p2p/loan/detail.vm")