 #parse("/common/common.vm")
 #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'index':'$root_url/sysException/index?',
   'unlockedCoupon':'$root_url/sysException/unlockedCoupon',
	'delProjectRedis':'$root_url/sysException/delProjectRedis',
	'delBankCard':'$root_url/sysException/deleteBankCard',
	'payTradeNo':'$root_url/transaction/process/pay/interest',
	'synHosting':'$root_url/transaction/syn/host/collect',
	'createPreservation':'$root_url/preservation/create',
	'cansoleMobile':'$root_url/member/cancleMobile',
	'directHostPay':'$root_url/transaction//direct/host/pay',
	'directHostCollect':'$root_url/transaction/direct/host/collect',
	'addSinaHostPay':'$root_url/transaction/add/sina/host/pay',
	'createRemoteBatchPay':'$root_url/transaction/create/remote/batch/pay',
	'createHostBatchPay':'$root_url/transaction/create/host/batch/pay',
	'synProjectHostCollect':'$root_url/transaction/syn/project/host/collect',
	'refundTradeCollection':'$root_url/sysException/refundTradeCollection'
   }"
 ]) 
 #set($css_url=["$root_url/static/js/lib/validform/css/style.css"])
 #set($js_url=["$root_url/static/js/exception.js"])  
 #########################################DOM##################################### 
