html {
    color: #000;
    background: #FFF
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%
}

legend {
    color: #000
}

html {
    max-width: 640px;
    margin: auto;
    font-size: 62.5%;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    background-color: #F6F6F6;
    margin: auto;
    -webkit-font-smoothing: antialiased;
}

#g-bd .f-dn, #g-bd .z-hide {
    display: none;
}

.f-pos-r {
    position: relative;
}

#g-hd {
	line-height: 26px;
	clear: both;
    position: relative;
    top: 0;
    max-height: 50px;
    width: 100%;
    z-index: 101;
    background-color: #d74147;
}

#g-hd h1 {
	float: left;
    color: #fff;
    height: 50px;
    min-width: 200px;
    text-indent: -9999em;
    background: url(/static/img/common/logo_normal.png) no-repeat 2rem center;
    -webkit-background-size: 90px 24px;
    background-size: 90px 24px;
}

#g-bd {
    margin: 0 0 -50px;
    height: 100%;
}

#g-ft {
    display: none;
    background-color: #777;
    font-size: 1.2rem;
    color: #d7d7d7;
    text-align: center;
    padding: 0.8rem;
    line-height: 1.6rem;
}

.m-reg-form {
    padding: 2rem;
    font-size: 1.4rem;
}

.m-reg-form input {
    text-indent: 8px;
    font-size: 1.4rem;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.m-reg-form .u-ipt-text, .m-reg-form .u-reg-btn {
    width: 100%;
    height: 20px;
    padding: 12px 0 13px;
    /* min-width: 220px; */
}

.m-reg-form .u-reg-btn {
    height: 45px;
    background-color: #d74147;
    border: 1px solid #d74147;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}
 .u-reg-btn.z-disabled {
	background-color: #aaa;
	border-color: #aaa;
	cursor: default;
}
.m-reg-form label {
    display: block;
    padding: 1.5rem 0;
}

.u-ipt-group {
    padding: 0 0 1rem;
}

.m-reg-form .u-ipt-vercode {
    margin: 0 0 1rem 0;

}

.m-input-vercode {
    position: relative;
}

.m-input-vercode .u-img-vercode {
    width: 90px;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    border-left: 1px solid #d6d6d6;
    vertical-align: middle;
}

.m-input-vercode .u-ipt-phonecode {
    margin: 0 0 1rem 0;
}
.u-phonecode-wrap{
    display: inline-block;
    width: 47%;
    margin: 0 0 0 6%;
    vertical-align: top;
}
.u-phonecode-wrap span{
    display: inline-block;
    margin: 0 0 1rem 0.5rem;
}
.m-val-tips {
    color: #d74147;
}

.Validform_wrong {
    color: #d74147;
    display: block;
    padding: 1rem 0 0;
    text-indent: 0.7rem;
}

.m-val-tips .u-icon-error {
    display: block;
    padding: 1rem 0 0 0.5rem;
}

.m-input-vercode .u-icon-error {
    padding: 0 0 0 0.5rem;
}

.m-val-tips.z-success {
    color: #656565;
    display: inline-block;
    padding: 1rem 0 0 0.5rem;
}

.u-phonecode-wrap.z-hide {
    display: none;
}

.u-tips-vercode {
    display: inline-block;
    width: 47%;
    height: 20px;
    padding: 12px 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: middle;
    margin: 0 0 1rem;
    font-size:1.2rem;
}
.u-tips-voice {
    background-color: #FFFAAF;
    border:  1px solid #E0CD74;
    padding: 0.5rem;
    text-align: center;
    margin: 0 0 1rem;
}
.f-tips-blue {
    background-color: #6BAAF0;
    color: #FFF;
    border-color: #6BAAF0;
}

.f-tips-green {
    background-color: #47C147;
    color: #FFF;
    border-color: #47C147;

}
.f-tips-red {
	background-color: #d74147;
	color: #fff;
	border-color: #d74147;
}
.f-cur-point {
    cursor: pointer;
}

.u-tips-login {
    height: 3rem;
    line-height: 3rem;
    margin: 0 0 1rem;
    background-color: #FFFAAF;
    border-color: #FFFAAF;
    text-align: center;
    color: #D74147;
}

.u-reg-tips {
    line-height: 4rem;
    padding: 0 0 3rem;
    text-align: center;
    font-size: 1.4rem;
    color: #757575;
}

.u-reg-tips a {
    text-decoration: none;
    color: #06c;
    display: inline-block;
    padding: 1.5rem 0.5rem;
    line-height: 1rem;
    margin: 30px 0 0;
}

.u-bind-success {
    padding: 10rem 0 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

.u-icon-success {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background: url(/static/img/common/icon_success.png) no-repeat;
}

.m-val-tips .u-icon-success {
    display: none;
}
.u-mobile-head{
    background-color: #d74147;
    height: 50px;
    width: 100%;
}
.u-mobile-head p {
float: left;
font-size: 1.6rem;
color: #fff;
margin-left: -11%;
margin-top: 2.1%;
}
.f-ss13{
    font-size: 1.3rem;
}
.m-bindTips-content{
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    display: none;
}
.m-bindTips-content p{
    color: #666;
    margin: 48% 0 42%;
}
.m-bindTips-content span{
    height: 45px;
    background-color: #d74147;
    border: 1px solid #d74147;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
    line-height: 45px;
}
.m-input-vercode span i{
    font-style: normal;
}
.u-tips-pLeft{
    margin-left: 6%;
}