 #parse("/common/common.vm")
 #########################################script##################################### 
  #set($js_config=[ 
 "'urlMap':{ 
   'ajaxTree':'$root_url/weixin/ajaxTree?', 
   'ajaxPublish':'$root_url/weixin/ajaxPublish?', 
   'ajax':'$root_url/weixin/ajax?',
   'ajaxAtten':'$root_url/weixin/ajaxAtten?', 
   'ajaxOpen':'$root_url/weixin/ajaxOpen?',
   'save':'$root_url/weixin/save?flag=', 
   'show':'$root_url/weixin/show?id=',
   'showAtten':'$root_url/weixin/showAtten?id=',
   'ajaxClose':'$root_url/weixin/ajaxClose',
   'find':'$root_url/weixin/find?id=',
   'delTemplete':'$root_url/weixin/delete?id=',
   'add':'$root_url/weixin/add?type=',
   'uploadURL':'$root_url/commonUpload/uploadFile',
    'getWeixin':'$root_url/weixin/getWeixin',
   'saveWeixin':'$root_url/weixin/saveWeixin',
   'push':'$root_url/weixin/push',
   'del':'$root_url/weixin/del'
   },
   'permission':{
   		'show':$shiro.hasPermission('weixin:show'),
   		'ajaxTree':$shiro.hasPermission('weixin:ajaxTree'),
   		'ajaxOpen':$shiro.hasPermission('weixin:ajaxOpen'),
   		'ajaxClose':$shiro.hasPermission('weixin:ajaxClose'),
   		'del':$shiro.hasPermission('weixin:delete'),
   		'add':$shiro.hasPermission('weixin:add')
   },
   'aliyuncsUrl':'http://oss-cn-hangzhou.aliyuncs.com'
   "])
 #set($css_url=["$root_url/static/assets/css/dropzone.css","$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
 #set($js_url=["$root_url/static/js/weixinMenu.js","$root_url/static/assets/js/dropzone.min.js","$root_url/static/js/dz-upload.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js"]) 
#########################################DOM##################################### 