[v-cloak] {
    display: none;
}

@media screen and (min-width: 390px) {
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 360px) and (max-width: 389px) {

    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 359px) {
    html {
        font-size: 17px;
    }
}

.f-fc-666{
    color: #666666;
}
.f-fc-cc{
    color: #cccccc;
}
.f-fc-red{
    color: #d74148;
}

.f-fs12 {
    font-size: 12px;
}
body {
    padding: 0;
    max-width: 640px;
    margin: auto;
    height: 100%;
    font-family: "微软雅黑";
    /*background: #cc323e;*/
    background: #f4f5f7;
}

/* 去除移动端部分浏览器点击出现蓝色块 */
* {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
}

/* 用于js，切换输手机号的页面和抢红包结果的页面 */
.z-hidden{
    display: none!important;
}

/* 输入手机号码的部分 */
.g-redbag-grab{
    background: #ffffff;
    border-bottom: 1px solid #E5E5E5;
    /*background: #e94141;*/
    /*margin-top: -34px; !* 修正微信导航条高度 64px *!*/
}

.g-main{
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: -1px;
    margin-bottom: -1px;
    text-align: center;
    background: #ffffff;
    border-bottom: 1px solid #E5E5E5;
}

/* 书法 */
.g-main .u-shufa{
    padding-left:10%;
    padding-right:10%;
    margin-bottom: 40px;
}

/* 这个需要根据不同分辨率调整 */
.u-enter-phone-num,
.u-grab-btn{
    font-size: 26px;
    margin-bottom: 26px;
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 0;
    border-radius: 6px;
    box-shadow: 0;
    margin-top: 0.8rem;
    /*font-weight: bold;*/
}

.u-enter-phone-num{
    border: 1px solid #999999;
}

.g-grab-form{
    position: relative;
    overflow: hidden;
    /*background: #b72d38;*/
    background: white;
    width: 90%;
    margin: 0 auto;
}

/* 输入框上的小钱包人 */
.u-little-man-outter {
    position:relative;
}

.u-little-man{
    position: absolute;
    left: 40px;
    bottom: 0;
    width: 20%;
}


/* iphone4, 5 320宽 */
@media screen and (max-width:329px){

    .g-main{
        padding-top:20px;
        /*padding-bottom: 6px;*/
    }

    .u-little-man{
        position: absolute;
        left: 35px;
        bottom: 0;
        width: 17%;
    }
    .u-enter-phone-num,
    .u-grab-btn{
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 15px;
    }
}
/* 普通其他的手机，例如魅族之类的 */
@media screen and (min-width:330px) and (max-width:360px){
    .g-main{
        padding-top: 20px;
    }

    .u-little-man{
        position: absolute;
        left: 35px;
        bottom: 0;
        width: 17%;
    }
    .u-enter-phone-num,
    .u-grab-btn{
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
}

/* iphone6 375*667 */
@media screen and (min-width:361px) and (max-width: 390px){
    .g-main{
        padding-top: 20px;
        /*margin-bottom: -23px;*/
    }
    .u-enter-phone-num,
    .u-grab-btn{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .u-little-man{
        position: absolute;
        left: 35px;
        bottom: 0;
        width: 17%;
    }
}

/* iphone6plus 414*736 */
@media screen and (min-width:391px){
    .g-main{
        padding-top:35px;
        /*margin-bottom: 17px;*/
    }
    .u-enter-phone-num,
    .u-grab-btn{
        font-size: 24px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 25px;
    }

    .u-little-man{
        position: absolute;
        left: 35px;
        bottom: 0;
        width: 17%;
    }
}

.g-main .u-grab-btn{
    background: #d74148;
    color: #ffffff;
    /*border-radius: 80px;*/
    /*font-weight: bold;*/
    margin-top: 0;
}

.u-img-responsive{
    /*display: block;*/
    max-width: 100%;
    /*height: auto;*/
    font-size: 0;
}

/*
*   展示结果的部分
*/
.g-show-result{
    background: #ffffff;
    margin-top: 12px;
    margin-bottom: 12px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.u-circle{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 1px solid #d74148;
    color: #d74148;
    margin: 30px auto 8px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 20px;
}

/* 过期的时候，如果列表里没有数据的话圆圈居中 */
.u-circle.z-no-result-list {
    position: absolute!important;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -120px;
}
.u-circle.z-text-middle{
    padding-top: 0;
    line-height: 180px;
}


/* 圆圈里面的文案 */
.u-circle .u-get-num strong{
    margin-left: 10px;
    font-size: 100px;
    font-family: "微软雅黑";
    font-weight: normal;
}

.u-circle .u-get-num strong.u-new30{
    margin-left: 7px;
    font-size: 70px;
    font-family: "微软雅黑";
    font-weight: normal;
}

/* 只有数字的情况下，需要垂直居中 */
.u-circle.z-only-num{
    padding-top:30px!important;
}

.u-circle .u-get-num i{
    font-style: normal;
    position: relative;
    left: -3px;
}

.u-circle .u-get-num span.u-add30-a{
    font-size: 14px;
    position: relative;
    top: -10px;
}

/* 非新手，已抢完，已过期 */
.u-circle .u-notNew {
    font-size: 36px;
    font-weight: normal;
}

.u-circle .u-notNew1{
    font-size: 14px;
}

.u-circle .u-already-get{
    position: relative;
    top: -15px;
    font-size: 14px;
}

/* 已存入账户 text */
.u-get-text{
    text-align: center;
    color: #999;
    font-size: 14px;
    margin-bottom: 20px;
}

/* 结果list */
.u-list-title{
    font-size: 18px;
    color: #333333;
    font-weight: normal;
    text-align: center;
    margin-bottom: 25px;
    vertical-align: middle;
}

.u-list-title .u-grayLine {
    border-bottom: 1px solid #cccccc;
    width: 34%;
    height: 0
}

.u-list-title .u-title {
    margin: 0 4%;
}

.u-list-title span {
    display: inline-block;
    vertical-align: middle;
}
.u-result-text{
    background: #f5f5f5;
    padding: 14px 4% 0;
    color: #666666;
    text-align: left;
    font-size: 12px;
}

.u-bestluck-wrapper{
    padding-left: 10%;
    padding-right: 10%;
}
.u-best-luck{
    display: inline-block;
    background: #d74148;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    padding-left:7px;
    padding-right:7px;
    height: 20px;
    line-height: 20px;
}
.u-icon-bestluck{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../../../../img/activity/popularityRedPackage/icon_bestluck2.png?20170123160500") no-repeat 0px 6px;
    background-size: 90%;
}

.u-list {
    padding: 0 4% 20px 4%;
    /*text-align: center;*/
    margin: 5px auto 0;
    list-style: none;
}

.u-list .u-bottomPart {
    clear: both;
}
.u-list i{
    color:#999999;
    font-size:12px;
    font-style: normal;
    text-align: left;
    width: 60%;
    clear: both;
    display: block;
}

.u-list>li{
    margin-bottom: 0.8rem;
    /*padding-bottom: 0.5rem;*/
    font-size: 12px;
    overflow: hidden;
    position: relative;
    padding-top: 7px;
}

.u-list > li img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
}

.u-list > li .u-gainInfo {
    display: inline-block;
    vertical-align: middle;
    width: 85%;
    position: relative;
    margin-left: 1%;
}
.u-list-phone {
    float: left;
    color: #333333;
    vertical-align: middle;
    display: inline-block;
}

.u-list-num {
    float: right;
    color: #d74148;
    vertical-align: middle;
    display: inline-block;
}

.u-list-num.z-with30 {
    position: relative;
}

/* 底部的注册按钮 */
.u-register-btn{
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    background: #d74148;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}
.u-register-btn:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/* iphone4, 5 320宽 */
@media screen and (max-width:329px){
    .u-register-btn{
        padding-top:10px;
        padding-bottom:10px;
    }
}

/* iphone6 375*667 */
@media screen and (min-width:361px) and (max-width: 390px){
    .g-show-result{
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .u-list>li{
        font-size: 15px;
    }
}

/* iphone6plus 414*736 */
@media screen and (min-width:391px){
    .g-show-result{
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .u-list>li{
        font-size: 16px;
    }
}

/* 规则部分 */
.g-rule{
    background: #ffffff;
    width: 90%;
    color: #999999;
    padding: 20px 5% 3rem 5%;
    border-top: 1px solid #E5E5E5;
    /*padding-bottom: 3rem;*/
}
.g-rule h2{
    font-size: 18px;
    text-align: center;
    margin-top: 0;
    font-weight: normal;
    color: #333333;
    vertical-align: middle;
}

.g-rule h2 .u-grayLine {
    border-bottom: 1px solid #cccccc;
    width: 33%;
    height: 0;
}

.g-rule h2 .u-title {
    margin: 0 4%;
}

.g-rule h2 span {
    display: inline-block;
    vertical-align: middle;
}
.g-rule p{
    font-size: 0.7rem;
    text-align: justify;
    margin: 0;
    line-height: 1.5rem;
}

.m-quan-bg{
    background: url("../../../../img/activity/popularityRedPackage/quan-2.png?20170123160500") no-repeat;
    background-size: 100% 100%;
    width: 15rem;
    height: 5rem;
    margin: 1rem auto 0;
}
.m-quan-bg-over{
    background: url("../../../../img/activity/popularityRedPackage/quan-bg-2.png?20170123160500") no-repeat;
    background-size: 100% 100%;
    color: #666666;
    line-height: 5rem;
    margin-bottom: 1rem;
}
#j-user-mobile{
    font-size: 0.7rem;
    /*color: white;*/
    color: #666666;
    display: inline-block;
}
#j-user-mobile-num{
    font-size: 0.7rem;
    /*color: #fbe900;*/
    color: #d74148;
    display: inline-block;
}
.m-quan-left{
    float: left;
    font-size: 0.7rem;
    width: 40%;
    padding-top: 0.8rem;
}
.m-quan-right{
    float: right;
    font-size: 0.7rem;
    width: 55%;
    padding-top: 1.4rem;
}
.m-quan-right-1{
    padding-top: 1rem;
}
.m-quan-left p{
    margin: 0;
}
.m-quan-right p{
    text-align: left;
    margin: 0;
}
#j-pop-num{
    font-size: 1.6rem;
}
#j-pop-redbag{
    font-size: 1.6rem;
}
.u-grab-btn a{
    text-decoration: none;
    color: white;
}

.u-poptips {
    background-color: rgba(0,0,0,0.8);
    line-height: 60px;
    height: 60px;
    width: 80%;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 10%;
    z-index: 100001;
}

.u-cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 198;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}

.u-list-best{
    background: url("../../../../img/activity/popularityRedPackage/huangguan.png?20170123160500") no-repeat;
    background-size: 16px 14px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    /*color: #fbe900;*/
    color: #d74148;
    font-size: 12px;
}

.u-img-href{
    display: block;
    width: 100%;
}

.u-changePhone {
    width: 90%;
    margin: 0 auto;
}

.u-changePhone .u-oldPhone {
    font-size: 14px;
    color: #333333;
    margin: 6px 0;
}

.u-changePhone .u-changeTips {
    font-size: 14px;
    color: #666666;
    margin: 6px 0;
}

.u-changePhone .u-changeInput {
    width: 90%;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 10px;
}

.u-memberMsg .u-changeBtn {
    font-size: 14px;
    color: #d74148;
    text-decoration: underline;
    margin-left: 4px;
}
