 #parse("/common/common.vm")
 #########################################script##################################### 
 #set($js_config=[ 
 "'urlMap':{ 
   'index':'$root_url/sysException/index?',
   'unlockedCoupon':'$root_url/sysException/unlockedCoupon',
	'delProjectRedis':'$root_url/sysException/delProjectRedis',
	'delBankCard':'$root_url/sysException/deleteBankCard',
	'payTradeNo':'$root_url/transaction/process/pay/interest',
	'synHosting':'$root_url/transaction/syn/host/collect',
	'createPreservation':'$root_url/preservation/create',
	'cansoleMobile':'$root_url/member/cancleMobile',
	'directHostPay':'$root_url/transaction//direct/host/pay',
	'directHostCollect':'$root_url/transaction/direct/host/collect',
	'addSinaHostPay':'$root_url/transaction/add/sina/host/pay',
	'synProjectHostCollect':'$root_url/transaction/syn/project/host/collect',
	'cancellationMember':'$root_url/sysException/cancellationMember',
	'synBalance':'$root_url/sysException/synBalance',
	'bindingVerify':'$root_url/sysException/bindingVerify',
	'createRedPackage':'$root_url/sysException/createRedPackage',
	'synBatchHostPay':'$root_url/transaction/syn/batch/host/pay',
	'handleDirectPorjectCollect':'$root_url/sysException/handleDirectPorjectCollect',
	'handleTransferPorjectCollect':'$root_url/sysException/synTransferPay',
	'collectTradeGuaranteeFee':'$root_url/directProject/create/collectTrade/guaranteeFee',
	'contractReInit':'$root_url/sysException/contractReInit',
	'contractHistoryInit':'$root_url/sysException/contractHistoryInit',
	'queryContractInfo':'$root_url/sysException/queryContractInfo',
	'autoSignSecond':'$root_url/sysException/autoSignSecond',
	'findTransactionId':'$root_url/sysException/findTransactionId',
	'sendFiveRites':'$root_url/sysException/sendFiveRites',
	'hostingRefundUnfrozen':'$root_url/sysException/hostingRefundUnfrozen',
	'getContractDownUrl':'$root_url/sysException/getContractDownUrl',
	'memberLevelUpHandle':'$root_url/sysException/memberLevelUpHandle',
	'sendQuickDirectLottery':'$root_url/sysException/sendQuickDirectLottery',
	'sysRechargeLog':'$root_url/sysException/sysRechargeLog'
   }"
 ]) 
 #set($css_url=["$root_url/static/js/lib/validform/css/style.css"])
 #set($css_url=["$root_url/static/js/lib/My97DatePicker/skin/WdatePicker.css"])
 #set($js_url=["$root_url/static/js/exception.js","$root_url/static/js/lib/My97DatePicker/WdatePicker.js"])  
 #########################################DOM##################################### 
