<div tabindex="-1" class="modal fade" id="modal-table_interest_form" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <span class="white">×</span>
                    </button>
                    	选择垫资人
                </div>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" id="repay_interest_info_form" method="post">
                    <input type="hidden" name="id" />
                    <input type="hidden" name="interestId"  id="form-field-interestId">
                    <input type="hidden" name="projectId" id="projectId"/>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 项目名称: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="projectName"  readonly  class="col-xs-10 col-sm-5"  id="form-field-projectName">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 期数: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="periods" class="col-xs-10 col-sm-5" readonly id="form-field-periods" >
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 还款日期: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="dataTime" class="col-xs-10 col-sm-5" readonly id="form-field-dataTime" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 借款人姓名: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="borrowerName" readonly class="col-xs-10 col-sm-5" placeholder="" id="form-field-borrowerName" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 借款人手机号: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="mobile" class="col-xs-10 col-sm-5"  readonly id="form-field-mobile" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 需支付本金: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="payablePrincipal" readonly class="col-xs-10 col-sm-5" id="form-field-payablePrincipal">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right">需支付利息: </label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="payableInterest" readonly class="col-xs-10 col-sm-5" placeholder="" id="form-field-payableInterest">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 共需支付:</label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="totalPayAmount" readonly class="col-xs-10 col-sm-5" placeholder="" id="form-field-totalPayAmount" >
                            </div>
                        </div>
                    </div>
					
					 <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> 选择垫付第三方：</label>
		                <div class="col-sm-9">
							 <div class="clearfix">
								#dictSelect ("thirdMemberId",${sysServiceUtil.getThirdCompanyList()} ,"请选择","thirdMemberId","*")
							 </div>
						</div>
                    </div>
                     <div class="form-group">
                        <label for="form-field-1" class="col-sm-3 control-label no-padding-right">第三方账户余额：</label>
                        <div class="col-sm-9">
                            <div class="clearfix">
                                <input type="text" name="creditAmount" readonly class="col-xs-10 col-sm-5" placeholder="" id="form-field-creditAmount" >
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" id="btn_save_pay_interest" class="btn btn-primary">确定垫付</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_interest">取消</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
